/**
 * Header Menu
 */
.header-nav {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;

  .row {
    display: block;
  }

  .buy-btn {
    font-size: 12px;
    letter-spacing: 1.5px;
    white-space: nowrap;

    padding: 12px 16px 9px;

    margin: 0 20px 0 0;
    position: relative;
    top: -1px;

    background: $orange-gradient;

    &:hover {
      background: $orange-gradient-reverse;
    }
  }
}

.header-menu {
  display: inline-block;

  li {
    display: inline-block;
  }
}

/**
 * Top menu
 */
.top-menu {
  font: 12px/16px $ubuntu-bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: right;
  padding: 22px 0 0 0;
  margin-left: 20px;
  height: 50px;
  position: relative;
  z-index: 50;

  >li {
    display: inline-block;
  }
}

.header-menu {
  li {
    margin-left: 20px;

    @include sm-down {
      margin: 0 20px 0 0;
    }

    a {
      color: $dark-grey;
      letter-spacing: 1.5px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/**
 * Notification
 */
.notification-block {
  position: relative;
  margin: 0 18px 0 20px;
  width: 33px;
}

.notification {
  position: absolute;
  left: -1px;
  top: -22px;
  width: 33px;

  .notification-icon {
    width: 33px;
    height: 33px;

    position: absolute;
    left: 0;
    top: -1px;

    z-index: 1;
    background-image: url('../images/icons/ic-notification-original-no-number.svg');
    background-repeat: no-repeat;
    background-size: 33px;
  }

  @include xs-down {
    margin: 0;
  }

  .number-block {
    color: $white;
    font: 10px/14px $ubuntu-bold;
    text-align: center;

    position: absolute;
    top: 1px;
    right: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $orange-gradient;
    z-index: 2;

    .number {
      display: inline-block;
      padding: 2px 0 0 2px;
    }
  }
}

.btn-menu-panel {
  display: inline-block;
  top: 10px;
  position: relative;
}


.mobile-top-menu {
  display: none;
}


@media only screen and (max-width: 860px) {
  .notification {
    margin: 0 5px;
  }

  .header-menu li {
    margin-right: 5px;
  }
}

/**
 * Mobile
 */
@media only screen and (max-width: 767px) {

  .mobile-top-menu {
    display: block;
  }

  .desktop-top-menu {
    display: none;
  }

  .top-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;

    width: 100%;
    height: auto;

    background: $white;

    >li {
      padding: 0;
    }
  }

  .header-menu {
    position: relative;
    bottom: 17px;
  }

  .notification {
    bottom: 13px;
  }

  .btn-menu-panel {
    top: 0;
    border-left: 1px solid #e7e7e7;
    padding: 15px 17px 10px;

    .btn-pm-show {
      span {
        background-color: $black;
      }
    }

  }

  .pm-target:hover {
    background: none;
  }

  .footer {
    padding: 50px 32px 110px;
  }

  .notification-block {
    margin-top: -15px;
  }

}

@media only screen and (max-width: 357px) {
  .header-menu {
    >li:last-child {
      display: none;
    }
  }
}
