/**
 * Popup Menu
 */
 .popup-menu {
  display: none;

  position: fixed;

  top: 0;
  width: 100%;
  height: 100vh;

  z-index: $zindex-popover;

  a {
    @include unselectable;
  }
}

/**
 * Header
 */
.pm-header {
  position: relative;
  z-index: $zindex-popover + 1;

  .logo {
    margin: 0 0 0 -10px;
  }
}

/**
 * Background
 */
.popup-menu-cover {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background: $white;
}

.popup-menu-shape {
  background: url('../images/planet-1-black-transparent-orange.png') no-repeat;
  position: absolute;
  width: 1026px;
  height: 1050px;
  left: -550px;
  top: -320px;
}

/**
 * Content
 */
.pm-content {
  padding: 117px 0 0;
  position: relative;
  z-index: 1000;
}

/**
 * Primary ( level 1 )
 */
.pm-item {
  font-weight: 400;
  max-width: 180px;
  padding: 19px 0;

  // Primary level link
  .pm-target {
    color: $white;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1.95px;
    font-family: $ubuntu-bold;
    text-transform: uppercase;

    display: block;
    position: relative;

    &:hover {
      &:before {
        background: url('../images/icons/ic-arrow-big-right-white.svg');
      }
    }

    &:before {
      content: '';
      right: 0;
      top: 0;
      width: 24px;
      height: 24px;
      position: absolute;
      background-repeat: no-repeat;
    }
  }

  // Primary level active item
  &.active {
    .pm-target {
      &:before {
        background: url('../images/icons/ic-arrow-small-down-white.svg');
      }
    }

    &.pm-item-short {
      .pm-target {
        &:before {
          background: url('../images/icons/ic-arrow-big-right-white.svg');
        }
      }
    }
  }
}

.pm-item-content {
  margin: -15px 0 4px;
}

/**
 * Primary Submenu ( level 2 )
 */
.pm-submenu-item {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  max-width: 180px;
  padding: 17px 0;

  &:last-child {
    padding-bottom: 0;
  }

  &.active {
    .pm-submenu-target {
      font-family: $ubuntu-bold;

      &:before {
        background: url('../images/icons/ic-arrow-big-right-white.svg');
      }
    }

    .pm-details {
      display: block;
    }
  }

  .pm-submenu-target {
    color: $white;
    font-size: 16px;
    line-height: 16px;
    font-family: $ubuntu-reg;
    letter-spacing: normal;

    display: block;
    position: relative;

    background-repeat: no-repeat;

    &:hover {
      font-family: $ubuntu-bold;

      &:before {
        background: url('../images/icons/ic-arrow-big-right-white.svg');
      }
    }

    &:before {
      content: '';
      right: 2px;
      top: -7px;
      width: 24px;
      height: 24px;
      position: absolute;
    }

  }
}

/**
 * Details ( level 3 )
 */
.pm-details {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 80%;

  // Header
  .pm-details-header {
    color: $black;
    text-transform: lowercase;
    font-size: 48px;
    line-height: 48px;
    font-family: $ubuntu-reg;
    font-weight: normal;

    padding: 8px 0 30px;

    strong {
      color: $orange;
      font-family: $ubuntu-bold;
      font-weight: normal;
    }
  }

  .pm-details-item {
    padding: 20px 0;
    font-weight: 400;
    max-width: 270px;

    &.active {
      .pm-details-target {
        color: $grey;

        &:before {
          background: url('../images/icons/ic-arrow-small-up-gray.svg');
        }
      }

      .pm-details-submenu {
        display: block;
      }
    }
  }

  .pm-details-target {
    color: $silver;
    font-size: 18px;
    font-family: $ubuntu-bold;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    display: block;
    position: relative;

    &:hover {
      color: $grey;
    }

    &:before {
      content: '';
      right: 0;
      top: 0;
      background: url('../images/icons/ic-arrow-small-up-silver.svg');
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;

      position: absolute;
    }
  }
}

/**
 * Details Submenu ( level 4 )
 */
.pm-details-submenu {
  padding: 0;
  margin: -15px 0 15px;
  display: none;
}

.pm-details-submenu-item {
  font-weight: 400;
  padding: 6px 0;
  max-width: 270px;

  &:last-child {
    padding-bottom: 0;
  }

  &.active {
    .pm-details-submenu-target {
      color: $orange;
      font-family: $ubuntu-bold;

      &:before {
        background: url('../images/icons/ic-arrow-big-right-orange.svg');
      }
    }

    .pm-product {
      display: block;
    }
  }
}

.pm-details-submenu-target {
  color: $dark-grey;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  padding-right: 43px;

  &:hover {
    color: $orange;
    font-family: $ubuntu-bold;

    &:before {
      background: url('../images/icons/ic-arrow-big-right-orange.svg');
    }
  }

  &:before {
    content: '';
    right: 0;
    top: -2px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
  }
}

/**
 * Product Details
 */
.pm-product {
  display: none;
  position: absolute;

  top: 0;
  left: 100%;
  //width: 260px;
  width: 70%;

  .pm-product-dsc {
    color: $black;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    display: block;
  }

  .pm-product-photo {
    margin-bottom: 10px;
    text-align: center;
  }

  .img-fluid {
    width: 100%;
    max-width: 260px;
  }
}

/**
 * Show Button
 */
.btn-pm-show {
  width: 22px;
  height: 22px;
  margin: 0;
  position: relative;

  border: 0;

  display: block;

  right: 0;
  bottom: 0;

  @include unselectable;

  span {
    color: $black;

    width: 20px;
    height: 3px;
    border-radius: 12px;
    background-color: $black;

    display: block;
    position: absolute;

    left: 0;

    transform: rotate(0deg);
    transition: .4s ease-in-out;

    opacity: 1;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 6px;
    }

    &:nth-child(3) {
      top: 12px;
    }
  }

  &.active {
    span {

      &:nth-child(1) {
        top: 9px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 9px;
        transform: rotate(-135deg);
      }
    }
  }
}

/**
 * Buy Button
 */
.buy-btn {
  &.pm-button {
    color: $orange;
    background: $white;
  }
}


/**
 * Hide Menu Button
 */
.pm-item-header {
  text-align: right;
  padding: 30px 0 0 0;
}

.btn-pm-hide {
  text-indent: -9999px;
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  padding: 10px;

  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
  }

  &:before {
    border-left: 2px solid $orange;
    left: 7px;
    top: 7px;
    transform: rotate(45deg);
  }

  &:after {
    border-left: 2px solid $orange;
    left: 7px;
    top: -4px;
    transform: rotate(-45deg);
  }
}

/**
 * Accordion
 */
.accordion-content {
  display: none;

  &.active {
    display: block;
  }
}
