$right-arrow: url('../images/icons/ic-arrow-small-right-white.svg');
$left-arrow: url('../images/icons/ic-arrow-big-left-white.svg');

/**
 * Mobile
 */
@media only screen and (max-width: 767px) {
  .popup-cover {
    display: none;
  }

  .popup-menu-cover {
    display: none;
  }

  .pm-header {
    display: block;
    height: 100px;

    .logo {
      background-size: 130px 40px;
      margin-left: -15px;
    }
  }

  .popup-menu {
    width: 100%;
    top: 0;
    height: 100vh;
    padding: 0 30px 150px;

    position: fixed;
    overflow-y: scroll;

    z-index: 1000;
    background: $orange;

    // Reset column width
    .col-sm-5 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: none;
    }

    // Logo position
    .pm-logo {
      padding: 20px 0 60px;
    }

    // Items
    .pm-item {
      padding: 30px 0;
      border-top: 1px solid rgba(255, 255, 255, .2);
      max-width: none;

      .pm-target {
        font-size: 16px;
        letter-spacing: 2px;
        margin: 0;

        &:hover {
          &:before {
            background-image: $right-arrow;
          }
        }
      }
    }

    .pm-details-header {
      display: none;
    }

    // Accordion Headers
    .accordion-header {

      a,
      a:hover {
        &:before {
          content: '';
          right: 0;
          top: 0;
          background: $right-arrow;
          background-repeat: no-repeat;
          width: 24px;
          height: 24px;
          position: absolute;
        }
      }
    }

    // Content
    .accordion-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      padding: 0 15px;
      background: $orange;
    }

    .pm-submenu-item {
      max-width: none;
    }

    // <obile Back Button
    .btn-back {
      color: $white;
      font-size: 16px;
      line-height: 16px;
      letter-spacing: 2px;
      font-family: $ubuntu-bold;
      text-transform: uppercase;

      display: block;
      position: relative;

      padding: 70px 0 28px;
      margin-top: 27px;

      &:before {
        content: '';
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        position: absolute;
        background: $left-arrow;
        background-repeat: no-repeat;
        opacity: .5;
      }

      span {
        font-size: 14px;
        font-family: $ubuntu-light;
        display: block;
        opacity: .6;
        margin-top: 10px;
        text-transform: lowercase;
        letter-spacing: normal;
      }
    }

    // Submenu link
    .pm-submenu-item {
      padding: 25px 0 0;
      border-top: 1px solid rgba(255, 255, 255, .2);
    }

    .pm-submenu-target {
      font-size: 20px;
      font-family: $ubuntu-light;
      padding: 0 0 19px;
      margin: 0;

      &:hover {
        font-family: $ubuntu-light;
      }

      span {
        font-size: 14px;
        display: block;
        opacity: .6;
        margin-top: 10px;
        text-transform: lowercase;
      }

      &:before {
        top: 18px;
      }
    }

    // Details
    .pm-details-item {
      padding: 25px 0 0;
      border-top: 1px solid rgba(255, 255, 255, .2);

      &.active {
        .pm-details-target {
          color: $white;

          &:hover {
            &:before {
              background: $right-arrow;
              background-repeat: no-repeat;
            }
          }

        }
      }
    }

    .pm-details-target {
      color: $white;
      font-size: 20px;
      font-family: $ubuntu-light;
      padding: 0 0 19px;
      margin: 0;
      text-transform: none;

      &:hover {
        color: #fff;
      }

      &:before {
        top: 18px;
        background: none;
      }
    }

    .pm-details-submenu-item {
      padding: 35px 0 13px;
      border-top: 1px solid rgba(255, 255, 255, .2);
      max-width: none;

      .pm-details-submenu-target {
        color: $white;
        font-size: 20px;
        font-family: $ubuntu-light;
        padding: 0 0 19px;
        margin: 0;
        display: block;

        &:before {
          top: 0;
        }
      }
    }

    .pm-product-dsc {
      color: $white;
      font-size: 20px;
      font-family: $ubuntu-light;
      display: block;
    }

    .btn-menu-panel {
      top: auto;
      bottom: 0;
      right: 0;
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, .2);
      height: 50px;
      margin: 0 30px;
    }

    .pm-product {
      max-width: none;
    }

    .pm-details .pm-details-item {
      max-width: none;
    }

  }

  .pm-content {
    padding: 0;
  }

  .btn-pm-show {
    span {
      background-color: $white;
    }
  }

  .logo-popup-bg {
    display: none;
  }

  /**
   * Popup Footer
   */

  .pm-item-footer {
    text-align: right;
    position: relative;
    z-index: $zindex-sticky;
  }

  .btn-pm-hide {
    &:before,
    &:after {
      border-color: $white;
    }
  }

}
