<!-- begin. Footer -->
<footer class="footer">
  <div class="container-fluid">
    <div class="footer__area flex--between pb60 pb0-sm">
      <div class="left-col flex">
        <div class="logo-col sm-hidden">
          <div>
            <img src="./images/logo-argeta-orange.png" alt="">
          </div>
          <div>
            <img src="./images/logo-atlantic-grupa-white.png" alt="">
          </div>
        </div>
        <div class="info-col">
          {% include '../components/social-panel-horizontal.twig' %}

          <address class="sm-hidden">Droga Kolinska, Živilska industrija d. d Kolinska ulica 1, 1544 Ljubljana, Slovenija
          </address>
          <div class="email sm-hidden">
            <span>E:</span>
            <a href="mailto:info@argeta.com">info@argeta.com</a>
          </div>
          <div class="country">
            <a href="#" class="pick-language js-pick-language" data-popup-trigger="#pick-language-popup">
              <span class="country-flag">
                <svg width="24px" height="24px">
                  <use xlink:href="#ic-slovenia"></use>
                </svg>
              </span>
              <span class="country-flag-text white">Slovenia</span>
            </a>
          </div>
        </div>
      </div>
      <div class="right-col sm-hidden">
        <div class="nav-col flex">
          <ul>
            <li>
              <a href="#">Izdelki</a>
            </li>
            <li>
              <a href="#">Navdih</a>
            </li>
            <li>
              <a href="#">Kakovost</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#">O nas</a>
            </li>
            <li>
              <a href="#">Aktualno</a>
            </li>
            <li>
              <a href="#">Trgovinet</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__bottom-row flex--between">
      <div class="flex--middle">
        <ul class="flex">
          <li>
            <a href="#">Pravno obvetilo</a>
          </li>
          <li>
            <a href="#">Piškotki</a>
          </li>
        </ul>
        <span class="copyright">©2018 Argeta. Vse pravice pridržane.</span>
      </div>
      <div class="flex--middle sm-hidden">
        <span>Ponosni pokrovitelji</span>
        <ul class="flex--middle">
          <li>
            <svg class="logo-sloski" width="102px" height="32px">
              <use xlink:href="#logo-sloski-white"></use>
            </svg>
          </li>
          <li>
            <svg class="logo-sarajevo" width="50px" height="32px">
              <use xlink:href="#logo-sarajevo-film-festival-white"></use>
            </svg>
          </li>
          <li>
            <svg class="logo-cedevita" width="102px" height="32px">
              <use xlink:href="#logo-cedevita-white"></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom-logo">
      <svg class="logo-atlantic-grupa" width="90px" height="32px">
        <use xlink:href="#logo-atlantic-grupa-white"></use>
      </svg>
    </div>
  </div>
</footer>
<!-- end. Footer -->
