<!-- begin. Header Section -->

<!-- Background Shape -->
<div class="container">
  <div class="row">
    <div class="col">
      <div class="logo-bg-shape"></div>
    </div>
  </div>
</div>

<!-- Header -->
<header class="header">
  <div class="container-fluid">
    <div class="row">

      <!-- Logo -->
      <div class="col-sm-4">
        <div class="logo-panel">
          <a href="/pages.html" class="logo"></a>
          <div class="logo-bg"></div>
        </div>
      </div>

      <div class="col-sm-8">
        {% include 'navigation/top-menu.twig' %}
      </div>

    </div>
  </div>
</header>
<!-- end. Header Section -->

{% include 'navigation/popup-menu.twig' %}
{% include 'pick-language-popup.twig' %}