<!DOCTYPE html>
<html lang="sl">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <!-- Page Details -->
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Visual Info -->
  <title>ARGETA{{pagetitle}}</title>
  <!-- <link rel="icon" type="image/x-icon" href=""> -->

  <!-- Styles -->
  <link href="css/main.css" rel="stylesheet">
</head>

<body class="{{bodyclass}}">