<!-- begin. Language Popup -->
<div id="pick-language-popup" class="pick-language-popup popup js-popup active">
  <div class="container">
    <div class="row mt160 mt65-sm mb65 mb40-sm">
      <div class="col-lg-12 title">
        Language selection
      </div>
    </div>
    <ul class="row">
      <li class="col col-12 col-lg-3 language-menu-parent-item ">
        <div class="language-col js-mobile-collapsable">
          <a class="language-section-title language-section-title-first js-mobile-collapsable-trigger" href="#">Asia Pacific</a>
          <ul class="language-col__inner js-mobile-collapsable-body">
            <li class="language-menu-item">
              <a href="#" class="language-href">
                <svg width="24px" height="24px">
                  <use xlink:href="#ic-australia"></use>
                </svg>
                <span>Australia</span>
              </a>
            </li>

          </ul>
        </div>
      </li>
      <li class="col col-12 col-lg-6 language-menu-parent-item ">
        <div class="language-col js-mobile-collapsable">
          <a class="language-section-title js-mobile-collapsable-trigger" href="#">Europe</a>
          <ul class="row language-col__inner js-mobile-collapsable-body">
            <li class="col col-12 col-lg-6">
              <ul>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-albania"></use>
                    </svg>
                    <span>Albania</span>
                  </a>
                </li>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-austria"></use>
                    </svg>
                    <span>Austria</span>
                  </a>
                </li>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-bosnia-and-herzegovina"></use>
                    </svg>
                    <span>Bosnia and Herzegovina</span>
                  </a>
                </li>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-bulgaria"></use>
                    </svg>
                    <span>Bulgaria</span>
                  </a>
                </li>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-croatia"></use>
                    </svg>
                    <span>Croatia</span>
                  </a>
                </li>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-france"></use>
                    </svg>
                    <span>France</span>
                  </a>
                </li>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-kosovo"></use>
                    </svg>
                    <span>Kosovo</span>
                  </a>
                </li>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-montenegro"></use>
                    </svg>
                    <span>Montenegro</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="col col-12 col-lg-6">
              <ul>
                <li class="language-menu-item collapsable js-collapsable">
                  <a href="#" class="language-href collapsable-trigger js-collapsable-trigger">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-republic-of-macedonia"></use>
                    </svg>
                    <span>Republic of Macedonia</span>
                  </a>
                  <ul class="collapsable-body js-collapsable-body">
                    <li>
                      <a href="#">English</a>
                    </li>
                    <li>
                      <a href="#">French</a>
                    </li>
                  </ul>
                </li>
                <!-- collapsable -->
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-republic-of-poland"></use>
                    </svg>
                    <span>Republic of Poland</span>
                  </a>
                </li>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-russia"></use>
                    </svg>
                    <span>Russia</span>
                  </a>
                </li>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-serbia"></use>
                    </svg>
                    <span>Serbia</span>
                  </a>
                </li>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-slovenia"></use>
                    </svg>
                    <span>Slovenia</span>
                  </a>
                </li>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-spain"></use>
                    </svg>
                    <span>Spain</span>
                  </a>
                </li>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-sweden"></use>
                    </svg>
                    <span>Sweden</span>
                  </a>
                </li>
                <li class="language-menu-item collapsable js-collapsable">
                  <a href="#" class="language-href collapsable-trigger js-collapsable-trigger">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-switzerland"></use>
                    </svg>
                    <span>Switzerland</span>
                  </a>
                  <ul class="collapsable-body js-collapsable-body">
                    <li>
                      <a href="#">English</a>
                    </li>
                    <li>
                      <a href="#">French</a>
                    </li>
                  </ul>
                </li>
                <li class="language-menu-item">
                  <a href="#" class="language-href">
                    <svg width="24px" height="24px">
                      <use xlink:href="#ic-united-kingdom"></use>
                    </svg>
                    <span>United Kingdom</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </li>
      <li class="col col-12 col-lg-3 language-menu-parent-item">
        <div class="language-col js-mobile-collapsable">
          <a href="#" class="language-section-title js-mobile-collapsable-trigger">North America</a>
          <ul class="language-col__inner js-mobile-collapsable-body">
            <li class="language-menu-item collapsable js-collapsable">
              <a href="#" class="language-href collapsable-trigger js-collapsable-trigger">
                <svg width="24px" height="24px">
                  <use xlink:href="#ic-canada"></use>
                </svg>
                <span>Canada</span>
              </a>
              <ul class="collapsable-body js-collapsable-body">
                <li>
                  <a href="#">English</a>
                </li>
                <li>
                  <a href="#">French</a>
                </li>
              </ul>
            </li>
            <!-- collapsable -->
            <li class="language-menu-item">
              <a href="#" class="language-href">
                <svg width="24px" height="24px">
                  <use xlink:href="#ic-united-states-of-america"></use>
                </svg>
                <span>United States of America</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- end. Language Popup -->