.advertising-section {
	display: flex;
	justify-content: flex-end;
	margin-top: -450px;
	@include md-down {
		margin-top: 0;
		justify-content: center;
	}
}
.advertising-wrap {
	position: relative;
	padding: 0 0 100px 215px;
	.advertising-picture {
		position: absolute;
		left: 0;
		top: 40px;
	}
	@include sm-down {
		padding: 200px 0 0;
		.advertising-picture {
			top: 0;
			left: 0;
			width: 320px;
			img {
				max-width: 100%;
			}
		}
	}
}
.advertising {
	max-width: 555px;
	border-radius: 16px;
	background-color: rgba(255,255,255,0.8);
	padding: 68px 64px;
	font: 16px/26px $ubuntu-light;
	position: relative;
	@include xs-down {
		padding: 40px 16px;
		h3 {
			font-size: 32px;
			line-height: 38px;
		}
	}
	&:after {
		background: url('https://via.placeholder.com/167x56');
		position: absolute;
		z-index: 4;
		bottom: 50px;
		right: -25px;
		width: 167px;
		height: 56px;
		content: '';
	}
	ul {
		font: 16px/32px $ubuntu-bold;
		margin-bottom: 40px;
		li {
			margin-bottom: 5px;
		}
		a {
			color: $blue;
			display: inline-block;
			padding-left: 30px;
			position: relative;
			&:before {
				width: 4px;
				height: 4px;
				background: $blue;
				border-radius: 50%;
				position: absolute;
				left: 10px;
				top: 12px;
				content: '';
			}
		}
	}
}
