/**
 * Breadcrumbs
 */
.breadcrumbs {
  text-transform: uppercase;
  font: 14px/19px $ubuntu-bold;
  letter-spacing: 2px;

  li {
    margin-right: 10px;

    &:last-child {
      a {
        &:after {
          display: none;
        }
      }
    }
  }

  a {
    color: $white;
    opacity: 0.5;
    padding-right: 10px;
    position: relative;

    &:after {
      width: 2px;
      height: 90%;
      background: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(20deg);
      content: '';
    }

    &.active {
      opacity: 1;
      pointer-events: none;
      border-right: 0;

      &:after {
        display: none;
      }

      .argeta-exclusive & {
        color: $orange;
      }
    }
  }


  /**
   * Secondary
   */
  &.breadcrumbs-secondary {
    li {
      &:last-child {
        a {
          opacity: 1;
        }
      }
    }

    a {
      color: $grey;
      font-family: ubuntu-bold;
      opacity: .5;
      font-size: 10px;
      letter-spacing: 1.25;

      &:after {
        width: 1px;
        height: 11px;
        top: 2px;
        background: $grey;
      }
    }
  }
}
