.call {
  border-radius: 16px;
  background: $yellow-gradient-reverse;
  width: 100%;
  padding: 50px 50px 38px;
  margin-bottom: 120px;

  &.video-popup {
    background: url('../images/photo/industrial-dark.jpg') center center no-repeat;
    background-size: cover;
  }

  .call-title {
    color: $white;
    font-family: $ubuntu-bold;
    font-size: 24px;
    line-height: 24px;
    padding: 0 0 8px;
  }

  .btn-arrow-link {
    &:before {
      @include xs2-down {
        right:-50px;
      }
      
    }
  }
}
