/**
 * Children Book Section
 */
.childrenbook-section {
  margin-bottom: 150px;

  .mobile-blue-btn {
    display: none;
  }
}

.childrenbook-content {
  padding: 71px 64px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  z-index: 2;
}

.childrenbook-title {
  color: $yellow;
  text-shadow: 3px 3px 0 $blue;
  font: 44px/53px $loyola-pro;
  letter-spacing: 2px;
  margin-bottom: 22px;
}

.childrenbook-description {
  font-size: 16px;
  line-height: 25px;
}

.childrenbook-features {
  padding: 8px 0 40px 25px;

  >li {
    list-style: disc;
    color: $blue;
    font: 15px/32px $ubuntu-bold;
    padding: 0 0 0 11px;
  }
}

.childrenbook-img {
  max-width: 323px;
  max-height: 557px;
  margin: 23px 0 0 134px;
}

.childrenbook-arrow-img {
  position: absolute;
  bottom: 138px;
  left: -83px;
  z-index: 1;
}


/**
 * Mobile
 */
@media only screen and (max-width: 1115px) {
  .childrenbook-arrow-img {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .childrenbook-section {
    margin-top: 400px;

    .blue-btn {
      display: none;
    }

    .mobile-blue-btn {
      display: block;
      width: 156px;
    }
  }

  .childrenbook-content {
    padding: 35px 15px;
  }

  .childrenbook-title {
    font-size: 32px;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 0 $blue;
    margin-bottom: 17px;
  }

  .childrenbook-img {
    height: 424px;
    width: 246px;

    position: absolute;
    top: -295px;
    left: 32px;

    margin: 0;
  }
}

@media only screen and (max-width: 767px) {}