/**
 * Confidence Form
 */

.pika-single {

  margin-top: 16px;
  border: none;
  font-family: $ubuntu-light;

  &.is-bound {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  }

  .pika-button {
    background-color: $white;

    &:hover {
      color: $darker-grey;
      background-color: rgba($darker-grey, 0.05);
    }
  }

  .is-selected {
    .pika-button {
      color: $white;
      background: $orange;
      box-shadow: none;
    }
  }

  .is-today {
    .pika-button {
      color: $darker-grey
    }
  }
}

.confidence-form {

  // Country selector
  .form-group-inline {
    .bootstrap-select {
      width: 130px !important;
      margin-right: 8px;

      .btn-form {
        padding: 7px 12px 7px 16px;
        line-height: 38px;
      }
    }
  }

  .bootstrap-select {

    display: block !important;
    width: 100% !important;

    .btn-form {
      height: 48px;
      border-radius: 24px;
      border: 1px solid $silver;
      font-size: 14px;
      line-height: 20px;
      padding: 14px 24px;
      vertical-align: middle;

      &:focus {
        box-shadow: none !important;
        outline: none !important;
      }

      &:hover {
        border-color: $darker-grey;
      }

      .img-select {
        padding-top: 4px;
      }
    }

    .dropdown-menu {
      box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
      border: none;
      padding: 0;
      margin-top: 10px;
      margin-bottom: 10px;

      .dropdown-item.active {
        background-color: $orange;
      }

      .dropdown-item:focus, .dropdown-item:hover {
        color: $darker-grey;
        background-color: rgba($darker-grey, 0.05);
      }

      .dropdown-toggle:focus {
        outline: none;
      }
    }
  }

  .section-header {
    padding-bottom: 0px;
  }

  .section-header .section-header-title {
    font-size: 36px;
    line-height: 50px;
  }

  .section-header .section-header-subtitle {
    font-size: 20px;
    line-height: 32px;
  }

  .large-btn {

    padding: 0px 78px;
    height: 48px;

    img {
      vertical-align: middle;
      padding-left: 16px;
      padding-top: 1px;
      padding-bottom: 1px;
    }
  }

  .form-steps-list {
    color: $orange-light;
    font-family: $ubuntu-bold;
    text-transform: uppercase;
    height: 24px;
    margin-bottom: 24px;
    letter-spacing: 1.5px;

    .list-inline-item {
     vertical-align: middle;
    }

    li.active {
      color: $orange;
    }

    li.finished {
      color: $grey
    }

    li.divider {

      margin-top: -3px;
      height: 20px;

      margin-left: 15px;
      margin-right: 15px;


      &.circle {
        width: 82px;
        background: url("../../images/svg/divider-circle.svg") no-repeat center;
      }

      &.circleless {
        width: 64px;
        background: url("../../images/svg/divider-circleless.svg") no-repeat center;
      }
    }
  }

  .steps {

    border-radius: 10px;
    background-color: $white;

    .img-rounded {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .form-group {

      padding: 42px 24px 0;
      height: 100%;
      margin-bottom: 0;

      .form-group-inline {
        display: flex;
      }

      &:last-of-type {
        margin-bottom: 40px;
      }

      label {
        font-family: $ubuntu-bold;
        color: $dark-grey;
        letter-spacing: 1.5px;
        line-height: 19px;
        text-transform: uppercase;
        padding-bottom: 27px;
        vertical-align: middle;

        img {
          padding-right: 8px;
          vertical-align: bottom;
        }
      }

      input {
        color: $darker-grey;
        height: 48px;
        border-radius: 24px;
        border: 1px solid $silver;
        padding-left: 16px;
        font-size: 14px;
      }

      .form-control-margin-bottom {
        margin-bottom: 16px;
      }

      input:focus,
      input:hover {
        border-color: $dark-grey;
        box-shadow: none;
      }
    }

    .form-group-transparent {
      background-color: transparent;
      margin-top: 42px;

      .form-check {
        padding-left: 22px;
        padding-bottom: 32px;
      }

      .form-check-label {

        cursor: pointer;

        .form-check-mark {
          position: absolute;
          top: 0;
          left: 0;
          height: 16px;
          width: 16px;
          background-color: $white;
          border: 1px solid $grey;
          border-radius: 3px;
        }

        .form-check-mark:after {
          content: "";
          position: absolute;
          display: none;
        }

        input:checked ~ .form-check-mark:after {
          display: block;
        }

        .form-check-mark:after {
          left: 2px;
          top: 3px;
          width: 10px;
          height: 6px;
          border-left: 2px solid $orange;
          border-bottom: 2px solid $orange;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }

    }

    .form-group-transparent:hover {
      box-shadow: none;
    }
  }

  .col {
    margin-top: 64px;
    margin-bottom: 32px;
  }

  .confirmation {
    background: $orange-gradient;
    border-radius: 10px;
    padding: 80px 40px;

    h1 {
      padding-bottom: 16px;
    }

    p {
      padding-bottom: 30px;
    }

    .row {

      .divider {
        padding-top: 18px;
        margin-bottom: 18px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }

      .col-3:first-of-type {
        letter-spacing: 1.75px;
        text-transform: uppercase;
      }
    }
  }

  @include media-breakpoint-up(lg) {

    .section-header {
      padding-bottom: 80px;
    }

    .form-steps-list {
      margin-bottom: 48px;

      li.divider {
        margin-left: 40px;
        margin-right: 40px;
      }
    }

    .steps {
      border-radius: 0;
      background-color: transparent;

      .form-group-transparent {

        .form-check {
          padding-bottom: 0;
        }
      }

      .form-group {
        padding-bottom: 40px;
        border-radius: 10px;
        background-color: $white;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .form-group:hover {
        box-shadow: 0 8px 16px 0 rgba(233,112,0,0.2);
      }
    }
  }
}
