/**
 * Description Section
 */
.description-section {
  @include load-animation(0, 50px);

  &.visible {
    opacity: 1;
    transform: translate(0, 0);
  }

  margin-bottom: 150px;

  @include sm-down {
    margin-bottom: 120px;
  }

  @include xs-down {
    margin-bottom: 80px;
  }
}

.accordion-item {
  border-bottom: 1px solid rgba(34, 34, 34, 0.1);

  &:first-child {
    border-top: 1px solid rgba(34, 34, 34, 0.1);
  }

  .ds-text {
    margin-bottom: 20px;
  }

  /*@include sm-down {
    border: 0 !important;
    padding-bottom: 60px;
  }*/
  .hidden-box {
    margin-top: -26px;
    padding-bottom: 40px;
    display: none;
    /*@include sm-down {
      display: block !important;
      padding-bottom: 0;
    }*/
  }

  .accordion-ttl {
    padding: 45px 32px 45px 0;
    font: 24px/36px $ubuntu-bold;
    color: $grey;
    position: relative;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease;

    @include sm-down {
      font: 28px/42px $ubuntu-bold;
    }

    &:before {
      height: 2px;
      width: 14px;
      background: $grey;
      position: absolute;
      right: 0;
      top: 50%;
      content: '';
    }

    &:after {
      height: 14px;
      width: 2px;
      background: $grey;
      position: absolute;
      right: 6px;
      top: 50%;
      margin-top: -6px;
      content: '';
    }
  }

  &.active-item {
    .accordion-ttl {
      color: $orange;
      font: 48px/64px $ubuntu-bold;

      &:before {
        background: $orange;
      }

      &:after {
        display: none;
      }

      @include sm-down {
        font: 28px/42px $ubuntu-bold;
      }
    }
  }
}

.accordion-image {
  display: none;

  @include sm-down {
    display: block;
    height: 310px;
    margin-bottom: 56px;

    img {
      border-radius: 8px;
    }
  }

  @include xs-down {
    height: 210px;
  }
}

/**
 * Pictures
 */
.accordion-picture-container {
  position: relative;

  .brez-label {
    top: 30px;
    right: -30px;
    left: auto;
    bottom: auto;
  }

  .accordion-picture {
    position: absolute;
    width: 100vh;
    height: 470px;
    top: 0;
    right: 100px;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    .right-side & {
      left: 100px;
      right: auto;
    }

    &.active-picture {
      right: 15px;
      opacity: 1;

      .right-side & {
        left: 0;
        right: 0;
      }
    }

    img {
      border-radius: 10px;
    }
  }

  @include sm-down {
    display: none;
  }
}

/**
 * Content
 */
.accordion-info-container {
  overflow: hidden;

  .owl-item {
    float: left;
  }

  .owl-nav.disabled {
    display: none;
  }

  .owl-dots {
    position: absolute;
    top: 334px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;

    @include xs-down {
      top: 234px;
    }

    .owl-dot {
      display: inline-block;
      vertical-align: top;
      margin: 0 16px 0 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $grey;
      opacity: .3;

      &.active {
        opacity: 1;
      }
    }
  }
}
