.did-you-know-container {

}

.card-carousel {}

.card-carousel { 
    .citem{
        
        background-color:$white;
        border-radius: 15px!important;
        padding:0;
        box-shadow: 0px 3px 16px 0 rgba(0,0,0,.1);
        overflow:hidden;
        margin-right:10px;
    }
    /* slick */
    .slick-arrow {
        border-radius:50%;
        background-color: rgba(255,255,255,0.8);
        box-shadow: 0 3px 16px 0 rgba(0,0,0,.1);
        width:32px;
        height:32px;
    }
    

    .slick-list, 
    .slide-item img, 
    .slide-item.active-slide {
        overflow:visible;
    }
    .slick-slide {
        opacity:0;
        transition:opacity 0.3s ease 0s;
        //margin:0 20px;
    }


    .slick-slide.slick-active {
        opacity:1;
        //border:1px solid red;
    }

    .slick-next,
    .slick-prev {
        z-index:1000;
        background-repeat: no-repeat;
        background-position: center center;
        background-size:16px auto;
    }
    .slick-prev {
        left:-50px;
        background-image: url(../images/icons/ic-arrow-big-left.svg);
    }
    .slick-next {
        right: -50px;
        background-image: url(../images/icons/ic-arrow-big-right.svg);
    }

    //dots
    .slick-dots {
        bottom:-50px;
    }
    .slick-dots li {
        margin:0;
    }
    .slick-dots li button {
        border: 0;
        display: block;
        padding: 5px;
        opacity: 0.3;
        background-color: #979797;
        border-radius: 50%;
        height:8px;
        width:8px;
    }

    .slick-dots .slick-active button {
        background-color: #979797;
        opacity:1;
    }
    img.circle {
        border-radius:50%;
        width:100%;
        max-width:263px;
        height:auto;
    }
}

