.floating_item_1 {
	@include card-floating-picture(0, auto, 20%, auto, 7, -50%, 0);
	width: 100px;
	height:auto;
}
.floating_item_2 {
	@include card-floating-picture(0, auto, auto, 0, 6, -50%, 0);
}
.floating_item_3 {
	@include card-floating-picture(0, auto, 0, auto, 6, -50%, 0);
}
.floating_item_4 {
	@include card-floating-picture(auto, 0, 0, auto, 3, 70%, 0);
}
.floating_item_5 {
	@include card-floating-picture(auto, 0, 0, auto, 6, 50%, 0);
}
.floating_item_6 {
	@include card-floating-picture(auto, 0, auto, 0, 7, 80%, 0);
}
.floating_item_7 {
	@include card-floating-picture(50%, auto, 20%, auto, 2, 50%, 0);
	top:20%;
	left:-20%;
	img {
		height:auto;
	}
	@include sm-down {
		top: 5%;
		left: auto;
		right: 15%;
		z-index:-1;

	}
	@include xs-down {
		top: 5%;
		left: auto;
		right: 15%;
		img {

		}
	}
	@include xs2-down {
		img {
			width: 104px;
		}
	}
 }

.floating_item_8 {
	@include card-floating-picture(37%, auto, auto, 20%, 5, 0, 0);
	bottom:20%;
	left:-65%;
	img {
		height:auto;
	}
	@include sm-down {
		bottom: -5%;
		left: 10%;
		img {

		}
	}
	@include xs2-down {
		bottom: -5%;
        left: 0%;
		img {
			width: 134px;
		}
	}
}
.floating_item_9 {
	@include card-floating-picture(50%, auto, 0, auto, 2, 0, 0);
	@include sm-down {
		top: 50%;
		bottom: auto;
		left: auto;
		right: -20%;
		width: 266px;
		height: 180px;
		img {
			width: 100%;
		}
	}
}
.floating_item_10 {
	@include card-floating-picture(50%, auto, auto, -100px, 2, -50%, 0);
	@include sm-down {
		left: 0;
		.floating_item_container {
			transform: translate(0, 0);
		}
	}
	@include xs-down {
		width: 131px;
		height: 285px;
		img {
			width: 100%;
		}
	}
}
