.footer {
  background: $black-gradient-radial;
  color: $white;
  padding: 80px 10px 50px;
  font: 14px/22px $ubuntu-light;

  @include sm-down {
    background: $darker-grey;
    padding: 50px 32px;

    .left-col {
      width: 100%;
    }
  }

  .logo-col {
    width: 200px;

    img {
      display: block;
      margin-bottom: 20px;
    }
  }

  .info-col {
    width: 255px;

    address {
      font-style: normal;
      display: block;
      margin-bottom: 15px;
    }

    .email {
      margin-bottom: 30px;

      a {
        color: $white;
        font-family: ubuntu-bold;
        margin-left: 7px;
      }
    }

    @include sm-down {
      width: 100%;
      padding-bottom: 35px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      margin-bottom: 32px;
    }
  }

  // Social Panel
  .social-panel-horizontal {
    margin-bottom: 20px;

    ul {
      >li {
        display: inline-block;
        margin: 0 0 0 13px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .social-panel-icon {
      width: 28px;
      height: 28px;
    }

    @include sm-down {
      margin: 6px 0 42px;

      ul {
        >li {
          display: inline-block;
          margin: 0 0 0 29px;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      .social-panel-icon {
        width: 24px;
        height: 24px;
      }

    }
  }

  .nav-col {
    ul {
      width: 120px;
      margin-left: 50px;
    }

    li {
      text-transform: uppercase;
      font-family: $ubuntu-bold;
      margin-bottom: 24px;
    }

    a {
      color: $white;
    }
  }

  &__bottom-row {
    font: 12px/20px $ubuntu-light;

    span,
    a {
      color: $white;
      opacity: 0.5;
      margin-right: 24px;
    }

    img {
      display: block;
      margin-right: 20px;
    }

    &>div {
      &:first-child {
        ul {
          order: 2;
        }

        @include sm-down {
          display: block;

          ul {
            font: 12px/16px $ubuntu-bold;
            text-transform: uppercase;
            margin-bottom: 16px;
            letter-spacing: 2px;

            a {
              opacity: 1;
            }
          }
        }
      }
    }

    @include sm-down {
      margin-bottom: 45px;
    }
  }

  &__bottom-logo {
    display: none;

    @include sm-down {
      display: block;
    }
  }



  .pick-country,
  .pick-language {
    span {
      display: inline-block;
      vertical-align: middle;
    }
  }



  .logo-argeta-orange {
    margin-bottom: 10px;
  }
}
