/**
 * Header
 */
.header {
  padding-right: 52px;
  position: relative;
  z-index: 700;
}

/**
 * Logo
 */
.logo-panel {
  position: relative;
  height: 143px;
  width: 335px;

  @include sm-down {
    width: 100%;
  }
}

.logo-bg-shape {
  position: absolute;
  top: 0;
  left: -50px;
  height: 143px;
  width: 335px;
  background-repeat: no-repeat;
  z-index: 1;
}

.logo-bg {
  position: absolute;
  top: 0;
  left: -50px;
  height: 143px;
  width: 335px;
  background: url('../images/logo-header-cover.png');
  background-repeat: no-repeat;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 16px;
  left: 0;
  width: 156px;
  height: 48px;
  background: url('../images/logo-header.png');
  background-repeat: no-repeat;
  z-index: 2;

  @include sm-down {
    z-index: 1000;
  }

}

// Button - Hide Big Photo from .logo-bg
.btn-hide-top-photo {
  text-indent: -9999px;

  display: none;

  width: 64px;
  height: 64px;
  background: $white;
  border-radius: 50%;
  position: absolute;
  z-index: 550;

  right: 350px;
  bottom: 200px;

  &:after,
  &:before {
    height: 24px;
    width: 3px;
    background: $orange;
    position: absolute;
    top: 21px;
    left: 30px;
    content: '';
  }

  &:after {
    transform: rotate(45deg);
  }

  &:before {
    transform: rotate(-45deg);
  }
}

/**
 * Mobile
 */
@media only screen and (max-width: 991px) {
  .logo{
    height: 40px;
    width: 130px;
    background-image: url('../images/svg/logo-argeta-white.svg');
    -webkit-background-size: contain;
    background-size: contain;
  }

  .logo-bg-shape,
  .logo-bg{
    left: -32px;
    height: 98px;
    width: 216px;
  }

  .logo-bg {
    background-image: url('../images/svg/bck-logo.svg');
  }

  .header{
    width: 100%;
    position: absolute;
  }

  .btn-hide-top-photo {
    right: auto;
    bottom: 400px;
    left: 250px;
  }
}
