/**
 * Ingredients Section
 */
.ingredients {
  .heading1 {
    font-size: 56px;
    margin: 75px 0 20px;
  }

  p {
    font: 16px/26px $ubuntu-light;
    margin-bottom: 40px;
  }

  li {
    text-align: center;

    img {
      vertical-align: top;
    }

    strong {
      font: 14px/22px $ubuntu-bold;
    }
  }

  &-section {
    margin-bottom: 150px;

    @include xs2-down {
      margin-bottom: 70px;
    }

    .brez-label {
      width: 215px;
      height: 215px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
      top: 50%;
      left: 50%;
      bottom: auto;
      transform: translate(-50%, -50%);
      z-index: 1;

      @include xs2-down {
        width:110px;
        height:110px;
        //position: static;
        //transform: translate(0, 0);
        //margin: 0 auto 50px;
      }
    }

    .nutrients {
      min-height: 348px;
      position: relative;

      @include sm-down {
        max-width: 555px;
        margin: 150px auto 0 auto;
      }

      @include xs2-down {
        max-width: 345px;
        min-height: 280px;
      }

      
    }
  }
}

.nutrient-labels {
  min-height: 100%;
  display: none;

  &.visible {
    display: block;
  }
}

.nutrients-item {
  width: 104px;
  text-align: center;
  font: 10px/16px $ubuntu-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;

  &:nth-of-type(1) {
    bottom: 20px;
    left: 3%;
    @include xs2-down {
      left: 7%;
    }
  }

  &:nth-of-type(2) {
    top: 25px;
    left: 5%;
    @include xs2-down {
      left: 2%;
    }
  }

  &:nth-of-type(3) {
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);
    @include xs2-down {
      top: 30px;
    }
  }

  &:nth-of-type(4) {
    top: 25px;
    right: 5%;
    @include xs2-down {
      right: 2%;
    }
  }

  &:nth-of-type(5) {
    bottom: 20px;
    right: 3%;
  }

  .icon-wrap {
    width: 65px;
    height: 65px;
    border-radius: 50%;
   
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width:64px;
      height:64px;
      @include xs2-down {
        width: 54px;
        height: 54px;
      }
    }
    svg {
      max-width: 40px;
      max-height: 40px;
    }
  }
}

.nutritional-value {
  background: $white;
  position: relative;
  display: none;
  margin-bottom: 20px;
  z-index: 1;

  &.visible {
    display: block;
  }

  .row {
    border-top: 1px solid rgba(34, 34, 34, 0.1);
    padding: 10px 0;
    min-height: 50px;

    &:first-of-type {
      border-top: 0;
    }
  }

  .key {
    padding: 0;

    strong {
      font: 12px/20px $ubuntu-bold;
      color: $grey;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 0;
      display: block;
    }

    @include sm-down {
      padding-left: 10px;
    }

  }

  .value {
    font: 12px/20px $ubuntu-light;
    color: $grey;

    strong {
      display: block;
      font: 24px/30px $ubuntu-bold;
      color: $black;
    }

    @include sm-down {
      padding-left: 10px;
    }

  }
}

.open-info-btn {
  font: 14px/19px $ubuntu-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

  a {
    color: $orange;
    position: relative;

    &:before {
      width: 12px;
      height: 2px;
      background: $orange;
      position: absolute;
      right: -25px;
      top: 50%;
      content: '';
      margin-top: -2px;
    }

    &:after {
      width: 2px;
      height: 12px;
      background: $orange;
      position: absolute;
      right: -20px;
      top: 3px;
      margin-top: 0;
      content: '';
    }

    &.opened {
      &:after {
        display: none;
      }
    }
  }
}

.nutrients-item-wrapper {
  @include xs2-down {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .nutrients-item {
      //position: static;
      //transform: translate(0, 0);
      //margin: 0 15px 15px;
    }
  }
}
