.key-values {

  .key-values-row {
    position: relative;
  }

  padding-bottom: 120px;

  .list-dotted {
    

    >li {
      font: 16px/26px $ubuntu-light;
      padding-bottom: 0;
    }
  }

  .key-values-heading {
      font:32px/48px $ubuntu-bold;
      margin-bottom: 15px;

  }

}
