/**
 * Bottom Background
 */
.main-bottom-bg {
  background-image: url('../images/backgrounds-planets/planet-3-bck-white.svg');
  background-repeat: no-repeat;
  background-position: 0 0;
}

@media only screen and (max-width: 1281px) {
  .main-bottom-bg {
    background-size: 100% auto;
    background-position: 0 141px;
  }
}

