/**
 * Main
 */
.main-slider-section {
  padding-bottom: 65px;
}

.slider-container {
  position: relative;

  @include xs-down {
    display: none;
  }
}

.slider {
  max-width: 580px;
  position: relative;

  @include sm-down {
    margin: 0 auto;
  }

  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.slide-item {
  position: absolute;
  box-shadow: inset 0 0 0 2px rgba(151, 151, 151, 0.2);
  border-radius: 50%;
  width: calc(100% - 120px);
  height: calc(100% - 120px);
  top: 60px;
  left: 60px;

  img {
    border-radius: 50%;
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .slider-video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
    position: relative;

    iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
    }
  }

  &.first {
    z-index: 6;
  }

  &.second {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    top: 30px;
    left: 30px;
    z-index: 5;
  }

  &.third {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
  }

  &.active-slide {
    overflow: hidden;

    img {
      animation: kenburns-top 5s ease-out both;
    }
  }
}

.slider-item-content {
  opacity: 0;
  transition: opacity 0.5s ease;
  height: 100%;

  .active-slide & {
    opacity: 1;
  }
}

.circle-loader {
  transform: rotate(-90deg);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.static-circle {
  opacity: 0.2;
}

.circle-loader-path {
  stroke-dasharray: 1645.36;
  opacity: 1;
  position: relative;

  .active-slide & {
    animation: dash 5s linear forwards;
  }
}

.orange-pattern {
  background: url('../images/planet-1-hero-slider.svg') no-repeat;
  background-size: cover;
  width: 391px;
  height: 400px;
  position: absolute;
  bottom: 20px;
  left: -100px;
  animation: floating 8s ease-in-out 1s infinite both;

  @include sm-down {
    left: -20px;
    //display: none;
  }
}

.brez-label {
  background: $white;
  width: 140px;
  height: 140px;
  padding: 15px;
  border-radius: 50%;
  position: absolute;
  z-index: 50;

  @include xs2-up {
    bottom: 20px;
    left: 58px;
  }

  @include sm-down {
    //top: 20px;
    //right: 58px;
  }

  @include xs-down {
    //top: -20px;
    //right: 0;
    transform: scale(0.7);
  }

  .animated-image {
    width: 100%;
    height: 100%;
  }

  .static-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
  }

}

.animated-image-wrapper {
  width: 100%;
  height: 100%;
}

.rotate-fwd {
  animation: rotate-fwd 10s linear infinite;

  &.pause {
    animation-play-state: paused;
  }
}

.rotate-reverse {
  animation: rotate-reverse 3s ease-in-out infinite;

  &.pause {
    animation-play-state: paused;
  }
}

.col-main-slider-text-slides {
  @include sm-down {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include xs-down {
    padding-top: 350px;
    padding-bottom: 65px;
  }
}

/**
 * Slider Text
 */
.slide-text {
  opacity: 0;
  transform: translateY(0);
  transition: all 0.5s ease;
  position: absolute;
  top: 0;
  visibility: hidden;

  &.active-slide {
    opacity: 1;
    transform: translateY(110px);
    visibility: visible;
  }

  @include sm-down {
    &.active-slide {
      position: static;
      transform: none;
    }
  }

  .heading1 {
    max-width: none;
    margin-bottom: 11px;

    @include sm-down {
      width: 100%;
      //margin:0 auto;
      text-align: center;
      margin-bottom: 10px;
    }

    @include xs-down {
      text-align: left;
    }
  }

  p {
    max-width: 340px;
    font-family: ubuntu-reg;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 33px;

    @include sm-down {
      max-width: none;
      margin: 0 auto;
      text-align: center;
    }

    @include xs-down {
      text-align: left;
    }
  }

  p.anchor-wrapper {

    //display: inline-block;
    @include sm-down {
      margin-top: 40px;
    }

    @include xs-down {
      //display:none;
    }
  }

  @at-root .main .slide-text {

    @include xs-down {
      text-align: center;

      p.anchor-wrapper {

        //display:none!important;
        .appended-arrow-right {
          display: none;
        }

        background: $orange-gradient;
        border-radius:24px;
        padding:10px 15px;
        display:inline-block;
        text-align:center;

        a {
          color: $white !important;
        }

      }
    }
  }
}

.slide-button-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  z-index: 10;

  @include sm-down {
    //display: none;
  }

  .active-slide & {
    display: none;
  }

  .first & {
    animation: rotation-circle 18s ease-in-out infinite;
  }

  .second & {
    animation: rotation-circle 25s ease-in-out infinite;
  }

  .third & {
    animation: rotation-circle 15s ease-in-out infinite;
  }
}

.slide-button-circle-holder {
  width: 50px;
  height: 50px;
  position: absolute;

  .first & {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: rotation-switcher-first 18s ease-in-out infinite;
  }

  .second & {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%) rotate(-45deg);
    animation: rotation-switcher-second 25s ease-in-out infinite;
  }

  .third & {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
    animation: rotation-switcher-third 15s ease-in-out infinite;
  }
}

.slide-switcher {
  cursor: pointer;
  position: absolute;
  font: 12px/16px $ubuntu-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $dark-grey;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background: $light-grey;
  border-radius: 20px;
  padding: 14px 16px 10px;
  white-space: nowrap;

  &:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $dark-grey;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: -20px;
  }

  .first & {
    left: 100%;
    top: 50%;
    transform: translate(-10px, -50%);
  }

  .second & {
    left: 100%;
    top: 50%;
    transform: translate(-10px, -50%);
  }

  .third & {
    right: 100%;
    top: 50%;
    transform: translate(9px, -50%);

    &:before {
      display: none;
    }

    &:after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $dark-grey;
      position: absolute;
      top: 50%;
      margin-top: -4px;
      right: -20px;
    }
  }
}

.mob-switcher {
  display: none;

  @include sm-down {
    //display: flex;
    display: none;
    justify-content: center;
    margin-bottom: 50px;

    span {
      width: 8px;
      height: 8px;
      background: $grey;
      border-radius: 50%;
      margin: 0 8px;
      display: block;
      opacity: .3;
      cursor: pointer;

      &.active-slide {
        opacity: 1;
      }
    }
  }
}
