
/**
 * main menu 
 */

 .logo {
     z-index:999;
 }

 .hidden-menu {
     z-index:999;
 }

 .header-menu .buy-btn {
    background: $orange-gradient;
    white-space: nowrap;
    &:hover {
      background: $orange-gradient-reverse;
    }
  }
  .header-menu {
    @include sm-down {
      flex-basis: 50%;
    }
    @include xs-down {
      flex-basis: auto;
    }
  }
  .logo {
    padding: 20px 15px;
    svg {
      width: 153px;
      height: 48px;
      display: none;
      &:first-of-type {
        display: block;
      }
    }
    .main & {
      height: 143px;
      width: 335px;
      background: url('../images/bck-logo-uncropped.svg') 100% 100% no-repeat;
      padding: 15px 0 0 50px;
      @include sm-down {
        height: 106.57px;	
        width: 234px;
        padding: 0;
        background: url('../images/backgrounds-planets/bck-logo.svg');
        background-repeat: no-repeat;
        //display: flex;
        //justify-content: center;
        //align-items: center;
        //border-radius: 50%;
        //transform: translateY(-63%);
        svg {
          height: 40px;
          width: 127.54px;
          margin-top: 16px;
          margin-left: 32px;
        }
      }
      @include xs-down {
        //background:none;
        
      }
    }
  
  }
  
  .user-tools {
    font: 12px/16px $ubuntu-bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 20px;
    @include xs-down {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: $white;
      z-index: 50;
      left: 0;
      right: 0;
      box-shadow: 0 -2px 6px 0 rgba(0,0,0,0.1);
      padding: 12px 10px 10px;
    }
    li {
      margin-left: 24px;
      @include sm-down {
        margin: 0 20px 0 0;
      }
      a {
        color: $dark-grey;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .notification {
    position: relative;
    margin: 0 38px 0 24px;
    @include xs-down {
      margin: 0;
    }
    svg {
      width: 26px;
      height: 20px;
    }
    .number {
      position: absolute;
      top: -12px;
      right: -12px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      color: $white;
      font: 14px/24px $ubuntu-bold;
      background: $orange-gradient;
      text-align: center;
      span {
        display: inline-block;
        padding: 2px 0 0 2px;
      }
      @include sm-down {
        top: -6px;
        right: 0;
        width: 16px;
        height: 16px;
        font: 10px/16px $ubuntu-bold;
        span {
          padding-top: 1px;
        }
      }
    }
  }
  
  .hidden-menu {
    width: 18px;
    height: 13px;
    //background: #666;
    display: block;
    margin-left: 24px;
    position: relative;
    .line-1,
    .line-2,
    .line-3 {
      height: 2px;
      width: 18px;
      left: 0;
      position: absolute;
      background-color: #222;
      transform-origin: 50% 50%;
    }
    .line-1 {
      top:cacl(0px);
    }
    .line-2 {
      top:calc(50% - 1px);
    }
    .line-3 {
      bottom:calc(0px);
    }
  }
  
  .argeta-junior {
    .header {
      .logo {
        svg {
          &:first-of-type {
            display: none;
          }
          &:nth-of-type(2) {
            display: block;
          }
        }
      }
      .buy-btn {
        background: $yellow-gradient;
        &:hover {
          background: $yellow-gradient-reverse;
        }
      }
    }
    .notification {
      .number {
        background: $yellow-gradient;
      }
    }
  }
  
  
  .argeta-exclusive {
    .header {
      @include md-up {
        color: $white;
        a {
          color: $white;
        }
        .hidden-menu {
          background: $white;
        }
      }
      .logo {
        svg {
          &:first-of-type {
            display: none;
          }
          &:nth-of-type(3) {
            display: block;
          }
        }
      }
      .notification {
        svg {
          fill: $white;
          stroke: $white;
        }
      }
    }
  }

@import 'main-menu-popup';
@import 'pick-language-popup';

