/* TODO: migrate to the main slider scss file */
.main-slider-mobile-background {
  display: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 500px;

  padding: 0;

  @include xs-down {
    display: block;
    right: -130px;
  }

  /* TODO: fix the shdow */
  .image-object-fit {
    display: none;
    filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    -webkit-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    -moz-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    -ms-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
    -o-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.75));
  }

  .image-object-fit.active {
    display: block;
  }
}

/**
 * Mobile
 */

@mixin mobile-mask-header-slider(){
  mask: url('../images/svg/planet-1-mask.svg') -150px bottom no-repeat;
  -webkit-mask: url('../images/svg/planet-1-mask.svg') -150px bottom no-repeat;
  position: static;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-slider-section { 
      padding-top: 130px;
  }
}

@media only screen and (max-width: 767px) {
  .main-slider-mobile-background {
    @include mobile-mask-header-slider;

    mask-size: 600px;
    -webkit-mask-size: 600px;
  }
}

@media only screen and (max-width: 375px) {
  .main-slider-mobile-background {
    @include mobile-mask-header-slider;

    mask-size: 500px auto;
    -webkit-mask-size: 500px auto;
    height: 400px;
  }
}
