.main-menu-popup {
  color: #fff;
  padding: 0 30px;
}

.main-menu-popup-desktop {
  display: none;

  @include sm-up {
    display: block;
  }
}

.main-menu-popup-mobile {
  color: black;
  display: none;

  @include xs-down {
    display: block;
  }
}

.submenu-image {
  * {
    color: $black;
  }
}

.menu-level-1 {
  * {
    color: $white;
  }

  >li {

    font: 18px/27px $ubuntu-bold;
    letter-spacing: 1.95px;
    text-transform: uppercase;
    margin-bottom: 40px;

    a {
      //color: $black;
    }
  }

  ul>li {
    margin-bottom: 15px;

    a {
      //color: $black;
      font: 16px/25px $ubuntu-reg;
      text-transform: none;
      margin-bottom: 15px;
    }
  }

  .ul-accordion-item .accordion-ttl {
    color: $white !important;

    &:before {}
  }

  .ul-accordion-item:first-child {
    border-top: none;
  }

  .ul-accordion-item .hidden-box {
    padding-bottom: 0;
  }
}

.ul-item {

  display: none;

  .ul-title {
    font: 48px/64px $ubuntu-light;
    color: $black-true;
    margin-bottom: 48px;

    span {
      font-family: $ubuntu-bold;
      color: $orange;
    }
  }

  li {
    font: 16px/25px $ubuntu-reg;
    padding-bottom: 16px;

    >a {
      cursor: pointer;
      color: $dark-grey;

    }

    &:hover {
      font: 16px/25px $ubuntu-bold;

      >a {
        color: $orange;
      }
    }
  }

}

.ul-item.active {
  display: block;
}

.ul-item.ul-junior li {
  &:hover {
    >a {
      color: $yellow;
    }
  }

}

.ul-item.ul-exclusive li {
  &:hover {
    >a {
      color: $black-true;
    }
  }

}


.accordion-item.ul-accordion-item {
  max-width: 270px;

  .accordion-ttl {
    padding-top: 0;
    padding-bottom: 0px;
    margin-bottom: 16px;
    font: 18px/28px $ubuntu-bold;
    letter-spacing: 2.25px;
    color: $grey;
    text-transform: uppercase;

    &:before {
      top: 0px;
      right: 2px;
      width: 14px;
      height: 14px;
      background: transparent;
      border-color: $grey;
      border-right: 2px solid;
      border-bottom: 2px solid;
      transform: rotate(45deg);
    }

    &:after {
      content: none;
    }
  }

  border-bottom:0;
}

.accordion-item.ul-accordion-item.active-item {
  .accordion-ttl {
    font: 18px/28px $ubuntu-bold;
    color: $grey;

    &:before {
      top: 10px;
      background: transparent;
      transform: rotate(-135deg);
    }
  }
}







.submenu-image-content {
  .submenu-images {
    margin-top: 100px;
    position: relative;

    .submenu-images-front {
      width: 100%;
      height: auto;
      max-width: 225px;
    }

    .submenu-images-front-alone {
      max-width: 263px;
    }

    .submenu-images-front-alone.circle {
      border-radius: 50%;
    }

    .submenu-images-back {
      position: absolute;
      top: -10px;
      right: 0;
      height: 100%;
      width: auto;
      z-index: -1;
    }

  }

  .submenu-text {
    margin-top: 17px;
    color: $black;
    font: 14px/22px $ubuntu-light;
    text-align: center;
  }

}



.menu-hero-background {
  content: "";
  position: absolute;
  top: -510px;
  left: -640px;
  width: 1200px;
  height: 1200px;
  background: linear-gradient(160.26deg, #FB9231 0, #E97000 100%);
  -webkit-mask: url(../images/backgrounds-planets/planet-1-hero-slider.svg) no-repeat;
  mask: url(../images/backgrounds-planets/planet-1-hero-slider.svg) no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  padding: 0;
  transform: scaleX(-1);
  z-index: -1;

}
