/**
 * News Section
 */
.news-container {
  position: relative;
  margin-bottom: 100px;
  @include load-animation (0, 50px);
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
  h2 {
    margin-bottom: 60px;
    @include sm-down {
      margin-bottom: 24px;
    }
  }
  .img-wrap {
    display: block;
    margin-bottom: 20px;
  }
  img {
    border-radius: 10px;
    width: 100%;
  }
  h4 {
    margin-bottom: 10px;
    a {
      color: $black;

      &:hover {
        color: $orange;
      }
    }
  }

  .btn-bubble {
    .arrow-link {
      position: absolute;
      top: 90px;
      left: 62px;
      @include sm-down{
        display: none;
      }
    }
  }

  .argeta-junior & {
    [class*='heading'] {
      color: $yellow;
      a {
        color: $yellow;
      }
    }
    .btn-tag {
      border-color: $blue;
      color: $blue;
    }
  }
  .argeta-exclusive & {
    h2 {
      font: 28px/38px $idlewild-bold;
    }
    h4 {
      font: 16px/24px $idlewild-bold;
      a {
        color: $white;
      }
    }
  }
}
.news-row {
  flex-wrap: nowrap;
  overflow: auto;
  & > div:first-child {
    min-width: 340px;
    @include xs-down {
      min-width: 256px;
    }
  }
  & > div {
    min-width: 256px;
    box-sizing: content-box;
    @include sm-only {
      min-width: 220px;
    }
  }
}
