/**
 * Language Popup
 */
.pick-language-popup {
  padding-right: 30px;
  padding-left: 30px;
  z-index: 9999 !important;

  .lp-title {
    @include sm-down {
      font: 24px/36px $ubuntu-bold;
    }
  }
}

.language-col {
  padding: 16px 32px;
  border-radius: 10px;
  background-color: $white;
  margin-bottom: 65px;

  @include sm-down {
    border: 0;
    border-radius: 0;
    padding: 0;
  }
}

.language-section-title {
  display: inline-block;
  vertical-align: middle;
  font: 20px/32px $ubuntu-light;
  color: $darker-grey;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;

  &:hover {
    color: $darker-grey;
  }

  @include sm-down {
    font: 16px/26px $ubuntu-light;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
  }

  //margin-bottom:25px;
}

.language-section-title.language-section-title-first {
  @include sm-down {
    border-top: 1px solid rgba(34, 34, 34, 0.1);
  }
}

.language-menu-item {
  a {
    position: relative;
    width: 100%;
    display: inline-block;
    font: 12px/16px $ubuntu-bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding-right: 16px;
    white-space: nowrap;
    color: $dark-grey;
    padding-top: 16px;
    padding-bottom: 16px;

    >* {
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
    }

    >span {
      max-width: 160px;
    }

    >svg {
      margin-right: 8px;
    }

    @include sm-down {
      border-bottom: 1px solid rgba(34, 34, 34, 0.1);
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }

  //margin-bottom:32px;

  &:hover {
    >a {
      color: $orange;
    }

    &.collapsable {
      .collapsable-trigger {

        &:before,
        &:after {
          background-color: $orange;
        }
      }

      .collapsable-body {}
    }
  }
}

.collapsable {

  >.collapsable-trigger {
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      background-color: $grey;
      right: 0;
      transform: rotate(0deg);
      transition: transform 0.5s ease 0s;
    }

    &:before {
      top: 50%;
      height: 2px;
      width: 10px;

    }

    &:after {
      top: 50%;
      right: 4px;
      height: 10px;
      width: 2px;
      margin-top: -4px;
    }
  }

  &.active>.collapsable-trigger {

    &:before,
    &:after {
      transform: rotate(-90deg);
      transition: transform 0.3s ease 0s;
    }

    &:before {
      height: 0;

    }
  }

  >.collapsable-body {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease 0s;

    >li {
      border-bottom: 1px solid rgba(34, 34, 34, 0.1);

      @include sm-down {
        border-bottom: 0;
      }
    }

    >li:first-child {
      border-top: 1px solid rgba(34, 34, 34, 0.1);

      @include sm-down {
        border-top: 0;
      }
    }

    >li>a {
      padding-top: 16px;
      padding-bottom: 16px;

      @include sm-down {
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }
  }

  &.active>.collapsable-body {
    overflow: hidden;
    max-height: 5000px;
  }
}

/**
 * Hide Button
 */
$lp-hide-block-size: 192px;

.lp-hide-block {
  text-align: center;

  height: $lp-hide-block-size;
  width: $lp-hide-block-size;

  position: absolute;
  right: 14px;
  top: -60px;

  border-radius: 50%;

  background: $orange-gradient;

  .lp-hide {
    color: $white;
    font-family: $ubuntu-bold;
    font-size: 16px;
    line-height: $lp-hide-block-size;
    letter-spacing: 2px;
    text-transform: uppercase;
    right: -10px;

    position: relative;

    &:before,
    &:after {
      content: '';

      position: absolute;
      left: -21px;
      top: 0;
      height: 18px;
      width: 2px;

      background: $white;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.primary-lang-list {
  display: none;
}

.lp-subtitle {
  font-size: 16px;
  line-height: 26px;
  padding: 6px 0 0;
}

.initial-lang-list-block {
  margin-top: -35px;
}

.all-languages-block {
  padding: 35px 0 0;
}