/**
 * Press Releases
 */

.date {
  color: $grey;
  font-size: 10px;
  font-family: ubuntu-bold;
  line-height: 16px;
  letter-spacing: 1.25px;
  margin-bottom: 9px;
}

.photo {
  img {
    border-radius: 10px
  }
}

.link-details {
  &:hover {
    color: $orange;
  }
}

/**
 * Featured
 */
.pr-featured {
  .photo {
    margin-bottom: 16px;
    display: block;
  }

  .link-details {
    margin-top: 1px;
    display: block;
  }
}


/**
 * Latest
 */
.pr-latest {
  margin: 63px 0 120px;

  .pr-latest-header {
    padding-bottom: 74px;
  }
}

.pr-news-item {
  margin-bottom: 32px;
  @include clearfix;

  .photo {
    float: left;
  }

  .pr-news-item-details {
    margin-left: 156px;
  }
}

/**
 * Media Kit
 */
.pr-media-kit {
  margin-bottom: 120px;

  .pr-media-kit-header {
    padding-bottom: 60px;
  }

  .media-kit-link {
    display: block;
    margin: 36px 0;
  }

  .media-kit-line {
    position: relative;
    height: 100%;
    width: 1px;
    background: #dddcda;
    left: 50%;
    margin-left: -1px;
  }
}

/**
 * Reports
 */
.pr-reports {
  padding-bottom: 108px;

  .pr-reports-header {
    padding-bottom: 50px;
    border-bottom: 1px solid #e5e5e5;
  }

  .pr-reports-block {
    padding: 35px 0 39px;
    border-bottom: 1px solid #e5e5e5;
  }

  .link-details {
    display: block;
    margin-bottom: 9px;
  }

  .btn-arrow-link {
    font-size: 12px;

    &:before {
      top: -7px;
    }
  }
}

/**
 * Mobile
 */

@media only screen and (max-width: 1200px) {
  .media-kit-line {
    display: none;
  }
}


@media only screen and (max-width: 992px) {
  .ts-product-picture {
    display: none;
  }
}
