/**
 * Product Row
 */

.product-row-section {
  position: fixed;

  width: 100%;
  height: 280px;
  overflow: hidden;

  bottom: 0;
  left: 50px;

  padding: 40px 0 0 40px;

  border-radius: 16px 0 0 0;

  transform: translateY(100%);
  transition: transform 0.5s ease;

  background: rgba(255, 255, 255, 0.95);
  z-index: $zindex-dropdown + 1;

  @include sm-down {
    bottom: 0;
    width: 100%;
    padding: 40px 0 0px 15px;
  }

  &.opened {
    transform: translateY(0);
  }

  .tabs-switcher {
    max-width: 100%;
    margin: 0;

    ul {
      font: 12px/25px $ubuntu-bold;
      letter-spacing: 1px;
      margin-bottom: 10px;

      li {
        border: 0;
        padding: 0 16px;

        &:first-child {
          padding-left: 0;
        }

        .tabs-icon {
          max-height: none;
          max-width: none;

          height: 40px;
          width: 40px;
        }

        .all-products-filter {
          font-size: 12px;
          line-height: 25px;
          letter-spacing: 1.5px;
          position: relative;
          top: -5px;
        }
      }
    }
  }

  .close-btn {
    width: 13px;
    height: 13px;
    border-top: 2px solid $brown;
    border-right: 2px solid $brown;
    transform: rotate(-45deg);
    position: absolute;
    top: 25px;
    right: 72px;
    text-indent: -9999px;
  }
}

/**
 * Tabs Content
 */
.product-row-overflow {
  flex-wrap: nowrap;
  overflow-x: hidden;
  padding-bottom: 22px;

  .row-product-item {
    width: 128px;
    display: block;
  }

  .btn-row-product {
    text-align: center;
    position: relative;
    display: inline-block;
    width: auto;
    padding: 8px 8px 0 0;
    max-width: 86px;
    line-height: 18px;

    @include unselectable;

    .row-product-title {
      color: $black;
      display: block;
      font-family: $ubuntu-bold;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      padding: 6px 0 0;
    }

    &:before {
      position: absolute;
      width: 24px;
      height: 24px;

      top: 0;
      right: 0;

      border-radius: 50%;

      background: $orange;
    }

    &:after {
      position: absolute;
      border-bottom: 2px solid $white;
      border-left: 2px solid $white;
      top: 8px;
      right: 6px;

      width: 11px;
      height: 6px;

      transform: rotate(-45deg);

    }

    strong {
      font: 12px/18px $ubuntu-bold;
      font-weight: normal;
    }

    img {
      max-width: 80px;
      max-height: 100px;
      display: block;
      margin: 0 auto;
    }

    &.active {

      &:after,
      &:before {
        content: '';
      }
    }
  }
}
