/**
 * Promo Section
 */
.promo-section {
  margin-bottom: 190px;
  position: relative;

  @include sm-down {
    margin-bottom: 90px;
  }

  .breadcrumbs {
    padding-bottom: 41px;

    a {
      font-size: 12px;
      letter-spacing: 1.5px;
    }
  }

  .promo-label {
    top: 0;
    right: 0;
  }
}

.svgpic {
  display: block;
  width: 500px;
  position: relative;
  z-index: 500;
}

/**
 * Promo Image
 */
.promo-image-block {
  width: 90vw;
  height: 620px;
  overflow: hidden;
  border-radius: 16px;
  position: relative;
  z-index: 1;

  margin: -771px 0 0 15px;
}

.promo-image {
  object-fit: cover;
  height: 100%;
  border-radius: 16px;
  display: block;
  width: 100%;
}


/**
 * Promo Label
 */
.promo-label,
.promo-label-subscription,
.promo-label-main-slider-mobile-background {
  background: $white;
  border-radius: 100px 0 0 100px;
  position: absolute;
  top: 30%;
  right: 0;
  padding: 32px 16px 32px 32px;
  width: 232px;
  font: 14px/22px $ubuntu-light;
  text-align: right;
  z-index: 1;

  a {
    text-transform: uppercase;
    font: 12px/15px $ubuntu-bold;
    letter-spacing: 1px;
  }
}

.promo-label-mobile {
  display: none;
}

.promo-label-subscription {
  background: linear-gradient(160.26deg, #FB9231 0%, #E97000 100%);
  width: 280px;
  right: -15px;
  display: none;
  top: auto;
  bottom: -73px;

  @include sm-down {
    display: block;
  }
}

.promo-label-main-slider-mobile-background {
  background: linear-gradient(160.26deg, #FB9231 0%, #E97000 100%);
  display: none;
  text-transform: uppercase;
  top: 250px;

  p {
    margin-bottom: 0;
  }

  @include xs-down {
    display: block;
  }
}

.promo-image-wrap {
  position: relative;
}

/**
 * Promo Content
 */
.promo-info {
  color: $white;
  font: 16px/26px $ubuntu-light;

  position: relative;

  top: -28px;
  left: -71px;
  width: 710px;
  height: 770px;

  padding: 148px 150px 120px 182px;

  background: url('../images/planet-1-campaigne.svg');
  background-size: 725px 795px;
  background-repeat: no-repeat;

  z-index: 2;

  .promo-title {
    margin-bottom: 21px;
  }

  .junior & {
    background-image: url('../images/planet-1-campaigne-yellow.svg');

    @include sm-down {
      background: $yellow-gradient;
    }
  }

  .exclusive & {
    background-image: url('../images/planet-1.svg');
    padding-right: 215px;

    @include sm-down {
      background: $grafit;
      padding-right: 21px;
    }
  }

  p {
    margin-bottom: 40px;
  }

  .white-btn {
    color: $orange;
  }
}

/**
 * Subscription
 */
.promo-section {

  .promo-subscription {
    display: none;
  }

  .subscription-popup {
    margin-bottom: 0;
  }

  .media-box {
    padding: 0 15px;

    .media-box-block {
      position: relative;
      overflow: hidden;
      border-radius: 16px 16px 0 0;
      height: 343px;
      overflow: hidden;
    }

    .media-box-photo {
      top: 0;
      left: 0;
      height: 343px;
      width: auto;
      position: absolute;
      max-width: none;
    }
  }
}

/**
 * Mobile
 */

@media only screen and (max-width: 991px) {
  .promo-section {
    .promo-info {
      background: $orange-gradient;
      padding: 40px 25px 55px;
      position: static;
      height: auto;
      width: auto;
      border-radius: 0 0 16px 16px;
    }

    .promo-subscription {
      display: block;
    }

    .promo-image-block {
      display: none;
    }

    .breadcrumbs {
      padding-bottom: 16px;
    }

    .promo-title {
      margin-bottom: 14px;
    }

    .media-box {
      overflow: visible;

      .confirmation-label {
        bottom: -27px;
        background: $white;

        .text-subscription-initial {
          color: $black;
          padding: 4px 0 1px;
        }

        .btn-subscription-initial {
          color: $orange;
        }
      }
    }

    .subscription-success .media-box {
      margin-bottom: -100px;

      .confirmation-label {
        color: $black;
      }
    }

    .media-box {
      .media-box-photo {
        min-width: 100%;
        height: 100%;
      }
    }
  }

}