.main-cards-container {
  @include sm-down {
    /*padding: 0;*/
  }

  .badge-exclusive {
    z-index: 100;
    right: 0;
  }
}

.main-cards {
  &.row {
   /* margin: 0; */
  }

  @include sm-down {
    overflow-x: visible;
    /*width: 100%;*/
  }
}

.card-item {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.7s ease-in-out;
  margin-bottom: 30px;

  @include xs-down {
    max-width: 400px;
    margin: 0 auto 30px;
  }

  .visible & {
    opacity: 1;
    transform: translateY(0);
  }

  .active & {
    opacity: 1;
    transform: translateY(0);
  }

  &:first-child {
    transition-delay: 0.1s;
  }
}

@for $i from 2 through 20 {
  .card-item:nth-child(#{$i}) {
    transition-delay: $i*0.3s;
  }
}

.prod-name {
  text-align: center;
  margin-bottom: 35px;
  font-size: 28px;
  line-height: 40px;
}

.product-picture {
  width: 60%;
  margin: 0 auto -90px;
  position: relative;

  @include sm-down {
    top: -20px;
    display: block;
  }

  &.product-picture-1 {
    margin: 0 auto -90px 30px;

    .product-picture-back {
      position: absolute;
      top: 0px;
      z-index: -1;
      z-index: 9;
      right: -80px;
      height: 100%;
      width: auto;

      @include xs-down {
        z-index: 20;
      }
    }
  }

  &>img {
    max-width: 100%;
    position: relative;
    z-index: 10;
  }
}

.product-card-info {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
  background: $white;
  border-radius: 16px;
  text-align: center;
  padding: 100px 0 30px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 5;


}

.grey-text {
  color: $grey;
  display: block;
  margin-bottom: 25px;
  font: 14px/22px $ubuntu-light;
}

.product-card {

  &:hover {
    .product-card-info {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    }

    .floating_item_1 {
      img {
        transform: translate(-10px, -10px);
      }
    }

    .floating_item_2 {
      img {
        transform: translate(-10px, 10px);
      }
    }

    .floating_item_3 {
      img {
        transform: translate(-10px, 0);
      }
    }

    .floating_item_4 {
      img {
        transform: translate(10px, 0);
      }
    }

    .floating_item_5 {
      img {
        transform: translate(10px, -10px);
      }
    }

    .floating_item_6 {
      img {
        transform: translate(10px, 10px);
      }
    }
  }
}
