/**
 * Recipes
 */
.recipe-section {
  margin: 0 -15px 140px;
  padding: 80px 30px;
  position: relative;
}

.recipe-section-bg {
  background: url("https://www.argeta.com/sites/default/files/styles/carousel_large/public/carousel/argeta_key_visual_core_recept_920px_0.jpg?itok=0ezDzIaG");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.recipe-block {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  padding: 64px 30px;
  position: relative;
  z-index: 2;

  .prod-img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 24px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .prod-btn {
    box-shadow: 0 4px 16px 0 rgba(57, 0, 0, 0.12);
    width: 48px;
    height: 48px;
    background: $orange-gradient;
    border-radius: 50%;
    color: $white;
    text-align: center;
    font: 16px/44px ubuntu-bold, Arial, sans-serif;
    letter-spacing: 3px;
    padding-left: 3px;
    position: relative;

    &:before {
      content: '';
      left: 50%;
      top: 50%;
      margin: -12px 0 0 -12px;

      position: absolute;

      width: 24px;
      height: 24px;

      background: url('../images/icons/ic-arrow-small-up-white.svg') no-repeat;
    }
  }

  strong {
    display: block;
    margin-bottom: 10px;
  }

  .orange-btn {
    display: block;
    font-size: 12px;
    line-height: 16px;
  }
}

.event-category {
  margin-left: -15px;

  li {
    border: 1px solid #D0D0D0;
    background: $white;
    border-radius: 18px;
    color: $grey;
    margin: 0 0 15px 15px;
    padding: 11px 16px 9px;
    font: 12px/16px $ubuntu-bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;

    &.active {
      border-color: $orange;
      color: $orange;
    }
  }
}

/**
 * Mobile
 */

@media only screen and (max-width: 991px) {

  .recipe-section {
    background: none;
    padding: 0;
    margin-bottom: 80px;
  }

  .recipe-section-bg {
    height: 250px;
  }

  .recipe-block {
    margin: 190px 16px 0;
  }

}
