/**
 * Scroll Down
 */
.scroll-down-block {
  height: 163px;
  position: relative;
  @include clearfix;
}

.scroll-down {
  width: 1px;
  background: $orange;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -9px;

  opacity: 0.4;
  animation: decor-item-animation 1s forwards ease-in-out;
  animation-delay: 1s;

  &:after {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 1px solid $orange;
    position: absolute;
    bottom: -18px;
    left: 0;
    transform: translateX(-9px);
    content: '';
    opacity: 0;
    animation: decor-item-animation2 0.5s forwards ease-in-out;
    animation-delay: 2s;
  }

  @include sm-down {
    z-index: -1;

    &:after {
      //display: none;
    }
  }
}
