.section-header {
  text-align: center;
  padding-bottom: 80px;

  .section-header-title {
    font-family: $ubuntu-bold;
    font-size: 44px;
    line-height: 58px;
    font-weight: 400;

    padding-bottom: 12px;
  }

  .section-header-subtitle {
    font-family: $ubuntu-light;
    font-size: 18px;
    line-height: 29px;
  }
}
