/**
 * Social Panel
 */
.social-panel {
  position: absolute;
  top: -2px;
  left: -83px;

  .social-panel-link {
    margin-bottom: 14px;
    display: inline-block;
  }

  .social-panel-icon {
    height: 28px;
    width: 28px;
  }
}

/**
 * Social Panel Horizontal
 */
.social-panel-horizontal {
  ul {
    >li {
      display: inline-block;
      margin: 0 0 0 20px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}