/**
 * Subscription Popup
 */
.subscription-section {
  padding: 100px 0;
}

.subscription-secondary,
.subscription-success,
.confirmation-label,
.subscription-initial {
  display: none;
}

.subscription-field {
  min-height: 616px;

  .btn-black {
    margin-top: 23px;
    width: 100%;
  }
}

.media-box-photo {
  border-radius: 16px;
}

.subscription-panel {
  position: relative;
  padding: 95px 0 99px;
  margin-top: -95px;
  background: $orange-gradient;

  span {
    display: block;
  }

  /**
   * Product Cards
   */
  .product-card-panel {
    padding: 60px 15px 0;

    .product-card {
      @include unselectable;
    }

    .product-picture {
      width: 100%;
      padding: 0 36px;
    }

    &:hover {
      .product-card-title {
        color: $orange;
      }
    }

    .product-card-title {
      color: $black;
      font-size: 20px;
      line-height: 20px;
      font-weight: 400;
      font-family: $ubuntu-bold;

      padding: 6px 9px;
    }

    .grey-text {
      padding: 2px 25px 0;
      margin: 0;
      min-height: 107px;
    }
  }
}

.subscription-content {
  position: relative;
  z-index: 100;
}

/**
 * Primary Panel
 */
.subscription-success,
.subscription-primary {
  background: transparent;

  .subscription-cover {
    top: -78px;
    right: 0;
    height: 616px;
    width: 100vw;
    border-radius: 16px;

    position: absolute;
    background: $orange-gradient;
  }

  .agreement {
    .agreement-checkbox {
      opacity: 0;
    }

    .agreement-label {
      color: #fff;
      font-size: 12px;
      line-height: 20px;
      cursor: pointer;
    }
  }

  .media-box {
    top: 0;
    right: -50px;
    position: relative;
  }
}

/**
 * Second Panel with Product Checkboxes
 */
.subscription-secondary {

  .subscription-content {
    padding: 0 30px;
    margin: 0;
    max-width: none;
  }

  .subscription-subtext {
    margin-bottom: 40px;
  }

  .send-panel {
    display: none;
    width: 100%;
    padding: 0 15px;
    margin-top: 35px;
  }

  .btn-secondary {
    width: 100%;
    display: block;
  }

  .product-card-info {
    padding-bottom: 20px;
  }

}

.btn-product-card {
  display: block;
  cursor: pointer;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
  }

  // box
  &:before {
    bottom: 0;
    left: 50%;
    margin: 0 0 24px -11px;
    padding: 11px;

    border: 1px solid #cbcbcb;
    border-radius: 3px;
    z-index: 10;
  }

  // check
  &:after {
    bottom: 34px;
    left: 50%;
    margin-left: -7px;
    z-index: 10;

    height: 7px;
    width: 16px;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-color: transparent;

    transform: rotate(-45deg);
  }

  &.active {
    .product-card-title {
      color: $orange;
    }

    &:after {
      border-color: $orange;
    }
  }
}

// Checkbox
.product-card-checkbox {
  opacity: 0;
}

.btn-modal-hide {
  display: none;
}

.btn-hide {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.background-wrapper {
  display: none;

  opacity: .8;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  position: fixed;
  z-index: 100;
  background: $white;
}

.subscription-success-photo {
  display: none;
}

.subscription-success {
  .subscription-cover {
    height: 516px;
  }
}

/**
 * Mobile
 */
@media only screen and (max-width: 991px) {

  .subscription-cover,
  .media-box,
  .subscription-cover .product-picture {
    display: none;
  }

  .subscription-panel {
    background: $orange-gradient;

    .product-card-panel {
      .product-card-info {
        padding: 30px 0;
      }

      .product-picture {
        display: none;
      }
    }
  }

  .subscription-content {
    padding: 0 30px;
    margin: 0;
    max-width: none;
  }
}


/**
 * Mobile
 */
@media only screen and (max-width: 991px) {
  .main-slider-section {
    .col-main-slider-text-slides {
      padding-top: 30px;
    }
  }

  .subscription-popup {
    width: 100%;
    z-index: 1000;
    padding: 0;
    margin-bottom: 100px;

    .col,
    .col-lg-6 {
      padding: 0 !important;
      margin: 0 !important;
    }

    .btn-modal-reset {
      display: none;
    }

    .btn-modal-hide {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1000;
      display: block;
    }
  }

  .subscription-content {
    .subscription-header {
      font-size: 28px;
      line-height: 42px;
    }
  }

  .subscription-panel {
    border-radius: 10px;
    padding: 60px 0;
    margin: 0 15px;

    .container {
      padding: 0;
    }

    .row {
      margin: 0;
    }
  }

  .subscription-initial {
    display: block;
    background: transparent;
    position: relative;
    padding: 0;
    margin: 0;
    border-radius: 0;

    .media-box {
      display: block;
      box-shadow: none;
      position: relative;
      top: 0;
      right: 0;
      padding: 0 0 40px;
      margin: 0;
      height: auto;

      .confirmation-label {
        color: $white;
        font-size: 18px;
        line-height: 30px;
        font-family: $ubuntu-bold;
        text-align: right;

        display: block;

        border-radius: 100px 0 0 100px;

        margin: 30px 0 0 37px;
        padding: 30px 15px 0 25px;

        min-height: auto;
        max-width: 280px;
        height: 149px;

        position: absolute;

        bottom: 0;
        right: 0;

        background: $orange-gradient;
        z-index: 1000;

        .text-subscription-initial {
          font-size: 18px;
          line-height: 29px;
          font-family: $ubuntu-light;
        }

        .btn-subscription-initial {
          color: $white;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: 1.75px;
          text-transform: uppercase;
        }
      }
    }

  }

  .subscription-primary,
  .subscription-secondary {
    position: absolute;
    top: 100px;
    z-index: 200;
  }

  .subscription-primary {
    display: none;

    .media-box-block {
      display: none;
    }

  }


  .subscription-secondary {

    .product-picture,
    .btn-send {
      display: none;
    }

    .send-panel {
      display: block;

      .btn-secondary {
        width: 100%;
        display: block;
      }
    }

    .subscription-subtext {
      margin-bottom: 40px;
    }

    .product-card-panel {
      padding: 0;

      .product-card-info {
        text-align: left;
        background: none;
        box-shadow: none;
        padding: 0;
        position: relative;

        &:hover {
          box-shadow: none;
        }

        .product-card-title {
          color: $white;
          padding: 0 0 7px 24px;
        }

        .grey-text {
          color: $white;
          min-height: 0;
          margin: 0;
          padding: 0 0 0 23px;
        }
      }
    }

    .btn-product-card {
      box-shadow: none !important;
      border-radius: 0 !important;

      &:hover {
        .product-card-title {
          color: $white;
        }
      }

      &:before {
        border: 1px solid #cbcbcb;
        background: $white;
        border-radius: 3px;
        padding: 7px;
        top: 0;
        left: 10px;
        bottom: auto;
      }

      &:after {
        top: 3px;
        left: 9px;
        border-width: 2px;
        height: 6px;
        width: 10px;
      }
    }
  }

  .subscription-success {
    background: transparent;
    position: relative;
    padding: 0;
    margin: 0 0 100px;
    border-radius: 0;

    .subscription-subtext,
    .subscription-header,
    .subscribe-form {
      display: none;
    }

    .media-box {
      display: block;
      box-shadow: none;
      position: relative;
      right: 0;
      left: 0;
      padding: 0 0 40px;
      margin: 0;
      height: auto;

      .confirmation-label {
        color: $white;
        font-size: 18px;
        line-height: 30px;
        font-family: $ubuntu-bold;
        text-align: right;

        display: block;

        border-radius: 60px 0 0 60px;

        margin: 30px 0 0 37px;
        padding: 30px 15px 0 0;

        min-height: auto;
        max-width: 250px;
        height: 125px;

        position: absolute;

        bottom: 0;
        right: 0;

        background: $orange-gradient;
        z-index: 1000;
      }
    }
  }
}

/**
 * Main Slider Subscription
 */
.main-slider-subscription {
  display: none;
}

@media only screen and (max-width: 962px) {
  .main-slider-subscription {
    display: block;
    position: relative;
    z-index: 100;

    .subscription-success,
    .subscription-initial {
      right: 0;
      top: 50px;
    }

    .subscription-primary,
    .subscription-secondary {
      top: 100px;
    }

    .media-box {
      height: 149px;

      img {
        display: none;
      }
    }
  }
}
