/**
 * Subscription
 */

.subscription-section {
  font: 16px/26px $ubuntu-light;
  position: relative;
  @include sm-down {
    margin-bottom: 0;

    .promo-label-subscription {
      display: none;
    }
  }

}

.subscription-content {
  max-width: 460px;
  padding: 5px 0 0;

  .subscription-header {
    color: $white;
    font-family: $ubuntu-bold;
    font-size: 32px;
    font-weight: normal;
    line-height: 48px;
    padding-bottom: 13px;
  }

  @include sm-down {
    margin: 0 auto;
  }
}

.subscription-subtext {
  color: $white;
  font-size: 16px;
  line-height: 26px;
  font-family: $ubuntu-light;
  margin-bottom: 14px;
}

.subscribe-form {
  padding-top: 25px;
}

.subscription-field {
  color: $white;
  background: $orange linear-gradient(160.26deg, #FB9231 0%, #E97000 100%);
  border-radius: 16px;
  padding: 80px 20px 80px 200px;
  position: relative;
  margin-left: -200px;
  @include load-animation(-50px, 0);
  transition-delay: 0.5s;

  .visible & {
    opacity: 1;
    transform: translate(0, 0);
  }

  @include sm-down {
    margin-left: 0;
    flex-basis: 100%;
    max-width: 100%;
    border-radius: 0;
    padding-left: 20px;
  }

  .junior & {
    background: $yellow-gradient;

    .subscription-header {
      @include heading2-typography(36px, 43px, 2px);
    }
  }

  .exclusive & {
    background: transparent;

    @include lg-up {
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .subscription-header {
      font: 24px/34px $idlewild-bold;
    }
  }
}

.subscribe-row {
  display: flex;
  margin-bottom: 42px;

  .subscription-submit,
  .subscription-input {
    background: $white;
    width: 305px;
    box-sizing: border-box;
    margin: 0;
    font: 16px/26px $ubuntu-light;
    padding: 0 32px;
    border: 0;
    border-radius: 100px 0 0 100px;
    outline: none;
  }

  .subscription-submit {
    background: $black-gradient;
    border: 0;
    color: $white;
    font: 16px/22px $ubuntu-bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 155px;
    padding: 27px 0 23px;
    border-radius: 0 100px 100px 0;
    cursor: pointer;
    outline: none;

    .junior & {
      background: $blue;
    }

    .exclusive & {
      background: $orange;
    }
  }

  @include sm-down {
    display: block;

    .subscription-input {
      border-radius: 32px;
      width: 100%;
      padding: 10px 24px 8px;
      display: block;
      margin-bottom: 24px;
    }

    .subscription-submit {
      border-radius: 32px;
      width: 100%;
      padding: 10px 24px 8px;
      display: block;
      font: 12px/26px $ubuntu-bold;

      .junior &,
      .exclusive & {
        color: $white;
      }
    }
  }
}

.agreement {
  font: 12px/20px $ubuntu-light;
  position: relative;

  .agreement-checkbox {
    position: absolute;
    opacity: 0;
  }

  .agreement-label {
    padding-left: 23px;
    position: relative;
    display: block;
    cursor: pointer;

    @include unselectable;

    a {
      color: inherit;
      font: 12px/20px $ubuntu-bold;
    }

    &:before,
    &:after {
      position: absolute;
    }

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      background: $white;
      border-radius: 3px;
      top: 2px;
      left: 0;
      cursor: pointer;
      border: 1px solid #cbcbcb;
    }

    &:after {
      height: 6px;
      width: 10px;
      border-left: 2px solid $orange;
      border-bottom: 2px solid $orange;
      transform: rotate(-45deg);
      top: 5px;
      left: 3px;
    }

    &.active {
      &:after {
        content: '';
      }
    }
  }

}

.media-box {
  width: 515px;
  height: 343px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 80px;
  right: 33px;
  overflow: hidden;
  z-index: 10;

  img,
  iframe {
    max-width: 100%;
    display: block;
    border-radius: 10px;

    @include sm-down {
      width: 100%;
      border-radius: 0;
    }
  }

  @include load-animation(0, 50px);
  transition-delay: 0.5s;

  .visible & {
    opacity: 1;
    transform: translate(0, 0);
  }

  @include sm-down {
    position: static;
    min-width: 100%;
    width: auto;
    margin: 0 -15px;
    border-radius: 0;
  }
}

/**
 * Mobile
 */
@media only screen and (max-width: 1120px) {
  .subscribe-row .subscription-input {
    width: 200px;
  }
}

@media only screen and (max-width: 991px) {
  .subscribe-row .subscription-input {
    width: 100%;
  }
}



