.tabs-section {
  text-align: center;

  .heading1_2 {
    margin-bottom: 30px;
  }
}

.tabs-switcher {
  max-width: 532px;
  margin: 0 auto;

  ul {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font: 16px/26px $ubuntu-bold;
    letter-spacing: 2px;
    margin-bottom: 35px;

    @include xs2-down {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 1px;
    }

    svg,
    img {
      max-width: 32px;
      max-height: 32px;
      display: block;
      margin: 0 auto 15px;
      border-radius: 50%;
      background-color: #FFFFFF;
      box-shadow: 0 2px 11px 0 rgba(46, 19, 0, 0.15);
      //fill: $black;
      //stroke: $black;
    }

    li {
      padding: 0 25px;
      border-left: 1px solid rgba(34, 34, 34, 0.1);

      @include xs2-down {
        padding: 0 13px;
      }

      &:first-child {
        border-left: 0;
      }

      a {
        color: $black;
        display: block;
        font: 14px/19px $ubuntu-bold;

        &.active {
          color: $orange;

          svg,
          img {
            max-width: 42px;
            max-height: 42px;
            box-shadow: 0 2px 11px 0 rgba(46, 19, 0, 0.15);
            border: 2px solid #E97000;
            //fill: $orange;
            //stroke: $orange;
          }
        }
      }
    }
  }
}

.tabs-container {
  position: relative;
}

.tab {
  visibility: hidden;
  height: 0;
  overflow: hidden;

  &.active {
    visibility: visible;
    height: auto;
  }

  .card-item {
    margin-bottom: 80px;
  }
}

.card-container {
  @include sm-down {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0;

    .card-item {
      flex: 0 0 274px;
      width: 274px;
      padding: 0 9px;
      margin-bottom: 10px;

      [class*='floating_item'] {
        display: none;
      }
    }
  }
}