/**
 * Time Line
 */
.timeline-section {
  padding: 0 0 100px 30px;
  overflow-x: hidden;

  @include sm-down {
    width: 100%;
    overflow-x: hidden;
  }
}

.owl-nav {
  display: none;
}

.timeline-top-section {
  padding-bottom: 15px;

  &>div {
    &:first-child {
      order: 2;
    }

    &:nth-child(2) {
      order: 1;
    }
  }

  @include sm-down {
    display: block;

    .heading1_2 {
      margin-bottom: 16px;
    }
  }
}

.timeline-picture {
  position: relative;
  width: 263px;
  height: 263px;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    height: auto;

    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 1s ease;

    &.active {
      opacity: 1;
    }
  }

  @include sm-down {
    width: 160px;
    height: 160px;
  }
}

.timeline-slider {
  padding-top: 56px;
  position: relative;
  flex-wrap: nowrap;
  width: 390px;
  cursor: grab;

  .owl-stage {
    display: flex;
    position: relative;

    &:before {
      height: 1px;
      background: $light-grey;
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      padding-right: 9999px;
      margin-right: -9999px;

      .exclusive & {
        opacity: 0.2;
      }
    }
  }

  .owl-item {
    position: relative;
  }

  @include sm-down {
    width: 220px;
  }
}

.timeline-item {
  position: relative;
  width: 390px;
  flex: 0 0 390px;
  padding-top: 40px;
  min-height: 147px;
  padding-right: 40px;

  .year {
    color: $grey;
    font: 12px/16px $ubuntu-bold;
    letter-spacing: 2px;
    position: absolute;
    top: -56px;
    left: 0;
    animation: timeline-year 0.5s ease-in-out;
  }

  .bullet {
    width: 16px;
    height: 16px;
    background: $black-gradient;
    border-radius: 50%;
    text-indent: -9999px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-50%) scale(1);
    z-index: 5;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;

    .exclusive & {
      background: $white;
    }
  }

  .item-text {
    transition: color 0.5s ease-in-out, padding-top 0.5s ease-in-out;
    font: 14px/22px $ubuntu-light;

    h6 {
      margin-bottom: 10px;
    }

    .arrow-link {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s ease;
    }
  }

  @include sm-down {
    width: 220px;
    flex: 0 0 220px;
  }
}

.active {
  .bullet {
    transform: translateY(-50%) scale(2);
    background: $orange-gradient !important;
  }

  .item-text {
    color: $orange;
    padding-top: 25px;

    .exclusive & {
      p {
        color: $white;
      }

      .arrow-link {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .year {
    animation: timeline-year-active 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
}
