/** 
alteration of timeline slider for quality sust
*/ 

.timeline-section-quality-sustainbility {

    .timeline-top-section h2,
    .timeline-top-section p {
        max-width: 460px;;
    }

    .timeline-top-section p {
        font: 16px/26px $ubuntu-light;
      
        margin-top: 16px;
    }
    .item-text {
        max-width: 255px;
    }

    .active .item-text {
        padding-top: 0;
    }

    .item-desc {
        opacity: 0;
        margin-top: -10px;
        transition: margin-top 0.5s ease 0s, opacity 0.5s ease 0s;
        
        
    }

    .active .item-desc {
        opacity: 1;
        margin-top: 0;
        color:$darker-grey;
    }
}