/**
 * Top Section - Product Picture
 */
.ts-product-picture {
  width: 100%;
  position: relative;

  .dimension-saver-item {
    img {
      width: 100%;
      max-width: 512px;
    }
  }

  .product-picture-item {
    position: absolute;
    top: 0;
    left: 0;

    .layer {
      width: 100%;
      max-width: 512px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .ts-product-picture {
    display: none;
  }
}
