/**
 * Top Section
 */

.top-section {
  position: relative;
  z-index: 500;
  margin-bottom: 120px;

  &__left-side {
    color: $white;
    width: 55%;
    max-width: 320px;
    font: 20px/33px $ubuntu-light;
    position: relative;
    z-index: 3;

    @include xs2-down {
      width: 80%;
      font-size: 16px;
      line-height: 26px;
    }

    p {
      margin-bottom: 40px;
    }
  }

  &__right-side {
    img {
      border-radius: 50%;
      animation: scale-up-center 0.7s ease-out both;
      display: block;

      @include sm-down {
        max-width: 100%;
        margin: -100px auto 0;
      }
    }
  }

  .heading1 {
    margin-bottom: 24px;
  }
}

/**
 * Categories (3 icons below header)
 */
.category {
  &__item {
    font: 10px/16px $ubuntu-bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 30px;
    text-align: center;
    flex-shrink: 0;
    position: relative;
    color: $white;
    z-index: 3;

    .image-object-fit {
      display: none;
    }
  }

  .icon {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: 0 auto 8px;

    .icon-image {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      overflow: hidden;
    }
  }

  &__image-item {
    cursor: pointer;
    position: relative;

    @include unselectable;
  }

  .image-object-fit {
    transform: translate(-50%, -50%);
    //transition: width .2s ease, height .2s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

/**
 * Hero Content
 */
.hero-content {
  position: relative;
  min-height: 650px;
}


/**
 * Responsive tweaks for shape and item photo
 */
@media only screen and (min-width: 1300px) {
  .hero-content {
    .cover {
      display: block;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1170px) {
  .hero-content {
    &:before {
      mask-position: -10px 130px;
    }
  }

  .category {
    &__image-item {
      &.active {
        mask-position: -40px 130px;
      }
    }
  }
}

@media only screen and (min-width: 840px) and (max-width: 991px) {
  .hero-content {
    &:before {
      mask-position: 240px 130px;
    }
  }

  .category {
    &__image-item {
      &.active {
        mask-position: 210px 130px;
      }
    }

    .btn-hide-top-photo {
      top: 70%;
      right: 55%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .hero-content {
    &:before {
      mask-position: -10px 130px;
    }
  }

  .category {
    &__image-item {
      &.active {
        mask-position: -40px 130px;
      }
    }
  }

}

@media only screen and (max-width: 574px) {
  .hero-content {
    &:before {
      mask-position: -230px 130px;
    }
  }

  .category {
    &__image-item {

      &.active {
        right: -30px;
        mask-position: -230px 130px;
      }
    }
  }
}
