/**
 * World Popularity
 */
.world-popularity {
  padding: 65px 0 145px 0;
}

.world-popularity-content {
  padding: 150px 100px 0 0;

  .world-popularity-title {
    padding: 0 0 17px;
  }
}

/**
 * Mobile
 */
@include sm-down {
  .world-popularity-content {
    padding: 0;
  }
}

.world-popularity-photo {
  img {
      max-width: 100%;
      height: auto;
  }
}