$white: #fff;
$black: #222;
$black-true:#000;
$grafit: #272727;
$dark: #151515;

/*primary colors*/
$darker-grey:#222;
$dark-grey: #4A4A4A;
$light-grey: #F5F4F0;
$grey: #979797;
$silver: #D0D0D0;
$brown: #3B1E16;
$green: #0AA245;
$green-light: #6AC04F;
$pink: #B92A82;

$yellow: #F0AB00;
$orange: #E97000;
$orange-light: #F0BF90;
$blue: #0657AF;
$light-blue: #61B4E4;

$mustard: #D8D15E;

/*gradients*/
$orange-gradient: linear-gradient(160.26deg, #FB9231 0%, #E97000 100%);
$orange-gradient-reverse: linear-gradient(340.26deg, #FB9231 0%, #E97000 100%);
$orange-gradient-junior: linear-gradient(160.26deg, #fcc852 0%, #f6b422 100%);

$blue-gradient: linear-gradient(160.26deg, #2D7CD2 0%, #0657AF 100%);
$blue-gradient-reverse: linear-gradient(340.26deg, #2D7CD2 0%, #0657AF 100%);

$black-gradient: linear-gradient(135deg, #545454 0%, #000000 100%);
$black-gradient-radial: radial-gradient(circle at top center, #353535 0%, #000000 100%);

$yellow-gradient: linear-gradient(160.26deg, #FFD367 0%, #F0AB00 100%);
$yellow-gradient-reverse: linear-gradient(340.26deg, #FFD367 0%, #F0AB00 100%);

