$idlewild-thin: 'idlewild-thin', Arial, sans-serif;
$idlewild-light: 'idlewild-light', Arial, sans-serif;
$idlewild-medium: 'idlewild-medium', Arial, sans-serif;
$idlewild-bold: 'idlewild-bold', Arial, sans-serif;
$idlewild-book: 'idlewild-book', Arial, sans-serif;

$loyola-pro: 'loyola-pro', Arial, sans-serif;

$ubuntu-bold: 'ubuntu-bold', Arial, sans-serif;
$ubuntu-bold-it: 'ubuntu-bold-it', Arial, sans-serif;
$ubuntu-italic: 'ubuntu-italic', Arial, sans-serif;
$ubuntu-light: 'ubuntu-light', Arial, sans-serif;
$ubuntu-light-it: 'ubuntu-light-it', Arial, sans-serif;
$ubuntu-reg: 'ubuntu-reg', Arial, sans-serif;


@mixin fonts($font-family, $file-path){
  font-family: $font-family;
  src: url('../fonts/#{$file-path}.woff2') format('woff2'),
  url('../fonts/#{$file-path}.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  @include fonts('idlewild-thin', idlewild/idlewild-thin);
}

@font-face {
  @include fonts('idlewild-light', idlewild/idlewild-light);
}

@font-face {
  @include fonts('idlewild-medium', idlewild/idlewild-medium);
}

@font-face {
  @include fonts('idlewild-bold', idlewild/idlewild-bold);
}

@font-face {
  @include fonts('idlewild-book', idlewild/idlewild-book);
}

@font-face {
  @include fonts('loyola-pro', loyola-pro/loyola-pro-black-webfont);
}

@font-face {
  @include fonts('ubuntu-bold', ubuntu/ubuntu-bold-webfont);
}

@font-face {
  @include fonts('ubuntu-bold-it', ubuntu/ubuntu-bolditalic-webfont);
}

@font-face {
  @include fonts('ubuntu-italic', ubuntu/ubuntu-italic-webfont);
}

@font-face {
  @include fonts('ubuntu-light', ubuntu/ubuntu-light-webfont);
}

@font-face {
  @include fonts('ubuntu-light-it', ubuntu/ubuntu-lightitalic-webfont);
}

@font-face {
  @include fonts('ubuntu-reg', ubuntu/ubuntu-regular-webfont);
}
