@mixin btn($color) {
  text-transform: uppercase;
  color: $color;
  font: 14px/19px $ubuntu-bold;
  letter-spacing: 2px;
  border-radius: 24px;
  padding: 16px 16px 13px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
}

@mixin btn-medium($color) {
  border-radius: 20px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1);
  font: 12px/16px $ubuntu-bold;
  letter-spacing: 2px;
  color: $color;
  padding: 14px 17px 10px;
  display: inline-block;
  transition: all 0.3s ease;
}

@mixin btn-small($color, $border-color) {
  border-radius: 13px;
  font: 12px/16px $ubuntu-bold;
  border: 1px solid $border-color;
  color: $color;
  letter-spacing: 2px;
  padding: 6px 10px 4px;
  display: inline-block;
  transition: all 0.3s ease;
}

@mixin card-floating-picture($left, $right, $top, $bottom, $z-index, $x-shift, $y-shift) {
  position: absolute;
  left: $left;
  right: $right;
  top: $top;
  bottom: $bottom;
  z-index: $z-index;
  img {
    transition: transform 1s ease;
  }
  .floating_item_container {
    transform: translate($x-shift, $y-shift);
  }
}

@mixin load-animation ($x-shift, $y-shift) {
  opacity: 0;
  transform: translate($x-shift, $y-shift);
  transition: all 0.7s ease-in-out;
}


@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}
