/*----------------------------------*\
    spacing variables
\*----------------------------------*/

/* sizes of padding and margin */
$sizes: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300;

/* prefixes */
$contains: (
        'pt': padding-top,
        'pb': padding-bottom,
        'pr': padding-right,
        'pl': padding-left,
        'mt': margin-top,
        'mb': margin-bottom,
        'mr': margin-right,
        'ml': margin-left,
        'br' : border-radius,
        'btlr' : border-top-left-radius,
        'btrr' : border-top-right-radius,
        'bblr' : border-bottom-left-radius,
        'bbrr' : border-bottom-right-radius
);

/* responsive spacings */
$spacing-md: 'true';
$spacing-xs: 'true';
$spacing-xs2: 'true';

@each $prefix, $meaning in $contains {
  @each $size in $sizes {
    .#{$prefix}#{$size} {
      #{$meaning}: $size*1px;
    }
    @media #{$sm-down} {
      .#{$prefix}#{$size}-sm {
        #{$meaning}: $size*1px !important;
      }
    }
    @if $spacing-md == 'true' {
      @media #{$md-down} {
        .#{$prefix}#{$size}-md {
          #{$meaning}: $size*1px !important;
        }
      }
    }

    @if $spacing-xs == 'true' {
      @media #{$xs-down} {
        .#{$prefix}#{$size}-xs {
          #{$meaning}: $size*1px !important;
        }
      }
    }

    @if $spacing-xs2 == 'true' {
      @media #{$xs2-down} {
        .#{$prefix}#{$size}-xs2 {
          #{$meaning}: $size*1px !important;
        }
      }
    }
  }
  .#{$prefix}0 {
    #{$meaning}: 0 !important;
  }
  @media #{$sm-down} {
    .#{$prefix}0-sm {
      #{$meaning}: 0 !important;
    }
  }
  @if $spacing-md == 'true' {
    @media #{$md-down} {
      .#{$prefix}0-md {
        #{$meaning}: 0 !important;
      }
    }
  }

  @if $spacing-xs == 'true' {
    @media #{$xs-down} {
      .#{$prefix}0-xs {
        #{$meaning}: 0 !important;
      }
    }
  }
}
