{% include '../common/head.twig' with {'bodyclass': 'article', 'pagetitle': ' About Us - Press Releases - Article'} %}
{% include '../common/header.twig' %}

{% include '../components/article.twig' %}
{% include '../components/call-to-action.twig' with {'title': 'Here comes a short action title', 'linktitle': 'With call to action', 'link': '#'} %}
{% include '../components/read-more.twig' %}

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}