{% include '../common/head.twig' with {'bodyclass': 'contact', 'pagetitle': ' About Us - Contact'} %}
{% include '../common/header.twig' %}

<!-- begin. Contact Header Section-->
<div class="contact-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <p class="caption text-center">Contact</p>
        <h2 class="heading1_4 text-center">Tukaj pride en naslov, ki te povabi k temu, da nas kontaktiraš</h2>
        {% include '../components/social-panel-horizontal.twig' %}
        {% include '../components/scroll-down.twig' %}
      </div>
    </div>
  </div>
</div>
<!-- end. Contact Header Section-->

<!-- begin. Location Section-->
<div class="contact-location">
  <div class="container">
    <div class="row">

      <!-- Location -->
      <div class="col-md-5 offset-md-1 position-relative">

        <!-- Map -->
        <div class="contact-map">
          <iframe
            class="contact-map-iframe"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAkk1ktN_MW0EJtR4GM9PPNJtYkqJukpKY&q=Droga+Kolinska,Kolinska+1,Ljubljana" allowfullscreen>
          </iframe>
        </div>

        <!-- Logo Block-->
        <ul class="contact-logo-block">
          <li><img src="./images/svg/logo-argeta-orange.svg" height="40" alt=""></li>
          <li><img src="./images/svg/logo-atlantic-grupa-color.svg" height="40" alt=""></li>
        </ul>

        <!-- Address -->
        <address class="vcard addr-block">
          <span class="adr">
            <span class="addr-unit"><span class="locality">Droga Kolinska, Živilska industrija d. d</span>,</span>
            <span class="addr-unit"><span class="street-address"> Kolinska ulica 1</span></span>
            <span class="addr-unit"><span class="postal-code">1544</span> <span class="region">Ljubljana</span>, <span class="country-name">Slovenija</span></span>
          </span>
          <span class="addr-unit">E: <a href="mailto:info@argeta.com" class="email">info@argeta.com</a></span>
        </address>

      </div>

      <!-- Contact Form -->
      <div class="col-md-6" id="about-contact">

        <div class="contact-form-block">
          <h3 class="heading1_6">Naslov povabi, da nas kontaktiraj in ti bomo odgovorili</h3>

          <form class="form contact-form fl-form fl-style-2">

            <div class="form-row">
              <div class="form-group col-lg-6">
                <label for="name" class="label">Ime</label>
                <input type="text" placeholder="Ime" id="name" name="name" class="form-control text-input fl-input" required>
              </div>

              <div class="form-group col-lg-6">
                <label for="surname" class="fl-label">Priimek</label>
                <input type="text" placeholder="Priimek" id="surname" name="surname" class="form-control text-input" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-12">
                <label for="email" class="fl-label">E-mail</label>
                <input type="email" placeholder="E-mail" id="email" name="email" class="form-control text-input">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-12">
                <label for="message" class="fl-label">Sporočilo</label>
                <textarea placeholder="Sporočilo" name="textarea" id="message" class="form-control text-textarea" rows="5"></textarea>
              </div>
            </div>

            <div class="form-row">
              <div class="form-check">

                <label class="form-check-label text-5" for="about-us-contact-check">
                  <input class="form-check-input" type="checkbox" id="about-us-contact-check">
                  <span class="form-check-mark"></span>
                  Strinjam se s <strong>splošnimi pogoji</strong> in soglašam da se posredovani osebni podatki uporabljajo oz. obdelujejo v skladu s <strong>pravili zasebnosti</strong> za posredovanje e-sporočil, povezanih s poslovanjem Organizatorja kot so na primer akcije, novosti, recepti in splošna obvestila o dogodkih, predstavitvah ter drugih obvestil, kot tudi za njihovo uporabo za analize in statistične obdelave z namenom izboljšanja uporabniške izkušnje na naših digitalnih platformah, vodenja trženjskih raziskav in promocijskih aktivnosti, oglaševanja.
                </label>
              </div>
            </div>

            <div class="form-row">
              <button type="submit" class="orange-btn" name="contactSubmit">Pošlji</button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-6" id="about-contact-confirmation" style="display:none;">
        <div class="contact-block-orange">
          <h3 class="heading1_6 font-color-white">Confirmation that your selection was sent</h3>

          <p class="text-3 font-color-white">Here we say that we will keep you updated via email and maybe something else lorem ipsum.</p>

          <a href="#" class="white-btn">Call to action</a>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end. Location Section-->


{% include '../components/call-to-action.twig' with {'title': 'Nek naslov, ki te povabi na vstopno stran', 'linktitle': 'With call to action', 'link': '#'} %}

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}