{% include '../common/head.twig' with {'bodyclass': 'press-releases', 'pagetitle': ' About Us - Press Releases - List'} %}
{% include '../common/header.twig' %}

{% include '../components/press-releases.twig' %}

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}