{% include '../common/head.twig' with {'bodyclass': 'inner about', 'pagetitle': ' About Us'} %}
{% include '../common/header.twig' %}

{% include '../components/top-section-about-us.twig' %}
{% include '../components/vision-mission.twig' %}
{% include '../components/did-you-know.twig' %}



{% include '../components/timeline-slider.twig' %}
{% include '../components/call-to-action-fix-1.twig' with {'title': 'Here comes a short action title', 'linktitle': 'With call to action', 'link': '#'} %}

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}