{% include '../common/head.twig' with {'bodyclass': 'history', 'pagetitle': ' About Us - history'} %}
{% include '../common/header.twig' %}

<!-- history-interesting-fact-popup template -->
<div class="history-interesting-fact-popup" style="display:none;">
    <div class="container">
        <div class="row history-interesting-fact-popup-row">
            <div class="col-12 offset-md-2 col-md-8 history-interesting-fact-popup-inner">
                <div class="history-interesting-fact-popup-title">Zanimivost</div>
                <div class="history-interesting-fact-popup-close">
                    <svg class="ic-close" width="24px" height="24px" viewbox="0 0 24 24">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g fill-rule="nonzero">
                                <rect id="boudning-box" x="0" y="0" width="24" height="24"></rect>
                                <polygon id="Path" fill="#FFFFFF" points="19.188477 6.437988 17.561523 4.812012 11.999939 10.373596 6.437988 4.812012 4.812012 6.437988 10.373596 11.999939 4.812012 17.561523 6.437988 19.188477 11.999939 13.626526 17.561523 19.188477 19.188477 17.561523 13.626526 11.999939"></polygon>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="history-interesting-fact-popup-image">
                    <img src="https://via.placeholder.com/750x500" width="750" alt="">
                </div>
                <div class="history-interesting-fact-popup-text" data-history-interesting-fact-popup-year="">
                    sample text
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END history-interesting-fact-popup template -->

<div class="history-timeline">
    <div class="history-timeline-inner">
        <div class="history-timeline-point" data-timeline-year="1957"></div>
        <div class="history-timeline-point data-timeline-point-text invisible-timeline-dot" data-timeline-year="1960"></div>
        <div class="history-timeline-point data-timeline-point-text invisible-timeline-dot" data-timeline-year="1970"></div>
        <div class="history-timeline-point data-timeline-point-text" data-timeline-year="1980"></div>
        <div class="history-timeline-point data-timeline-point-text invisible-timeline-dot" data-timeline-year="1990"></div>
        <div class="history-timeline-point data-timeline-point-text invisible-timeline-dot" data-timeline-year="2000"></div>
        <div class="history-timeline-point data-timeline-point-text" data-timeline-year="2010"></div>
        <div class="history-timeline-point data-timeline-point-text invisible-timeline-dot" data-timeline-year="2020"></div>
        <div class="history-timeline-point" data-timeline-year="1963"></div>
        <div class="history-timeline-point" data-timeline-year="2019"></div>
        <!-- progress line -->
        <div class="history-timeline-progress" data-timeline-progress-year="1950"></div>
        <!-- end progress line -->
    </div>
</div>
<div class="history-items" data-current-history-item="">
    <div id="history-container">
        <div id="history-item-1" class="history-item history-item-1" data-history-item-year="1957">
            <div class="container">
                <div class="row history-item-row">
                    <div class="col-12 col-md-6 col-xl-5">
                        <div class="history-item-year">‘57</div>
                        <h3 class="sup">Zgodovina argete</h3>
                        <h2 class="history-item-title">
                            Naslov mejnika imamo
                        </h2>
                        <p class="history-item-text">
                            Argeta preide na »Free from« formulo, ki pomeni, da so izdelki brez konzervansov, brez glutena, brez barvil in brez ojačevalcev okusa.<br><br>
                            S tem se Argeta otrese vseh aditivov in postane izdelek, ki ga lahko brezskrbno uživa vsak. Argeta postane tržni vodja tudi v Švici. Argeta se z zaščito barve Argete v Sloveniji postavi ob bok ekskluzivni skupini blagovnih znamk, ki jih javnost prepozna že zgolj po obliki, barvi ali vzorcu, kot so Milka, Manner, Burberry, Louboutin, Whiskas. Argeta v Sloveniji lansira novo linijo zelenjavnih namazov na osnovi čičerike.
                        </p>
                    </div>
                    <div class="col-12 offset-md-1 col-md-5 col-xl-6 text-center">
                        <div class="history-item-circ-container">
                            <img class="history-item-image" src="https://via.placeholder.com/555" width="555" alt="">
                        </div>
                        <!-- if there is interesting fact show this button on mobile -->
                        <div class="history-item-interesting-fact-mobile">
                            <button>Preberi zanimivost</button>
                        </div>
                        <!-- end if there is interesting fact show this button on mobile -->
                    </div>
                </div>
                <div class="history-item-pagination">
                    <div class="history-item-pagination-next" data-pagination-year="1963">
                        <div class="data-pagination-next">‘63</div>
                    </div>
                </div>
                <!-- history-item-pagination -->
            </div>
            <!-- .container -->
            <!-- history-interesting-fact-data : should be hidden -->
            <div class="history-interesting-fact">
                <div class="history-interesting-fact-image">
                    <img src="https://via.placeholder.com/750x500" width="750">
                </div>
                <div class="history-interesting-fact-text">
                    Ružica Radojević, direktorica trženja v 90.-ih letih, se je zavzela za prodor Argete na bivše jugoslovanske trge. Navezala je stike z Makedonijo, Bosno in na Kosovem. S Srbijo niso bili uspešni zaradi embarga in drugih nevšečnosti. V tistem času ni bilo prisotnega nobenega oglaševanja, vse je potekalo z osebno komunikacijo in dogovori. Prvo naročilo za Makedonijo je znašalo 60 ton paštete, vendar so ga zaradi zastarele linije in pomanjkanja surovin komaj uspeli izpeljati. Pot do tja je zaradi vojne potekala preko Madžarske, Romunije in Bolgarije, nato pa so jo od tam preprodajali po bivši Jugoslaviji.
                    <br><br>
                    Paštete so bile v času vojne na Balkanu zelo iskana roba. Bile so namreč izredno hranljive za vojake na terenu, poleg tega pa jih ni bilo potrebno shranjevati v hladilnikih, kar pomeni tudi enostaven transport. V tistem času je bila prodaja paštete na bosanskem trgu 10-krat večja kot na slovenskem.
                </div>
            </div>
            <!-- END history-interesting-fact-data -->
        </div>
        <!-- history-item -->
        <div id="history-item-2" class="history-item history-item-2" data-history-item-year="1963">
            <div class="container">
                <div class="row history-item-row">
                    <div class="col-12 col-md-6 col-xl-5">
                        <div class="history-item-year">‘63</div>
                        <h3 class="sup">Zgodovina argete</h3>
                        <h2 class="history-item-title">
                            Naslov mejnika imamo
                        </h2>
                        <p class="history-item-text">
                            Argeta preide na »Free from« formulo, ki pomeni, da so izdelki brez konzervansov, brez glutena, brez barvil in brez ojačevalcev okusa.<br><br>
                            S tem se Argeta otrese vseh aditivov in postane izdelek, ki ga lahko brezskrbno uživa vsak. Argeta postane tržni vodja tudi v Švici. Argeta se z zaščito barve Argete v Sloveniji postavi ob bok ekskluzivni skupini blagovnih znamk, ki jih javnost prepozna že zgolj po obliki, barvi ali vzorcu, kot so Milka, Manner, Burberry, Louboutin, Whiskas. Argeta v Sloveniji lansira novo linijo zelenjavnih namazov na osnovi čičerike.
                        </p>
                    </div>
                    <div class="col-12 offset-md-1 col-md-5 col-xl-6 text-center">
                        <div class="history-item-circ-container">
                            <img class="history-item-image" src="https://via.placeholder.com/555" width="555" alt="">
                        </div>
                        <!-- if there is interesting fact show this button on mobile -->
                        <div class="history-item-interesting-fact-mobile">
                            <button>Preberi zanimivost</button>
                        </div>
                        <!-- end if there is interesting fact show this button on mobile -->
                    </div>
                </div>
                <div class="history-item-pagination">
                    <div class="history-item-pagination-next" data-pagination-year="2010">
                        <div class="data-pagination-next">‘10</div>
                    </div>
                    <div class="history-item-pagination-prev" data-pagination-year="1957">
                        <div class="data-pagination-prev">‘57</div>
                    </div>
                </div>
                <!-- history-item-pagination -->
            </div>
            <!--container -->
            <!-- history-interesting-fact-data : should be hidden -->
            <div class="history-interesting-fact">
                <div class="history-interesting-fact-image">
                    <img src="https://via.placeholder.com/800x500" width="800">
                </div>
                <div class="history-interesting-fact-text">
                    Neko drugo ime, direktorica trženja v 90.-ih letih, se je zavzela za prodor Argete na bivše jugoslovanske trge. Navezala je stike z Makedonijo, Bosno in na Kosovem. S Srbijo niso bili uspešni zaradi embarga in drugih nevšečnosti. V tistem času ni bilo prisotnega nobenega oglaševanja, vse je potekalo z osebno komunikacijo in dogovori. Prvo naročilo za Makedonijo je znašalo 60 ton paštete, vendar so ga zaradi zastarele linije in pomanjkanja surovin komaj uspeli izpeljati. Pot do tja je zaradi vojne potekala preko Madžarske, Romunije in Bolgarije, nato pa so jo od tam preprodajali po bivši Jugoslaviji.
                    <br><br>
                    Paštete so bile v času vojne na Balkanu zelo iskana roba. Bile so namreč izredno hranljive za vojake na terenu, poleg tega pa jih ni bilo potrebno shranjevati v hladilnikih, kar pomeni tudi enostaven transport. V tistem času je bila prodaja paštete na bosanskem trgu 10-krat večja kot na slovenskem.
                </div>
            </div>
            <!-- END history-interesting-fact-data -->
        </div>
        <!-- history-item -->
        <div id="history-item-3" class="history-item history-item-3" data-history-item-year="2010">
            <div class="container">
                <div class="row history-item-row">
                    <div class="col-12 col-md-6 col-xl-5">
                        <div class="history-item-year">‘10</div>
                        <h3 class="sup">Zgodovina argete</h3>
                        <h2 class="history-item-title">
                            Naslov mejnika imamo
                        </h2>
                        <p class="history-item-text">
                            Argeta preide na »Free from« formulo, ki pomeni, da so izdelki brez konzervansov, brez glutena, brez barvil in brez ojačevalcev okusa.<br><br>
                            S tem se Argeta otrese vseh aditivov in postane izdelek, ki ga lahko brezskrbno uživa vsak. Argeta postane tržni vodja tudi v Švici. Argeta se z zaščito barve Argete v Sloveniji postavi ob bok ekskluzivni skupini blagovnih znamk, ki jih javnost prepozna že zgolj po obliki, barvi ali vzorcu, kot so Milka, Manner, Burberry, Louboutin, Whiskas. Argeta v Sloveniji lansira novo linijo zelenjavnih namazov na osnovi čičerike.
                        </p>
                    </div>
                    <div class="col-12 offset-md-1 col-md-5 col-xl-6 text-center">
                        <div class="history-item-circ-container">
                            <img class="history-item-image" src="https://via.placeholder.com/555" width="555" alt="">
                            <div class="history-item-play-button"></div>
                        </div>
                    </div>
                </div>
                <div class="history-item-pagination">
                    <div class="history-item-pagination-next" data-pagination-year="2019">
                        <div class="data-pagination-next">‘19</div>
                    </div>
                    <div class="history-item-pagination-prev" data-pagination-year="1963">
                        <div class="data-pagination-prev">‘63</div>
                    </div>
                </div>
                <!-- history-item-pagination -->
            </div>
            <!--container -->
        </div>
        <!-- history-item -->
        <div id="history-item-4" class="history-item history-item-4" data-history-item-year="2019">
            <div class="container">
                <div class="row history-item-row">
                    <div class="col-12 col-md-6 col-xl-5">
                        <div class="history-item-year">‘19</div>
                        <h3 class="sup">Zgodovina argete</h3>
                        <h2 class="history-item-title">
                            Naslov mejnika imamo
                        </h2>
                        <p class="history-item-text">
                            Argeta preide na »Free from« formulo, ki pomeni, da so izdelki brez konzervansov, brez glutena, brez barvil in brez ojačevalcev okusa.<br><br>
                            S tem se Argeta otrese vseh aditivov in postane izdelek, ki ga lahko brezskrbno uživa vsak. Argeta postane tržni vodja tudi v Švici. Argeta se z zaščito barve Argete v Sloveniji postavi ob bok ekskluzivni skupini blagovnih znamk, ki jih javnost prepozna že zgolj po obliki, barvi ali vzorcu, kot so Milka, Manner, Burberry, Louboutin, Whiskas. Argeta v Sloveniji lansira novo linijo zelenjavnih namazov na osnovi čičerike.
                        </p>
                    </div>
                    <div class="col-12 offset-md-1 col-md-5 col-xl-6 text-center">
                        <div class="history-item-circ-container">
                            <img class="history-item-image" src="https://via.placeholder.com/555" width="555" alt="">
                        </div>
                    </div>
                </div>
                <div class="history-item-pagination">
                    <div class="history-item-pagination-prev" data-pagination-year="2010">
                        <div class="data-pagination-prev">‘10</div>
                    </div>
                </div>
                <!-- history-item-pagination -->
            </div>
            <!--container -->
            <!-- history-interesting-fact-data : should be hidden -->
            <div class="history-interesting-fact">
                <div class="history-interesting-fact-image">
                    <img src="https://via.placeholder.com/1000x500" width="1000">
                </div>
                <div class="history-interesting-fact-text">
                    Neko tretje ime, direktorica trženja v 90.-ih letih, se je zavzela za prodor Argete na bivše jugoslovanske trge. Navezala je stike z Makedonijo, Bosno in na Kosovem. S Srbijo niso bili uspešni zaradi embarga in drugih nevšečnosti. V tistem času ni bilo prisotnega nobenega oglaševanja, vse je potekalo z osebno komunikacijo in dogovori. Prvo naročilo za Makedonijo je znašalo 60 ton paštete, vendar so ga zaradi zastarele linije in pomanjkanja surovin komaj uspeli izpeljati. Pot do tja je zaradi vojne potekala preko Madžarske, Romunije in Bolgarije, nato pa so jo od tam preprodajali po bivši Jugoslaviji.
                    <br><br>
                    Paštete so bile v času vojne na Balkanu zelo iskana roba. Bile so namreč izredno hranljive za vojake na terenu, poleg tega pa jih ni bilo potrebno shranjevati v hladilnikih, kar pomeni tudi enostaven transport. V tistem času je bila prodaja paštete na bosanskem trgu 10-krat večja kot na slovenskem.
                </div>
            </div>
            <!-- END history-interesting-fact-data -->
        </div>
        <!-- history-item -->

        <!-- read-more-tag & cta -->
        <div class="read-more-tag">
            <div class="read-more-tag-inner">
                <div class="read-more-tag-desc">Tukaj lahko povabimo k branju zanimivosti.</div>
                <div class="read-more-tag-cta">Preberi zanimivost</div>
            </div>
        </div>
        <!-- END read-more-tag -->
    </div>
</div>

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}