{% include '../common/head.twig' with {'bodyclass': 'product inner exclusive exclusive-line', 'pagetitle': ' Exclusive'} %}
{% include '../common/header.twig' %}

<main>
  <div class="content">
    <div class="top-section mb120 mb160-sm">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 hero-content">
            <div class="top-section__left-side">
              <ul class="breadcrumbs flex mb40">
                <li><a href="#">Izdelki</a></li>
                <li><a href="#" class="active">Argeta</a></li>
              </ul>
              <h1 class="heading1">Ekskluzivne dobrote za prave gurmane.</h1>
              <p>Prestižne namaze Argeta Exclusive odlikujejo edinstvene kombinacije okusov in podpisi priznanih chefov.</p>
              <div class="category flex">
                <div class="category__item">
                  <div class="icon"><img src="./images/icons/ic-dip.svg" alt="" width="64" height="64"></div>
                  <span>pomakanje</span>
                </div>
                <div class="category__item">
                  <div class="icon"><img src="./images/icons/ic-dip.svg" alt="" width="64" height="64"></div>
                  <span>mazanje</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            {% include '../components/main-slider-exclusive.twig' %}
          </div>
        </div>
      </div>
      {#<div class="floating_item_9 js-parallax-item" data-paroller-factor="-0.1" data-paroller-type="foreground" data-paroller-direction="vertical">#}
        {#<div class="floating_item_container"><img src="https://via.placeholder.com/354x240" alt=""></div>#}
        {#</div>#}
      {#<div class="floating_item_10 js-parallax-item" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">#}
        {#<div class="floating_item_container"><img src="https://via.placeholder.com/263x572" alt=""></div>#}
        {#</div>#}
    </div>
    <div class="container">
      <div class="active-area mb100">
        <div class="text-container">
          <h2 class="heading3_2 mb10">Odkrij okuse</h2>
          <p>Prefinjeni goveji pašteti s tartufi in bogati jelenovi pašteti z rožmarinom se vsako leto pridruži nova omejena serija s podpisom priznanega chefa.</p>
        </div>
        <div class="row mb100 mb50-xs">
          <div class="col-md-4 card-item">
            <a href="#" class="product-card">
              <div class="product-picture">
                <img src="images/prod1.png" alt="">
                <div class="floating_item_1 blured js-parallax-item" data-paroller-factor="-0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                  <div class="floating_item_container">
                    <img src="http://pngimg.com/uploads/tomato/tomato_PNG12528.png" width="111" height="111" alt="">
                  </div>
                </div>
                <div class="floating_item_2 js-parallax-item" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                  <div class="floating_item_container">
                    <img src="http://purepng.com/public/uploads/large/purepng.com-salad-leafvegetables-salad-salad-leaf-leaf-lettuce-941524727356d9flc.png" width="107" height="107" alt="">
                  </div>
                </div>
              </div>
              <div class="product-card-info">
                <h4 class="heading3_6">Argeta Goveja s tartufi</h4>
                <span class="arrow-link">Odkrij okusov</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 card-item">
            <a href="#" class="product-card">
              <div class="product-picture">
                <img src="images/prod1.png" alt="">
                <div class="floating_item_3 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                  <div class="floating_item_container">
                    <img src="https://via.placeholder.com/100x70" alt="">
                  </div>
                </div>
                <div class="floating_item_4 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                  <div class="floating_item_container">
                    <img src="https://via.placeholder.com/129x280" alt="">
                  </div>
                </div>
              </div>
              <div class="product-card-info">
                <h4 class="heading3_6">Argeta Jelenova z rožmarinom</h4>
                <span class="arrow-link">Odkrij okusov</span>
              </div>
            </a>
          </div>
          <div class="col-md-4 card-item">
            <a href="#" class="product-card">
              <div class="product-picture">
                <img src="images/prod1.png" alt="">
                <div class="floating_item_5 js-parallax-item" data-paroller-factor="-0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                  <div class="floating_item_container">
                    <img src="https://via.placeholder.com/118x120" alt="">
                  </div>
                </div>
                <div class="floating_item_6 blured js-parallax-item" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                  <div class="floating_item_container">
                    <img src="https://via.placeholder.com/81x118" alt="">
                  </div>
                </div>
              </div>
              <div class="product-card-info">
                <h4 class="heading3_6">Argeta à la chef Luka Košir</h4>
                <span class="arrow-link">Odkrij okusov</span>
              </div>
            </a>
          </div>
        </div>
        <div class="flex--center">
          <a href="#" class="orange-btn glow">odkrij pretekle okuse</a>
        </div>
      </div>
    </div>
  </div>
</main>

{% include '../components/promo-section.twig' with {'title': 'Luka Košir te vabi na vr doživetje', 'subtitle': 'In kratek opis h kampanji lorem, ki okusu daje igrivo svežino, prestižnim konjakom ter mešanico začimb ingverja, pimenta, koriandra in muškata, ki prefinjeno zaokrožajo drzno celoto paštete.', 'button': 'Poglej VR video'} %}
{% include '../components/timeline-slider-exclusive.twig' %}
{% include '../components/news.twig' %}
{% include '../components/subscription-popup.twig' with {'title':'Prijavi se na ekskluzivne e-novice!', 'subtitle': 'Te bodo tvoj reden gurmanski navdih za ekskluzivne kulinarične podvige in nove okuse.', 'photo': 'images/photo/subscription-exclusive.jpg'} %}

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}