{% include '../common/head.twig' with {'bodyclass': 'product inner exclusive', 'pagetitle': ' Exclusive'} %}
{% include '../common/header.twig' %}

{% set top_section_vars = {'product': 'Argeta Exclusive', 'heading': 'À la chef Luka Košir', 'subheading': 'Bogat nabor okusov, izvrstne sestavine in brez škodljivih dodatkov.'} %}
{% include '../components/top-section.twig' with top_section_vars %}

{% include '../components/ingredients.twig' %}
{% include '../components/description-product.twig' %}
{% include '../components/recipe-section.twig' %}
{% include '../components/promo-section.twig' %}
{% include '../components/news.twig' %}
{% include '../components/subscription-popup.twig' with {'title':'Prijavi se na ekskluzivne e-novice!', 'subtitle': 'Te bodo tvoj reden gurmanski navdih za ekskluzivne kulinarične podvige in nove okuse.', 'photo': 'images/photo/subscription-exclusive.jpg'} %}
{% include '../components/product-row.twig' %}

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}