{% include '../common/head.twig' with {'bodyclass': 'product inner junior', 'pagetitle': ' Junior'} %}
{% include '../common/header.twig' %}
{% set top_section_vars = {'product': 'Argeta Junior', 'heading': 'KokoKrem', 'subheading': 'Bogat nabor okusov, izvrstne sestavine in brez škodljivih dodatkov.'} %}
{% include '../components/top-section.twig' with top_section_vars %}

{% include '../components/ingredients-junior.twig' %}
{% include '../components/description-product-junior.twig' %}
{% include '../components/promo-section.twig' %}

{% include '../components/children-book.twig' %}

{% include '../components/news.twig' %}
{% include '../components/subscription-popup.twig' with {'title':'Prijavi se na Junior e-novice!', 'subtitle': 'Nikoli ne ostani brez navdiha za igrive recepte in nepozabne otroške dogodivščine.', 'photo': 'images/photo/subscription-junior.jpg'} %}
{% include '../components/product-row.twig' %}

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}