{% include '../common/head.twig' with {'bodyclass': 'product inner junior junior-page-line', 'pagetitle': ' Junior'} %}
{% include '../common/header.twig' %}
<main>
  <div class="content">
    {% include '../components/top-section-junior-line.twig' %}
    <div class="container">
      <div class="active-area mb100">
        <div class="text-container mb80">
          <h2 class="heading2 yellow mb10">Odkrij okuse</h2>
          <p>Otroci jih naravnost obožujejo zaradi blagih in prijetnih okusov, starši pa zato, ker vedo, da svojim otrokom ponudijo hranljiv obrok brez škodljivih dodatkov.</p>
        </div>
        <div class="row mb100 mb50-xs overflow-row">
          <div class="col-md-4  card-item">
            <a href="#" class="product-card orange">
              <div class="product-picture">
                <img src="images/prod1.png" alt="">
                <div class="new-tag bg-light-blue white">Novo</div>
                <div class="floating_item_bottom_left" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                  <div class="floating_item_container">
                    <img src="https://via.placeholder.com/134x109" width="134" height="109" alt="">
                  </div>
                </div>
              </div>
              <div class="product-card-info">
                <h4 class="heading2_6 yellow">Argeta Junior KokoKrem</h4>
                <span class="arrow-link blue">
                  Odkrij okus
                  <!-- arrow right -->
                  <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                    <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="24"></rect>
                      <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                    </g>
                  </svg>
                  <!-- arrow right end -->
                </span>
              </div>
            </a>
          </div>
          <div class="col-md-4  card-item">
            <a href="#" class="product-card">
              <div class="product-picture">
                <img src="images/prod1.png" alt="">
                <div class="floating_item_bottom_right" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                  <div class="floating_item_container">
                    <img src="https://via.placeholder.com/150x100" alt="">
                  </div>
                </div>
              </div>
              <div class="product-card-info">
                <h4 class="heading2_6 yellow">Argeta Junior KremTuna</h4>
                <span class="arrow-link blue">
                  Odkrij okus
                  <!-- arrow right -->
                  <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                    <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                      <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                    </g>
                  </svg>
                  <!-- arrow right end -->
                </span>
              </div>
            </a>
          </div>
          <div class="col-md-4  card-item">
            <a href="#" class="product-card black">
              <div class="product-picture">
                <img src="images/prod1.png" alt="">
                <div class="floating_item_bottom_right" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                  <div class="floating_item_container">
                    <img src="https://via.placeholder.com/136x110" alt="">
                  </div>
                </div>
              </div>
              <div class="product-card-info">
                <h4 class="heading2_6 yellow">Argeta Junior Original</h4>
                <span class="arrow-link blue">
                  Odkrij okus
                  <!-- arrow right -->
                  <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                    <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="24"></rect>
                      <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                    </g>
                  </svg>
                  <!-- arrow right end -->
                </span>
              </div>
            </a>
          </div>
          <div class="col-md-4  card-item">
            <a href="#" class="product-card">
              <div class="product-picture">
                <img src="images/prod1.png" alt="">
                <div class="floating_item_bottom_left" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                  <div class="floating_item_container">
                    <img src="https://via.placeholder.com/109x113" alt="">
                  </div>
                </div>
                <div class="floating_item_bottom_left" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                  <div class="floating_item_container">
                    <img src="https://via.placeholder.com/87x187" alt="">
                  </div>
                </div>
              </div>
              <div class="product-card-info">
                <h4 class="heading2_6 yellow">Argeta Junior SuperTuna</h4>
                <span class="arrow-link blue">
                  Odkrij okus
                  <!-- arrow right -->
                  <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                    <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="24"></rect>
                      <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                    </g>
                  </svg>
                  <!-- arrow right end -->
                </span>
              </div>
            </a>
          </div>
        </div>
        <div class="advertising-section">
          <div class="advertising-wrap">
            <img src="/images/lines/ArgetaJunior/img-junior-dogodivscine.png" width="323" height="557" alt="" class="advertising-picture">
            <div class="advertising">
              <h3 class="heading2_3 yellow mb20">Argetine e-knjige za najmlajše</h3>
              <p>3 napete otroške knjige z interaktivnimi nalogami, ki spodbujajo razvoj vašega otroka.</p>
              <ul>
                <li>
                  <a href="#">Priznan razvojni psiholog</a>
                </li>
                <li>
                  <a href="#">Priznani pisatelji</a>
                </li>
                <li>
                  <a href="#">Igre in naloge</a>
                </li>
              </ul>
              <a href="#" class="blue-btn">BERI E-KNJIGE</a>
              <img class="advertising-point-image" src="/images/lines/ArgetaJunior/overlay-junior-sign-05.png" width="167" height="56">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% include '../components/promo-section.twig' %}
{% include '../components/news.twig' %}
{% include '../components/subscription-popup.twig' with {'title':'Prijavi se na Junior e-novice!', 'subtitle': 'Nikoli ne ostani brez navdiha za igrive recepte in nepozabne otroške dogodivščine.', 'photo': 'images/photo/subscription-junior.jpg'} %}

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}