{% include '../common/head.twig' with {'bodyclass': 'main', 'pagetitle': ' Main'} %}
{% include '../common/header.twig' %}

{% include '../components/main-slider-mobile-background.twig' %}
{% include '../components/main-slider.twig' %}
{% include '../components/main-cards.twig' %}
{% include '../components/news.twig' %}
{% include '../components/subscription-popup.twig' %}
{% include '../components/main-bottom-bg.twig' %}

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}