{% include '../common/head.twig' with {'bodyclass': 'product inner main-line', 'pagetitle': ''} %}
{% include '../common/header.twig' %}

<main>
  <div class="content">
    {% include '../components/top-section-main-line.twig' %}
    <div class="container">
      {% include '../components/tabs.twig' %}
    </div>
  </div>
</main>

{% include '../components/promo-section.twig' %}
{% include '../components/news.twig' %}
{% include '../components/subscription-popup.twig' %}
{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}