<!doctype html>
<html lang="en">

<head>
  <title>Argeta - Pages</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Pages</h1>

        <ul>
          <li><a href="/">main.html</a> Home</li>
          <li><a href="pages.html">pages.html</a> Pages List</li>
        </ul>

        <h1>Products</h1>

        <ul>
          <li><a href="/product.html">product.html</a> Product</li>
          <li><a href="/inner-page-exclusive.html">exclusive.html</a> Exclusive</li>
          <li><a href="/inner-page-junior.html">junior.html</a> Junior</li>
        </ul>

        <h1>Products Line</h1>

        <ul>
          <li><a href="/main-page-line.html">main-page-line.html</a> </li>
          <li><a href="/junior-page-line.html">junior-page-line.html</a> </li>
          <li><a href="/exclusive-page-line.html">exclusive-page-line.html</a> </li>
        </ul>

        <h1>Quality</h1>

        <ul>
          <li><a href="/quality.html">quality.html</a> Quality: Main</li>
          <li><a href="/quality-modern-production.html">quality-modern-production.html</a> Quality: Modern Production</li>
          <li><a href="/quality-sustainbility.html">quality-sustainbility.html</a> Quality: Sustainbility</li>
        </ul>

        <h1>About Us</h1>

        <ul>
          <li><a href="/about-us.html">about-us.html</a> About Us: Main</li>
          <li><a href="/about-us-press-releases-list.html">about-us-press-realeases-list.html</a> About Us: Press Realeases List</li>
          <li><a href="/about-us-press-realeases-article.html">about-us-press-realeases-article.html</a> About Us: Press Realeases Article</li>
          <li><a href="/about-us-contact.html">about-us-contact.html</a> About Us: Contact</li>
          <li><a href="/about-us-history.html">about-us-history.html </a> About Us: History</li>
        </ul>

        <h1>Components</h1>

        <ul>
          <li><a href="/test-popup-menu.html">test-popup-menu.html</a> Header Menu Popup (Mega-menu) component</li>
          <li><a href="/test-subscription-popup.html">test-subscription-popup.html</a> Subscription Popup component</li>
        </ul>

      </div>
    </div>
  </div>
</body>

</html>