{% include '../common/head.twig' with {'bodyclass': 'product product-default inner', 'pagetitle': ''} %}
{% include '../common/header.twig' %}

{% set top_section_vars = {'product': 'Argeta', 'heading': 'Le najboljše za vso družino.', 'subheading': 'Namazi Argeta s svojimi okusi navdušijo tudi najbolj izbirčne, z naravnimi sestavinami in brez škodljivih dodatkov pa tudi najbolj zahtevne.'} %}
{% include '../components/top-section.twig' with top_section_vars %}

{% include '../components/ingredients.twig' %}
{% include '../components/description-product.twig' %}
{% include '../components/recipe-section.twig' %}
{% include '../components/promo-section.twig' %}
{% include '../components/news.twig' %}
{% include '../components/subscription-popup.twig' %}
{% include '../components/product-row.twig' %}

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}