{% include '../common/head.twig' with {'bodyclass': 'inner quality', 'pagetitle': ' Quality'} %}
{% include '../common/header.twig' %}

{% set top_section_vars = {'product': 'Argeta', 'heading': 'Filozofija najboljšega', 'subheading': 'Z uporabo najboljših sestavin nastanejo izdelki tako visoke kakovosti, da jim ni več kaj dodati.'} %}
{% include '../components/top-section-quality.twig' with top_section_vars %}

{% include '../components/illustrated-properties.twig' %}
{% include '../components/quality-features.twig' %}
{% include '../components/description-product.twig' %}

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}