{% include '../common/head.twig' with {'bodyclass': 'inner quality-modern', 'pagetitle': ' Quality - Modern Production'} %}
{% include '../common/header.twig' %}

{% include '../components/top-section-quality-modern.twig' %}
{% include '../components/quality-standards.twig' %}
{% include '../components/confidence-form-section.twig' %}
{% include '../components/call-to-action.twig' with {'title': 'Ogledaš si lahko tudi 360° sprehod po proizvodnji.', 'linktitle': 'Poglej Video', 'link': '#', 'class': ' video-popup'} %}

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}