{% include '../common/head.twig' with {'bodyclass': 'inner quality-sustainbility', 'pagetitle': ' Quality - Sustainbility'} %}
{% include '../common/header.twig' %}

{% set top_section_vars = {'product': 'Argeta', 'heading': 'Trajnostni razvoj', 'subheading': 'Pomembno nam je, da izkazujemo hvaležnost in vračamo okolju, v katerem delujem in vsem, ki so vključeni v ta proces. Trajnostno naravnanih projektov nam nikoli ne zmanjka, saj so naši cilji kompleksni in ambiciozni.'} %}
{% include '../components/top-section-quality-sustainbility.twig' with top_section_vars %}

{% include '../components/key-values.twig' %}
{% include '../components/timeline-slider-quality-sustainbility.twig' %}
{% include '../components/call-to-action-fix-1.twig' with {'title': 'Naloži brošuro', 'linktitle': 'Argeta environmental sustainability study', 'link': '#'} %}
{% include '../components/subscription-popup.twig' %}

{% include '../common/footer.twig' %}
{% include '../common/end.twig' %}