//@-webkit-keyframes rotate-center {
//  0% {
//    -webkit-transform: rotate(0);
//    transform: rotate(0);
//  }
//  100% {
//    -webkit-transform: rotate(360deg);
//    transform: rotate(360deg);
//  }
//}
@keyframes rotate-fwd {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-reverse {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  50% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 35px);
  }

  to {
    transform: translate(0, 0px);
  }
}

@keyframes floating2 {
  from {
    transform: translateY(0px);
  }

  65% {
    transform: translateY(-15px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1645.36;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }

  100% {
    -webkit-transform: scale(1.25) translateY(-11%);
    transform: scale(1.25) translateY(-11%);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes rotation-circle {
  0% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(75deg);
  }

  100% {
    transform: rotate(45deg);
  }
}

@keyframes rotation-switcher-first {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(-75deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@keyframes rotation-switcher-second {
  0% {
    transform: translate(50%, -50%) rotate(-45deg);
  }

  50% {
    transform: translate(50%, -50%) rotate(-75deg);
  }

  100% {
    transform: translate(50%, -50%) rotate(-45deg);
  }
}

@keyframes rotation-switcher-third {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(-75deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@keyframes timeline-year {
  0% {
    top: 39px;
  }

  55% {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

  100% {
    top: -56px;
  }
}

@keyframes timeline-year-active {
  0% {
    top: -56px;
  }

  55% {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

  100% {
    top: 39px;
  }
}

@keyframes decor-item-animation {
  0% {
    height: 0;
  }

  100% {
    height: 145px;
  }
}

@keyframes decor-item-animation2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
