/**
 * Badges
 */

.badge-circle {
  color: $white;
  text-align: center;
  line-height: 72px;

  position: absolute;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background: $orange;
}

.badge-exclusive {
  font-family: $idlewild-bold;
  font-size: 10px;
  text-transform: uppercase;
  background: $black-true;
}

.badge-breez-block {
  position: absolute;
  right: -153px;
  top: -100px;
  width: 120px;
  height: 120px;

  @include md-down {
    display: none;
  }

  .badge-breez {
    width: 100%;
    height: 100%;
  }
}
