.buy-btn {
  @include btn($white);

  &:hover {
    color: $white;
  }
}

button[class$="-btn"] {
  border: none;
}

button[class$="-btn"]:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.orange-btn {
  @include btn($white);
  background: $orange-gradient;

  &:hover {
    color: $white;
    background: $orange-gradient-reverse;
  }
}

.yellow-btn {
  @include btn($white);
  background: $yellow-gradient;

  &:hover {
    background: $yellow-gradient-reverse;
  }
}

.blue-btn {
  @include btn($white);
  background: $blue-gradient;

  &:hover {
    color: $white;
    background: $blue-gradient-reverse;
  }
}

.white-btn {
  @include btn($dark-grey);
  background: $white;

  &:hover {
    color: $orange;
  }
}

.grey-btn {
  @include btn-medium($dark-grey);
  background: $light-grey;

  &:hover {
    color: $orange;
  }
}

.btn-black {
  @include btn($dark-grey);
  color: #fff;
  background: $black linear-gradient(135deg, #545454 0%, #000000 100%);

  &:hover {
    color: #fff;
  }
}

/**
 * Tags Button
 */
.tags-block {
  padding: 0 0 10px 0;
}

.btn-tag {
  color: $orange;
  font-family: $ubuntu-bold;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.3px;

  border-radius: 12px;

  padding: 4px 11px 2px;

  border: 1px solid $orange;
}

a.btn-tag {
  &:hover {
    color: $white;
    background: $orange-gradient;
    border-color: transparent;
  }
}

/**
 * Arrow Link
 */
.arrow-link {
  color: $orange;
  font: 14px/22px $ubuntu-bold;
  letter-spacing: 2px;
  display: inline-block;
  //padding-right: 32px;
  text-transform: uppercase;

  &.grey-link {
    font-size: 14px;
    line-height: 19px;
    color: $grey;
  }
}

.btn-hide {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 18px;
    background-color: white;
    top: 0;
  }

  &:before {
    transform: rotate(45deg);
    left: 6px;
  }

  &:after {
    transform: rotate(-45deg);
    right: 8px;
  }
}

/**
 * Arrow Link
 */
.btn-arrow-link {
  color: $white;
  font-family: $ubuntu-bold;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.75px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: calc(100% + 10px);
    bottom: 0px;
    width: 24px;
    height: 22px;
    background-image: url('../images/icons/ic-arrow-big-right-white.svg');
    background-repeat: no-repeat;
  }

  &:hover {
    color: $white;
  }

  &.primary-link {
    color: $orange;
    display: inline-block;
    margin-right: 30px;

    &:before {
      background-image: url('../images/icons/ic-arrow-big-right-orange.svg');
    }

    &:hover {
      color: $orange;
    }
  }

  &.secondary-link {
    color: $grey;
    display: inline-block;
    margin-right: 30px;

    &:before {
      background-image: url('../images/icons/ic-arrow-big-right-grey.svg');
    }

    &:hover {
      color: $grey;
    }
  }

  &.junior-arrow-link {
    color: $yellow;
    display: inline-block;
    margin-right: 30px;

    &:before {
      background-image: url('../images/icons/ic-arrow-big-right-yellow.svg');
    }

    &:hover {
      color: $yellow;
    }
  }

  &.exclusive-arrow-link {
    color: $black;
    display: inline-block;
    margin-right: 30px;

    &:before {
      background-image: url('../images/icons/ic-arrow-big-right-black.svg');
    }

    &:hover {
      color: $black;
    }
  }
}

/**
 * Arrow Link Large
 */
.btn-arrow-link-lg {
  @extend .btn-arrow-link;

  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2px;

  &:before {
    top: -2px;
  }
}


/**
 * blob Button
 */
.btn-bubble {
  color: $white;
  font: 16px/25px $ubuntu-bold;
  text-transform: uppercase;
  letter-spacing: 2px;

  width: 276px;
  height: 277px;

  padding: 0;

  position: absolute;
  right: 0;
  top: 50px;

  background: url("../images/planet-3-svet-navdiha.svg") no-repeat;
  background-size: cover;

  animation: floating 8s ease-in-out 1s infinite both;

  z-index: 5;

  .btn-bubble-caption {
    position: absolute;
    top: 58px;
    left: 123px;
    width: 88px;
    height: 82px;

    &:before {
      content: '';
      position: absolute;
      top: 66px;
      left: 0;
      background: url('../images/icons/ic-arrow-big-right-white.svg') no-repeat;
      width: 30px;
      height: 30px;
    }
  }


  &:hover {
    color: $white;
  }

  @include sm-down {
    position: static;
    animation: 0;
    background: $orange-gradient;
    width: auto;
    height: auto;
    border-radius: 22px;
    display: inline-block;
    font: 12px/44px $ubuntu-bold;
    padding: 0 16px;
    margin-bottom: 50px;
    transition: background 0.5s ease;

    &:hover {
      background: $orange-gradient-reverse;
    }
  }

  .argeta-junior & {
    background-image: url("../images/planet-3-svet-navdiha-blue.svg");

    @include sm-down {
      background: $blue-gradient;

      &:hover {
        background: $blue-gradient-reverse;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .btn-bubble{
    display: none;
  }
}
