.font-color-yellow {
  color: $yellow;
}

.font-color-white {
  color: $white;
}

.heading1 {
  font: 52px/68px $ubuntu-bold;

  @include xs-down {
    //font: 36px/50px $ubuntu-bold;
    font: 44px/58px $ubuntu-bold;
  }

  &_2 {
    font: 48px/64px $ubuntu-bold;

    @include xs-down {
      font: 36px/50px $ubuntu-bold;
    }
  }

  &_3 {
    font: 44px/58px $ubuntu-bold;
  }

  &_4 {
    font: 36px/50px $ubuntu-bold;
  }

  &_5 {
    font: 32px/48px $ubuntu-bold;
  }

  &_6 {
    font: 28px/42px $ubuntu-bold;
  }

  &_7 {
    font: 24px/36px $ubuntu-bold;
  }

  &_8 {
    font: 20px/32px $ubuntu-bold;
  }

  &_9 {
    font: 18px/30px $ubuntu-bold;
  }

  &_10 {
    font: 16px/26px $ubuntu-bold;
  }

  &_11 {
    font: 14px/22px $ubuntu-bold;
  }

  &_12 {
    font: 28px/42px $ubuntu-bold;
  }
}

@mixin heading2-typography($fontSize, $lineHeight, $shift) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-family: $loyola-pro;
  text-shadow: $shift $shift 0 #0657AF;
  letter-spacing: 1px;
}

.heading2 {
  @include heading2-typography(56px, 67px, 3px);

  @include xs-down {
    font-size: 48px;
    line-height: 58px;
  }

  &_2 {
    @include heading2-typography(48px, 58px, 3px);
  }

  &_3 {
    @include heading2-typography(44px, 53px, 2px);
  }

  &_4 {
    @include heading2-typography(36px, 43px, 2px);
  }

  &_5 {
    @include heading2-typography(32px, 38px, 2px);
  }

  &_6 {
    @include heading2-typography(28px, 34px, 2px);
  }

  &_7 {
    @include heading2-typography(24px, 29px, 2px);
  }

  &_8 {
    @include heading2-typography(20px, 24px, 2px);
  }

  &_9 {
    @include heading2-typography(18px, 22px, 2px);
  }

  &_10 {
    @include heading2-typography(16px, 19px, 2px);
  }

  &_11 {
    @include heading2-typography(14px, 17px, 2px);
  }
}

.heading3 {
  font: 34px/46px $idlewild-bold;

  &_2 {
    font: 28px/38px $idlewild-bold;
  }

  &_3 {
    font: 24px/34px $idlewild-bold;
  }

  &_4 {
    font: 20px/32px $idlewild-bold;
  }

  &_5 {
    font: 18px/26px $idlewild-bold;
  }

  &_6 {
    font: 16px/24px $idlewild-bold;
  }

  &_7 {
    font: 14px/20px $idlewild-bold;
  }

  &_8 {
    font: 12px/18px $idlewild-bold;
  }

  &_9 {
    font: 10px/14px $idlewild-bold;
  }
}

.text {
  &-1 {
    font: 20px/32px $ubuntu-light;
  }

  &-2 {
    font: 18px/29px $ubuntu-light;
  }

  &-3 {
    font: 16px/26px $ubuntu-light;
  }

  &-4 {
    font: 14px/22px $ubuntu-light;
  }

  &-5 {
    font: 12px/20px $ubuntu-light;
  }

  &-6 {
    font: 10px/16px $ubuntu-light;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.position-fixed {
  position: fixed;
}

@mixin unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

/**
 * Lists
 */
.list-dotted {
  >li {
    color: $black;
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 10px 33px;
    position: relative;

    &:before {
      content: '•';
      position: absolute;
      left: 10px;
      top: 0;
    }
  }
}

.highlighted {
  color: $orange;
  font-weight: normal;
}

.round {
  border-radius: 10px;
}

.caption {
  color: $dark-grey;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1.5px;
  font-family: ubuntu-bold;
  text-transform: uppercase;
}
