body.about {
    background-repeat: no-repeat;
    background-size: 2050px auto;
    background-image: url(../images/backgrounds-planets/planet-about-us-fill-1-5_02.svg);
    background-position: center 1300px;
    background-repeat: no-repeat;

    @include sm-down {
        background-image: none;
    }

    .logo-bg {
        display: block;
    }

    .logo-bg-shape {
        background-image: none;
    }

    .top-section {
        z-index: 0;
        margin-bottom: 120px;

        @include sm-down {
            margin-bottom: 80px;
        }
    }

    .header-text-left {
        position: relative;

        @include sm-down {
            height: 370px;
        }

        .hero-image {
            content: "";
            position: absolute;
            height: 989px;
            width: 861px;

            background-color: $grey;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            z-index: -1;
            top: -397px;
            right: 0px;
            mask-size: auto 100%;
            mask-repeat: no-repeat;
            mask: url(../images/backgrounds-planets/planet-2-yellow.svg);

            @include sm-down {
                mask: url(../images/backgrounds-planets/planet-2-line.svg);
                mask-size: 100% auto;
                height: 859px;
                width: 705px;
                top: -488px;
                left: 0%;
                right: auto;
            }

            @include xs2-down {
                left: 50%;
                transform: translateX(-50%);
            }

        }

        .ic-scroll-down {
            position: absolute;
            width: 20px;
            height: 100px;
            bottom: -100px;
            left: 50%;
            transform: translateX(-50%);

            &:before,
            &:after {
                position: absolute;
                content: "";
            }

            &:before {
                left: 10px;
                width: 2px;
                height: 100px;
                border-left: 1px solid $orange;
            }

            &:after {
                width: 20px;
                height: 20px;
                border: 1px solid $orange;
                bottom: 0;
                left: 0;
                border-radius: 50%;
                background-color: $white;
            }
        }

    }

    .header-text-right {
        position: relative;
        min-height: 650px;

        @include sm-down {
            min-height: 0;
            padding-top: 155px;
        }

        .text-1 {
            color: $darker-grey;
            font: 20px/32px $ubuntu-light;

            @include xs-down {
                font: 16px/26px $ubuntu-light;
            }

            p {
                margin-bottom: 8px;
            }
        }

        b,
        strong {
            font: 20px/32px $ubuntu-bold;

            @include xs-down {
                font: 16px/26px $ubuntu-bold;
            }
        }


    }

    .did-you-know-container {
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-image: url(../images/backgrounds-planets/planet-about-us-fill-1-5.svg);
        background-image: none;
        background-position: top center;

        @include sm-down {
            background-image: url(../images/backgrounds-planets/planet-about-us-fill-1-5-mobile.svg);
        }
    }

    .timeline-section {
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-image: url(../images/backgrounds-planets/planet-about-us-fill-1-5.svg);
        background-image: none;
        background-position: bottom center;
        padding: 0 0 0px 30px;

        @include sm-down {
            background-image: url(../images/backgrounds-planets/planet-about-us-fill-1-5.svg);
        }

        @include xs-down {
            background-image: none;
        }
    }

    .call-section {
        padding-top: 75px;
        padding-bottom: 120px;

        .call {
            margin-bottom: 0;
        }
    }

    /**
 * World Popularity
 */
    .world-popularity {
        padding: 65px 0 145px 0;

        @include lg-down {
            
        }

        @include sm-down {
            background-color: #faf7ed;
        }

        @include xs-down {
            background-color: transparent;
        }

        //background-color: #faf7ed;
    }

    .world-popularity-content {
        padding: 150px 100px 0 0;

        @include sm-down {
            padding: 0;
        }

        .world-popularity-title {
            padding: 0 0 17px;

            @include md-down {
                text-align: center;
            }
        }

        .world-popularity-text {
            text-align: center;
            margin-bottom: 40px;
            color: $darker-grey;
            font: 20px/32px $ubuntu-light;

            b,
            strong {
                font: 20px/32px $ubuntu-bold;
            }

            @include sm-down {
                font: 18px/29px $ubuntu-light;

                b,
                strong {
                    font: 18px/29px $ubuntu-bold;
                }
            }

        }
    }

    .world-popularity-photo {
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}

.header-play-button-wrapper {
    display: inline-block;
    text-align: center;
    margin-left: 20%;
    margin-top: 150px;

    @include sm-down {
        margin-top: 0;
    }

    .header-play-button {
        width: 80px;
        height: 80px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-image: url(../images/svg/ic-play-circle.svg);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 18px;
    }

    .header-play-button-text {
        padding-right: 32px;
        position: relative;
        color: $white;
        font: 14px/19px $ubuntu-bold;
        letter-spacing: 1.75px;
        text-transform: uppercase;

        &:before {
            content: "";
            right: 0;
            top: -4px;
            width: 24px;
            height: 24px;
            position: absolute;
            background-repeat: no-repeat;
            background-image: url(../images/icons/ic-arrow-big-right-white.svg)
        }
    }

}


/**
 * additional css for slick on about page 
 **/
.card-carousel {



    .citem-heading {
        margin-bottom: 16px;

        @include xs2-down {
            font: 20px/32px $ubuntu-bold;
        }


    }

    .citem-text {
        font: 16px/26px $ubuntu-light;

        b,
        strong {
            font: 16px/26px $ubuntu-bold;
        }

        @include xs2-down {}
    }

    .citem-left-image-wrap {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        @include sm-down {
            width: 400px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 64px;
            border-radius: 50%;
        }

        @include xs2-down {
            width: 200px;
            height: 200px;
        }

        img {
            display: none;
            max-width: 100%;
            height: auto;

            @include sm-down {
                margin-top: 64px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .citem-right {
        padding-top: 55px;
        padding-bottom: 55px;

        @include sm-down {
            padding-top: 40px;
            padding-bottom: 65px;
        }
    }
}

.vision-mission-heading-copy {
    color: $darker-grey;
    font: 28px/42px $ubuntu-bold;
    margin-top: 40px;
    margin-bottom: 8px;

    @include xs-down {
        display: none;
    }
}

.vision-mission-heading-top {
    color: $darker-grey;
    display: none;
    font: 28px/42px $ubuntu-bold;
    margin-bottom: 40px;

    @include xs-down {
        display: block;
    }
}

.vision-mission-text {
    font: 16px/26px $ubuntu-light;
    margin-bottom: 90px;

    @include xs-down {
        font: 18px/29px $ubuntu-light;
        margin-bottom: 80px;
        margin-top: 40px;
    }
}