/**
 * Article
 */
 .article {
  .header {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fdfdfd 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #fdfdfd 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #fdfdfd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fdfdfd', GradientType=0);

    margin-bottom: 58px;
  }

  background: #fdfdfd;
}

/**
 * Article Header
 */
.article-header {
  margin-bottom: 90px;
}

.article-title {
  font-size: 48px;
  line-height: 64px;
  padding-bottom: 8px;
}

.article-header-block {
  margin-top: 10px;

  .subheader {
    font-size: 20px;
    line-height: 32px;
    margin: 0 0 26px;
  }

  .date {
    color: $grey;
    font-family: $ubuntu-bold;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 1.25px;
    margin: 0 0 41px;
  }

}

.article-header-photo-block {
  border-radius: 16px 0 0 16px;
  height: 100%;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

.article-header-photo {
  width: 50%;
  border-radius: 16px 0 0 16px;
}

/**
 * Article Body
 */
.article-body {
  margin-bottom: 120px;

  h2 {
    padding: 0 0 23px;
  }

  h3 {
    padding: 0 0 23px;
  }

  h4 {
    padding: 0 0 14px;
  }

  a {
    color: $orange;
    font-family: ubuntu-bold;

    &:hover,
    &:focus {
      color: $black;
    }
  }

  p {
    font-size: 18px;
    line-height: 29px;
    padding: 0 0 45px;
  }

  bloquote {
    background: $orange-gradient;
    border-radius: 16px;
    padding: 64px 97px;
    display: block;
    margin: 0 0 45px;

    q {
      color: $white;
      font-family: ubuntu-bold;
      font-size: 20px;
      line-height: 32px;
      display: block;
    }
  }

  /**
   * Figure
   */
  .figure {
    position: relative;
    margin: 0 0 59px -30px;
    width: calc(100% + 60px);
  }

  .figure-badge {
    color: $white;
    font-family: $ubuntu-bold;
    font-size: 18px;
    line-height: 30px;

    position: absolute;
    right: -61px;
    top: 27px;

    height: 300px;
    width: 305px;

    background: url('../images/planet-3-svet-navdiha.svg') no-repeat;
    background-size: 307px 310px;

    .figure-badge-caption {
      text-align: right;
      position: absolute;
      top: 71px;
      right: 52px;

      width: 175px;
    }
  }
}

/**
 * Annotation
 */
.annotation-call-block {
  margin: 51px 0 72px;
}

.pr-articles {
  margin-bottom: 128px;

  .photo {
    margin-bottom: 17px;
    display: block;
  }

  .pr-articles-item {
    min-height: 520px;
  }

  .load-more-block {
    margin-top: -22px;
  }
}
