/**
 * Contact
 */

.contact {
  background: linear-gradient(180deg, #FFFFFF 0%, #F5F4F0 100%);

  .header {
    margin-bottom: 58px;
  }
}

/**
 * Contact Location
 */

@include media-breakpoint-up(md) {
  .contact-location {
    margin-bottom: 120px;
  }
}

.contact-header {
  margin: 0 0 98px;

  h2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  @include media-breakpoint-up(md) {
    h2 {
      margin: 0;
    }
  }

  .caption {
    margin-bottom: 24px;
  	color: $grey;
  }

  .social-panel-horizontal {
    padding: 37px 0 0;
    text-align: center;
  }

  .scroll-down-block {
    margin: 32px 0 0 18px;
  }
}

/**
 * Contact Form
 */
.contact-form-block {
  background: $white;
  border-radius: 16px;
  padding: 64px 40px;

  h3 {
    padding-bottom: 40px;
  }

  .form-row {
    margin-left: -16px;
    margin-right: -16px;
  }

  .form-row>[class*=col-] {
    padding-right: 16px;
    padding-left: 16px;
  }

  .form-group {
    margin-bottom: 32px;
  }

  .text-input, .text-textarea {
    font-size: 14px;
    line-height: 20px;
    color: $darker-grey;
    border: 1px solid #D0D0D0;	border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;

  }
  .form-control:focus {
    box-shadow: none;
  }

  .text-input {
    height: 48px;
    border-radius: 24px;
  }

  .text-input:hover, .text-textarea:hover {
    border-color: $dark-grey;
  }

  .text-textarea {
    border-radius: 10px;
    padding: 14px 24px;
  }

  .form-check {
    margin-left: 16px;
    padding-left: 22px;
  }

  .form-check-label {

    cursor: pointer;

    .form-check-mark {
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      border: 1px solid $grey;
      border-radius: 3px;
    }

    .form-check-mark:after {
      content: "";
      position: absolute;
      display: none;
    }

    input:checked ~ .form-check-mark:after {
      display: block;
    }

    .form-check-mark:after {
      left: 2px;
      top: 3px;
      width: 10px;
      height: 6px;
      border-left: 2px solid $orange;
      border-bottom: 2px solid $orange;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  .orange-btn {
    margin-top: 32px;
    margin-left: 16px;
  }
}

/**
 * Orange Block
 */
.contact-block-orange {
  margin-bottom: 0;
  background: $orange-gradient;
  border-radius: 16px;
  padding: 64px 40px;

  p {
    margin-top: 16px;
    margin-bottom: 40px;
  }

  .white-btn {
    // color: $orange;
  }
}

@include media-breakpoint-up(md) {
  .contact-logo-block {
    margin-bottom: 0;
  }
}

/**
 * Map
 */
.contact-map {
  height: 375px;
  margin-left: -16px;
  margin-right: -16px;
}

.contact-map-iframe {
  width: 100%;
  height: 100%;
}

@include media-breakpoint-up(md) {
  .contact-map {
    width: 800px;
    overflow: hidden;
    position: absolute;
    right: 32px;
    height: 370px;
    border-radius: 16px;
  }
}

/**
 * Address
 */
.addr-block {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 80px;

  font-size: 16px;
  line-height: 26px;

  .addr-unit,
  .adr {
    display: block;
  }

  .adr {
    margin-bottom: 16px;
  }

  .email {
    color: $orange;
    font-family: $ubuntu-bold;
  }
}

.contact-logo-block {
  margin: 63px 16px 40px;

  >li {
    display: inline-block;
    margin: 0 20px 0 0;
  }

  li:last-of-type {
    margin: 0;
  }
}

@include media-breakpoint-up(md) {
  .contact-logo-block {
    margin: 68px 0 32px;
    padding-top: 370px;
  }

  .addr-block {
    margin: 0;
  }
}

/**
 * Call to action section
 */
 .call-section {
   margin-top: 120px;
 }

 // Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .contact-header {
    // do we fullscreen on mobile?
    margin-top: 177px;
  }
}


 /*!
 * Float Labels
 * @version: 3.3.6
 * @author: Paul Ryley (http://geminilabs.io)
 * @url: https://geminilabs.github.io/float-labels.js
 * @license: MIT
 */
.fl-form .fl-wrap {
  position: relative;
}

.fl-form input.fl-input,
.fl-form textarea.fl-textarea {
  width: 100%;
  outline: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

.fl-form .fl-has-focus input.fl-input,
.fl-form .fl-has-focus textarea.fl-textarea {
  background-color: #fff;
  border-color: $grey;
}

.fl-form label.fl-label {
  opacity: 0;
  visibility: hidden;
  display: block;
  position: absolute;
  top: -12px;
  left: 0;
  font-size: 10px;
  font-family: $ubuntu-bold;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-transform: uppercase;
  color: $grey;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.fl-form .fl-is-active label.fl-label {
  opacity: 1;
  visibility: visible;
}

.fl-form .fl-is-required.fl-is-active:before {
  opacity: 0;
}

.fl-form.fl-style-2 .fl-is-active input.fl-input {
  padding: 18px 24px 6px;
}

.fl-form.fl-style-2 .fl-is-active textarea.fl-textarea {
  padding: 18px 24px 10px;
}

.fl-form.fl-style-2 label.fl-label {
  top: 1px;
  left: 22px;
  padding: 6px 3px 3px;
}