/**
 * Exclusive Line
 */

.exclusive {
  &.exclusive-line {

    /**
    * Header
    */
    // Products Background
    &.product {
      .logo-bg-shape {
        background-image: url('../images/planet-1-black-transparent-exclusive.png');
      }
    }

  }
}