/**
  * Exclusive page
  */

.exclusive {
  //background: linear-gradient(160.26deg, #070707 0%, #000000 100%);
  //box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);

  background: #070707;
  background: -moz-linear-gradient(top, #070707 0%, #000000 100%);
  background: -webkit-linear-gradient(top, #070707 0%, #000000 100%);
  background: linear-gradient(to bottom, #070707 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#070707', endColorstr='#000000', GradientType=0);


  color: $white;

  /**
   * Header
   */
  .header {
    @include md-up {
      color: $white;

      a {
        color: $white;
      }
    }

    .logo {
      background-image: url('../images/logo-inner-exclusive.png');
      width: 176px;
      height: 47px;
    }

    .notification {
      svg {
        fill: $white;
        stroke: $white;
      }
    }
  }


  // Products Background
  &.product {
    .logo-bg-shape {
      background-image: url('../images/planet-1-black-transparent-exclusive-grey.png');
    }

    .logo-bg {
      display: none;
    }
  }

  .popup-menu-shape {
    background-image: url('../images/planet-1-black-transparent-exclusive-grey.png');
  }


  .btn-pm-show span {
    background-color: $white;
  }

  .btn-pm-show.active span {
    background-color: $black;
  }

  .pm-details .pm-details-header strong {
    color: $black;
  }

  .pm-details-submenu-item.active .pm-details-submenu-target,
  .pm-details-submenu-target:hover {
    color: $black;

    &:before {
      background-image: url('../images/icons/ic-arrow-big-black.svg');
    }
  }

  /**
   * Navigation
   */
  .hidden-menu {
    background: #000;

    @include sm-down {
      background: $white;
    }

    .line-1,
    .line-2,
    .line-3 {
      background-color: $white;

      @include sm-down {
        background: $black;
      }
    }
  }

  .product-btn {
    background: $mustard;
  }

  h1 {
    font: 34px/46px $idlewild-bold;
  }

  .promo-label {
    display: none;
  }

  .accordion-item.active-item {
    .accordion-ttl {
      font: 34px/44px $idlewild-bold;
    }
  }

  .recipe-block {
    .heading1_2 {
      color: $black;
      font: 28px/38px $idlewild-bold;
    }

    strong {
      color: $black;
    }

    .prod-btn {
      background: $mustard;
    }
  }

  .promo-info {
    .heading1_2 {
      font: 24px/34px $idlewild-bold;
    }

    .white-btn {
      color: $white;
      background: $orange-gradient;

      &:hover {
        background: $orange-gradient-reverse;
      }
    }
  }

  .ingredients .heading1 {
    font: 34px/44px $idlewild-bold;
  }

  .top-section {
    .heading1 {
      font: 34px/44px $idlewild-bold;
    }
  }

  .nutritional-value {
    background: none;

    .key strong,
    .value strong {
      color: $white;
    }

    .row {
      padding: 10px;
    }
  }


  /**
  * Hero
  */
  .hero-content {
    &:before {
      background: $dark;
    }
  }

  .btn-hide-top-photo {

    &:before,
    &:after {
      background: $black;
    }
  }

  /**
   * Show Popup button
   */
  .btn-pm-hide {

    &:after,
    &:before {
      border-color: $black;

      @include sm-down {
        border-color: $white;
      }
    }
  }

  .pm-header {
    .logo {
      background-image: url('../images/logo-inner-exclusive.png');
      width: 176px;
      height: 47px;
    }
  }

  /**
   * Subscription
   */

  .subscription-primary,
  .subscription-success {
    background: #000;
  }

  .subscription-primary .subscription-cover,
  .subscription-success .subscription-cover {
    background: #000;
    border: 1px solid $white;
  }

  .subscription-panel {
    background: #000;

    .product-card-panel .product-card-title {
      color: $white;
    }
  }

  .subscription-secondary {
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
  }

  .subscription-content .subscription-header {
    font-family: $idlewild-bold;
  }

  .subscription-panel .product-card-panel .product-card-title {
    font-family: $idlewild-bold;
  }

  /**
   * Main Slider
   */
  .main-slider-exclusive {
    margin-top: 60px;

    .third .slide-switcher {
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

      &::after {
        background: $white;
      }
    }

    .slide-switcher {
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
      font: 10px/12px $idlewild-bold;

      &:before {
        background: $white;
      }
    }

    .brez-label {
      background: #000;
      box-shadow: 0 2px 60px -10px rgba(233, 112, 0, 0.4);
    }

    .signature-img {
      position: absolute;
      bottom: 76px;
      left: -120px;
    }
  }

  // Top Menu Notification Icon
  .notification {
    .notification-icon {
      background-image: url('../images/icons/ic-notification-original-no-number-exclusive.svg');
    }
  }

}

/**
 * News
 */
.news-container {
  .exclusive & {
    h2 {
      font: 28px/38px $idlewild-bold;
    }

    h4 {
      color: $white;

      a {
        color: $white;
      }
    }
  }
}


/**
 * Card
 */
.product-card {
  .exclusive & {
    color: $white;

    h4 {
      margin-bottom: 14px;
    }

    .arrow-link {
      color: $orange;
    }

    &:hover {
      .product-card-info {
        background: #000;
        box-shadow: 0 2px 60px -10px rgba(233, 112, 0, 0.4);
      }
    }
  }
}

.product-card-info {
  .exclusive & {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
}


/**
 * Mobile
 */
@media only screen and (max-width: 767px) {
  .exclusive {

    // Top Menu Notification Icon
    .notification {
      .notification-icon {
        background-image: url('../images/icons/ic-notification-original-no-number.svg');
      }
    }

    .btn-pm-show span {
      background-color: $black;
    }

    .popup-menu {
      background: $black;

      .accordion-content {
        background: $black;
      }
    }


    .pm-details .pm-details-header strong {
      color: $white;
    }

    .pm-details-submenu-item.active .pm-details-submenu-target,
    .pm-details-submenu-target:hover {
      color: $white;

      &:before {
        background-image: url('../images/icons/ic-arrow-big-white.svg');
      }
    }

    .product-card-info {
      border: 0;
    }

    .product-card-panel {
      margin-bottom: 10px;
    }

    .promo-section .promo-info {
      background: $black;
    }

  }
}