/**
 * About us history 
 */

.history {
    .logo-bg {
        display: none;
    }

    .logo-panel {
        height: 80px;
    }

    .logo {
        background-image: url(../images/svg/logo-argeta-orange.svg);
        background-position: center center;
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .header {
        //padding-right: 0;
        position: fixed;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
    }

}


/**
 * history-items
 */

.history-item {
    position: relative;
    min-height: calc(100vh);
    padding-top: 196px;
    padding-bottom: 50px;

    @media only screen and (max-height: 800px) {
        padding-top: 150px;
    }

    @include xs-down {
        padding-top: 185px;
    }
}

.history-item .history-item-row {
    position: relative;
}

.history-item .history-item-year {
    position: absolute;
    top: 0;
    right: -20%;
    opacity: 0.25;
    color: $orange;
    font: 240px/276px $ubuntu-bold;
    text-align: right;

    @include xs-down {
        font: 160px/183px $ubuntu-bold;
        right: 15px;
        top: -60px;
    }
}

.history-item .sup {
    text-transform: uppercase;
    font: 14px/19px $ubuntu-bold;
    margin-bottom: 40px;
    color: $grey;

    @include sm-down {
        font: 12px/16px $ubuntu-bold;
        letter-spacing: 1.5px;
        margin-bottom: 16px;
    }
}

.history-item-title {
    font: 36px/50px $ubuntu-bold;
    color: $darker-grey;
    margin-bottom: 24px;

    @include sm-down {
        margin-bottom: 16px;
    }
}

.history-item .history-item-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99px;
    height: 99px;
    padding: 7px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    background-image: url(../images/svg/ic-play-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
}

.history-item .history-item-text {
    font: 20px/32px $ubuntu-light;
    color: $darker-grey;
    margin-bottom: 50px;

    @include sm-down {
        font: 18px/29px $ubuntu-light;
    }
}

.history-item .history-item-circ-container {
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
    position: relative;

    .history-item-image {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.history-item-interesting-fact-mobile {
    display: none;
    text-align: center;
    padding-top: 50px;

    @include xs-down {
        display: block;
    }

    button {
        padding: 15px 20px;
        border-radius: 24px;
        border: none;
        outline: none;
        background: linear-gradient(160.26deg, #FB9231 0%, #E97000 100%);
        color: $white;
        font: 14px/19px $ubuntu-bold;
        letter-spacing: 1.75px;
        text-transform: uppercase;
    }

}

/**
 * history item pagination
 */

.history-item-pagination {
    position: absolute;
    bottom: 40px;
    left: 50%;
    height: 124px;
    //width: 29px;
    transform: translateX(-50%);

    @include xs-down {
        display: none;
    }

    .history-item-pagination-next,
    .history-item-pagination-prev {
        position: relative;
        height: 84px;
        width: 20px;
        display: inline-block;
        cursor: pointer;

        &:before {
            position: absolute;
            content: "";
            left: 10px;
            height: 64px;
            top: 0;
            border-left: 1px solid $orange;
        }

        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 64px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 1px solid $orange;
            background-color: $white;
        }

        .data-pagination-next,
        .data-pagination-prev {
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            font: 16px/26px $ubuntu-bold;
            letter-spacing: 2px;
            color: $orange;
        }
    }

    .history-item-pagination-next+.history-item-pagination-prev {
        margin-left: 25px;
    }

    .history-item-pagination-prev {

        &:before {
            top: 20px;
            border-left: 1px solid $grey;
        }

        &:after {
            left: 0;
            top: 0px;
            border: 1px solid $grey;
        }

        .data-pagination-prev {
            top: -40px;
            color: $grey;
        }

    }
}

/**
 * history timeline
 **/

.history-timeline {
    position: fixed;
    height: 2px;
    border-top: 1px solid #e5e5e5;
    top: 79px;
    width: 100%;
    z-index: 999;
}

.history-timeline-inner {
    position: relative;
}

.history-timeline-point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    position: absolute;
    top: -6px;
    left: 0;
    z-index: 10;
    cursor: pointer;
    transition: background-color 0.5s ease 1s, border 0.5s ease 1s;

    @include xs-down {
        width: 8px;
        height: 8px;
        top: -4px;
    }

    &.invisible-timeline-dot {
        border: 1px solid transparent;
        background-color: transparent;
    }

    &.active {
        border: 1px solid $orange;
        background-color: $orange;
    }
}



.data-timeline-point-text {
    &[data-timeline-year]:after {
        content: attr(data-timeline-year);
        position: absolute;
        color: #D0D0D0;
        font: 12px/16px $ubuntu-bold;
        letter-spacing: 1.5px;
        left: 50%;
        transform: translateX(-50%);
        top: 16px;

        //no years on mobile
        @include xs-down {
            content: none;
        }
    }
}

[data-timeline-progress-year] {
    width: 0;
    border-top: 1px solid $orange;
    position: absolute;
    left: 0;
    top: -1px;
    transition: width 1s ease 0s;
}

$history-point-min: 1950;
$history-point-max: 2030;
$history-point-diff: $history-point-max - $history-point-min;

@for $i from 1950 through 2030 {

    [data-timeline-year="#{$i}"] {
        $temptl: ($i - $history-point-min) * 100 / $history-point-diff;
        left: $temptl + %;
        //transition: background-color 0.5s ease 0s, border 0.5s ease 0s;
    }

    [data-timeline-progress-year="#{$i}"] {
        $temptl: ($i - $history-point-min) * 100 / $history-point-diff;
        width: $temptl + %;

    }
}



/**
 * history interesting fact popup
 **/
.history-interesting-fact-popup {
    display: none;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.97);
}

.history-interesting-fact-popup-row {
    padding-top: 120px;
    padding-bottom: 120px;

    @include sm-down {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.history-interesting-fact-popup-inner {
    position: relative;
}

.history-interesting-fact-popup-title {
    color: $darker-grey;
    font: 36px/50px $ubuntu-bold;
    margin-bottom: 40px;

    @include sm-down {
        margin-bottom: 16px;
    }
}

.history-interesting-fact-popup-close {
    position: absolute;
    top: 0;
    right: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: $orange;
    cursor: pointer;

    .ic-close {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.history-interesting-fact-popup-image {
    overflow: hidden;

    position: relative;

    img {
        width: 100%;
        height: auto;
    }
}

.history-interesting-fact-popup-text {
    padding-top: 40px;
    position: relative;
    color: $darker-grey;
    font: 20px/32px $ubuntu-light;
    padding-left: 10%;
    padding-right: 10%;

    @include sm-down {
        font: 18px/29px $ubuntu-light;
        padding-top: 16px;
        padding-left: 0%;
        padding-right: 0%;
    }

    &:before {
        content: attr(data-history-interesting-fact-popup-year);
        position: absolute;
        top: -100px;
        right: 0;
        opacity: 0.15;
        color: $orange;
        font: 200px/230px $ubuntu-bold;

        @include sm-down {
            font: 160px/183px $ubuntu-bold;
        }
    }

}

/**
 * history interesting fact data - for popup
 * shouldn't be visible
 */

.history-interesting-fact {
    position: absolute;
    top: -999999999px;
    left: -999999999px;
}


/**
 * read-more-tag
 */

.read-more-tag {
    position: fixed;
    bottom: 20%;
    left: -500px;
    transition: left 1s ease 0.5s;
    &.active {
        left: 0;
    }
    
    display: block;
    @include sm-down {
        display: none;
    }
}

.read-more-tag-inner {
    position: relative;
    width: 315px;
    padding: 40px;
    border-radius: 0 100px 100px 0;
    background: linear-gradient(160.26deg, #FB9231 0%, #E97000 100%);
    cursor: pointer;
}

.read-more-tag-desc {
    color: $white;
    font:18px/29px $ubuntu-light;
    margin-bottom:10px;
}

.read-more-tag-cta {
    color: $white;
    font:14px/19px $ubuntu-bold;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    &:before,
    &:after {
        content: "";
        position: absolute;
    }
    &:before {
        left: calc(100% + 8px);
        width: 24px;
        height: 2px;
        border-top: 2px solid $white;
        top:calc(50% - 2px);
    }
    &:after {
        left: calc(100% + 22px);
        width: 10px;
        height: 10px;
        transform:rotate(45deg);
        border-top: 2px solid $white;
        border-right: 2px solid $white;
        top: calc(50% - 6px);
    }
}