// Inner Background
.inner {


  .logo-bg-shape {
    background-image: url('../images/planet-1-black-transparent-orange.png');
    width: 1026px;
    height: 1050px;
    left: -395px;
    top: -177px;

    @include sm-down {
      overflow: hidden;
      width: 100vw;
      height: 1050px;
      left: 0;
      top: 0;
      background-position: -395px -177px;
    }
  }

  .logo-bg {
    display: none;
  }

  .header {
    margin-bottom: 80px;
  }

  .ingredients-section {
    margin-top: 160px;
  }
}
