/**
 * Junior Line
 */

.junior.product {
  &.junior-page-line {
    .logo-bg-shape {
      background-image: url('../images/planet-2-yellow.png');

      width: 861px;
      height: 989px;
      top: -80px;
      left: -300px;
    }

    .logo-bg {
      display: none;
    }

    // Mega-menu
    .popup-menu-shape {
      background-image: url('../images/planet-1-black-transparent-junior.png');
    }


    .top-section__left-side {
      width: 60%;
      max-width: 400px;
    }


    .product-picture .new-tag {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 999;
      width: 80px;
      height: 80px;
      line-height: 80px;
      text-align: center;
      border-radius: 50%;
      font-family: $idlewild-bold;
      font-size: 10px;
    }


    .floating_item_container img {
      height: auto;
    }

    .floating_item_bottom_left img {
      -webkit-transition: -webkit-transform 1s ease;
      -o-transition: transform 1s ease;
      transition: transform 1s ease;
      transition: transform 1s ease, -webkit-transform 1s ease;
    }

    .product-card-info {
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .16);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .16);
      background: #fff;
      border-radius: 16px;
      text-align: center;
      padding: 100px 0 35px;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      position: relative;
      z-index: 5;
    }

    .advertising .advertising-point-image {
      position: absolute;
      z-index: 4;
      bottom: 60px;
      right: -30px;
      width: 167px;
      height: 56px;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }

    .floating_item_bottom_left,
    .floating_item_bottom_right {
      top: auto;
      bottom: 0;
      z-index: 6;
      position: absolute;
      height: auto;
    }

    .floating_item_1,
    .floating_item_bottom_left {
      left: 0;
      right: auto;
    }

    .btn-bubble {
      background-image: url('../images/planet-3-svet-navdiha-blue.svg');
    }


    .btn-tag {
      border-color: $blue;
      color: $blue;
    }

    .news-container h4 a {
      color: $yellow;
    }
  }
}
