/**
 * Junior page
 */

.junior {
  background: linear-gradient(180deg, #FFFFFF 0%, #F0FAFF 17.99%, #ECF9FF 100%);

  .header {
    .logo {
      background-image: url('../images/logo-inner-junior.png');
      width: 150px;
      height: 54px;
    }

    .buy-btn {
      background: $yellow-gradient;

      &:hover {
        background: $yellow-gradient-reverse;
      }
    }
  }

  .notification {
    .number {
      background: $yellow-gradient;
    }
  }


  // Products Background
  &.product {
    .logo-bg-shape {
      background-image: url('../images/planet-2-yellow.svg');

      width: 861px;
      height: 989px;
      top: -80px;
      left: -300px;
    }

    .logo-bg {
      display: none;
    }
  }

  // Mega-menu
  .popup-menu-shape {
    background-image: url('../images/planet-1-black-transparent-junior.png');
  }

  .pm-details .pm-details-header strong {
    color: $yellow;
  }

  .pm-details-submenu-item.active .pm-details-submenu-target,
  .pm-details-submenu-target:hover {
    color: $yellow;

    &:before {
      background-image: url('../images/icons/ic-arrow-big-yellow.svg');
    }
  }

 /**
  * Navigation
  */
  .top-section {
    h1 {
      @include heading2-typography(56px, 67px, 3px);

      @include sm-down {
        font-size: 48px;
        line-height: 58px;
      }
    }
  }

  .product-btn {
    background: $green-light;
  }

  .open-info-btn {
    a {
      color: $blue;
      position: relative;

      &:before {
        background: $blue;
      }

      &:after {
        background: $blue;
      }
    }
  }

  .nutritional-value {
    background: none;
  }

  .promo-label {
    display: none;
  }

  .accordion-item {
    .accordion-ttl {
      font: 24px/32px $loyola-pro;
    }

    .arrow-link {
      color: $blue;
    }

    &.active-item {

      .accordion-ttl {
        &:before {
          background: $blue;
        }

        &:after {
          background: $blue;
        }
      }
    }

  }


  .accordion-item.active-item {
    .accordion-ttl {
      color: $yellow;
      text-shadow: 3px 3px 0 $blue;
      font: 56px/67px $loyola-pro;
    }

  }

  .recipe-block {
    .heading1_2 {
      color: $yellow;
      @include heading2-typography(36px, 43px, 2px);
    }

    strong {
      color: $black;
    }

    .prod-btn {
      background: $mustard;
    }
  }

  .promo-info {
    .heading1_2 {
      color: $white;
      text-shadow: 3px 3px 0 $blue;
      font: 56px/67px $loyola-pro;
    }

    .white-btn {
      color: $white;
      background: $blue-gradient;

      &:hover {
        background: $blue-gradient-reverse;
      }
    }
  }

  .ingredients .heading1 {
    color: $yellow;
    text-shadow: 3px 3px 0 $blue;
    font: 56px/67px $loyola-pro;
  }

  .top-section .heading1 {
    font: 56px/67px $loyola-pro;
  }

  /**
   * Hero
   */
  .hero-content {
    &:before {
      background: $orange-gradient-junior;
    }
  }

  .btn-hide-top-photo {

    &:before,
    &:after {
      background: $yellow;
    }
  }

  /**
   * Show Popup button
   */
  .btn-pm-hide {

    &:after,
    &:before {
      border-color: $yellow;
    }
  }

  .pm-header {
    .logo {
      background-image: url('../images/logo-inner-junior.png');
      width: 150px;
      height: 54px;
    }
  }

  /**
   * Subscription
   */

  .subscription-primary,
  .subscription-success {
    background: none;
  }

  .subscription-secondary,
  .subscription-primary .subscription-cover,
  .subscription-success .subscription-cover {
    background: $yellow;
  }

  .subscription-content .subscription-header {
    font-family: $loyola-pro;
    font-size: 40px;
  }

  .subscription-panel .product-card-panel .product-card-title {
    font-family: $loyola-pro;
  }

  /**
   * News
   */
  .btn-tag {
    color: $blue;
    border-color: $blue;
  }

  .news-container {
    h2 {
      color: $yellow;
      text-shadow: 3px 3px 0 $blue;
      font: 56px/67px $loyola-pro;
    }

    h4 {
      color: $yellow;
      text-shadow: 2px 2px 0 $blue;
      font: 24px/29px $loyola-pro;

      a {
        color: $yellow;
      }
    }

    .btn-bubble {
      background-image: url('../images/planet-3-svet-navdiha-blue.svg');
    }
  }

  // Description Section
  .description-section {
    .primary-link {
      color: $blue;

      &:before {
        background-image: url('../images/icons/ic-arrow-big-blue.svg');
      }
    }

    .description-duck {
      height: 430px;
      width: 198px;

      top: 90px;
      left: -101px;

      position: absolute;
      z-index: 1;
    }

  }

  // Scroll Down
  .scroll-down {
    background: $yellow;
  }

}


/**
 * Mobile
 */
@media only screen and (max-width: 767px) {
  .junior {
    .promo-info {
      background: $yellow-gradient-reverse;
    }

    .btn-pm-show span {
      background-color: $black;
    }

    .popup-menu {
      background: $yellow;

      .accordion-content {
        background: $yellow;
      }
    }


    .pm-details .pm-details-header strong {
      color: $white;
    }

    .pm-details-submenu-item.active .pm-details-submenu-target,
    .pm-details-submenu-target:hover {
      color: $white;

      &:before {
        background-image: url('../images/icons/ic-arrow-big-white.svg');
      }
    }


    .subscription-panel {
      &.subscription-primary {
        background: $yellow;
      }
    }

    .subscription-initial .media-box .confirmation-label {
      background: $yellow-gradient;
    }
  }

}
