.main {
  /* Home Page: Header Top Right Background */
  background-image: url("../images/planet-hero-bck.png"), linear-gradient(180deg, #FFFFFF 0%, #FCF9EF 100%);
  background-repeat: no-repeat;
  background-position: right 0;
}
