/**
 * Main Line
 */

.product {
  &.main-line {

    /* Product Main Line Page: Central Shape Background */
    background-image: url("../images/backgrounds-planets/planet-product-fill-1-5-romance.svg"), linear-gradient(180deg, #FFFFFF 0%, #FCF9EF 100%);
    background-repeat: no-repeat;
    background-position: center 466px;
    background-size: 100%;

    @include sm-down {
      background-image: none;
    }


    // Top Section
    .top-section {

      .top-section__right-side img {
        margin-top: -103px;
        z-index: 3;
      }
    }

    .floating_item_7 {
      left: -155px;
    }

    .text-container {
      margin-bottom: 103px;
    }

  }
}
