.product-default {
  /* Product Default Page: Central White Shape Background */
  background-image: url("../images/backgrounds-planets/planet-product-fill-1-5-white.svg");
  background-repeat: no-repeat;
  background-position: center 466px;
  background-size: 100%;

  background-color: #f4f3ee;

  @include sm-down {
    background-image: none;
  }

}
