body.quality-sustainbility {
    background-color: #faf7ed;
    background-image: url(../images/backgrounds-planets/planet-about-us-fill-1-5_03.svg);
    background-repeat: no-repeat;
    background-size: 2000px auto;
    background-position-x: center;
    background-position-y: 1350px;

    .header {
        margin-bottom:57px;
    }

    .top-section__main-image {
        margin-top: -75px;
    }

    .logo-bg {
        //display: block;
    }

    .logo-bg-shape {
        // background-image: none;
    }

    /*.top-section {
        z-index: 0;
        margin-bottom: 120px;

        @include sm-down {
            margin-bottom: 80px;
        }
    }*/

    .custom-btn-key-values {
        background-color:transparent;
        background-image: url(../images/planet-3-svet-navdiha-yellow.svg);
        background-size: cover;
        z-index: -1;
        top: -50px;

        @include sm-down {
            position: absolute;
            width: 250px;
            height: 250px;
            animation: floating 8s ease-in-out 1s infinite both;
            background-image: url(../images/planet-3-svet-navdiha-yellow.svg);
        }

        @include xs-down {
            display: none;
        }
    }

    .key-values-row {
        position: relative;
    }
}