/**
 * Quality
 */
.quality {
  .ingredients-section {
    margin: 150px auto 0;
  }
}

/**
 * Illustrated Properties
 */
.ip-block {
  margin-bottom: 120px;
}

.ip-details {
  border-radius: 16px;
  opacity: .9;
  padding: 84px 62px 82px;
  box-shadow: 0 2px 60px -10px rgba(0, 0, 0, .5);

  width: calc(100% + 60px);

  position: relative;

  top: 80px;
  left: -28px;

  background: $white;

  z-index: 2;
}

.ip-header {
  color: $black;
  font-size: 36px;
  line-height: 50px;
  font-family: $ubuntu-bold;
  padding: 0 0 15px;
}

.ip-subheader {
  color: $black;
  font-size: 28px;
  line-height: 42px;
  font-family: $ubuntu-bold;
  padding: 0 0 8px;
  margin-top: -5px;
}

.ip-list {
  >li {
    font-family: $ubuntu-bold;
  }
}

.ip-notes {
  padding: 5px 0 0;
}


.ip-photo-block {
  display: block;
  position: relative;
  height: 600px;
  left: 0;
}

.ip-photo {
  border-radius: 16px;
  position: absolute;
  right: -98px;
  height: 600px;
  z-index: 1;
}

.ip-block-left {
  .ip-details {
    left: auto;
    right: -42px;
  }

  .ip-photo {
    right: auto;
    left: -26px;
  }
}

/**
 * Quality Features
 */
.qf-details {
  text-align: center;
  max-width: 270px;
  margin: 0 auto 120px;
}

.qf-title {
  color: $dark-grey;
  font-family: $ubuntu-bold;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1.5px;
  padding: 20px 0 6px;
}

.qf-description {
  color: $black;
  font-size: 14px;
  line-height: 22px;
  font-family: ubuntu-light;
}

.qf-icon {
  width: 80px;
}

/**
 * Mobile
 */
@media only screen and (max-width: 767px) {
  .ip-photo-block {
    height: auto;
  }

  .ip-photo {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
  }

  .ip-details {
    padding: 15px;
    left: auto;
    top: auto;
    width: 100%;
  }

  .ip-block-left {
    .ip-details {
      right: auto;
    }

    .ip-photo {
      left: auto;
      margin-top: 15px;
    }
  }
}
