.quality-modern {

  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  /* Product Default Page: Central White Shape Background */
  background-image: url("../images/backgrounds-planets/planet-quality-fill-1-5-white.svg");
  background-repeat: no-repeat;
  background-position: center 466px;
  background-size: 100%;

  background-color: #f4f3ee;

  @include sm-down {
    background-image: none;
  }

  .logo-bg-shape {
    background-image: url('../images/background/bg-quality-modern.jpg');
  }

  .logo-bg {
    display: none;
  }

  .top-section {

    margin-top: 900px;
    padding-bottom: 104px;

    .breadcrumbs {
      margin-bottom: 10px;

      a {
        color: $grey;
      }
    }

    .heading1 {
      margin-bottom: 12px;
    }

    .subheader {
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 40px;
    }
  }

  .hero-content {
    min-height: auto;
    // background: $white;
  }

  @include media-breakpoint-up(md) {

    .hero-content {
      min-height: 650px;
    }

    .top-section {
      margin-top: 0;
      padding-bottom: 0;
    }
  }
}

/* Quality Standards Section */
.quality-standards {
  > .container > .row {
    margin-bottom: 80px;
  }

  .qs-photo {
    border-radius: 10px;
    margin-bottom: 40px;
  }

  .iso-icon-block {
    text-align: center;

    img {
      width: 90px;
      height: 90px;
    }
  }

  .iso-label {
    color: $grey;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: center;
    font-family: ubuntu-bold;
    margin: 10px 0 50px;
  }

  .heading1_4 {
    margin-bottom: 40px;
  }

  .qs-details {
    font-size: 20px;
    line-height: 32px;
  }

  @include media-breakpoint-up(md) {
    > .container > .row {
      margin-bottom: 120px;
    }

    .qs-content {
      max-width: 365px;
      margin: 0 auto;

      .qs-photo {
        margin-bottom: 0;
      }
    }

    .qs-photo-block {
      text-align: right;
    }

    .heading1_4 {
      margin-bottom: 14px;
    }
  }
}



/**
 * Mobile
 */
@media only screen and (max-width: 767px) {
  .quality-modern {
    .qs-photo {
      width: 100%;
    }

    .top-section {
      margin-bottom: 0;
    }

    .breadcrumbs {
      margin-top: 50px;
    }

  }

}
