body.quality {
    background-color: #faf7ed;
    background-image: url(../images/backgrounds-planets/planet-about-us-fill-1-5_03.svg);
    background-repeat: no-repeat;
    background-size: 2000px auto;
    background-position-x: center;
    background-position-y: 500px;

    .logo-bg {
        //display: block;
    }

    .logo-bg-shape {
       // background-image: none;
    }

    /*.top-section {
        z-index: 0;
        margin-bottom: 120px;

        @include sm-down {
            margin-bottom: 80px;
        }
    }*/
}



.qf-icon {
    border-radius: 50%;
    box-shadow: 0 2px 11px 0px rgba(0, 0, 0, .1);
}