<!-- begin. about-map-container -->
<div class="about-map-container active-area visible mb120">
  <div class="row about-map-row bg-orange">
    <div class="col-md-12">
      <h2 class="heading1_3 text-center white mt80 ">Argeta je številka 1 v Evropi</h2>
      <div class="text-1 text-center white mt10 mb80">in priljubljena v več kot 30 državah po celem svetu.</div>
    </div>
  </div>
  <div class="row about-map-row bg-orange">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="img-wrap mb80">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1145px" height="569px" viewBox="0 0 1145 569" version="1.1">
              <use xlink:href="#map-markets"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end. about-map-container -->

