<!-- begin. Article Section -->

<!-- begin. Article Header -->
<div class="article-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">

        <!-- Breadcrumbs -->
        <ul class="breadcrumbs breadcrumbs-secondary flex">
          <li><a href="about-us.html">About us</a></li>
          <li><a href="about-us-press-releases-list.html">Press releases</a></li>
        </ul>

        <!-- Header Block -->
        <div class="article-header-block">
          <h1 class="heading1 article-title">Strong profitability growth and expected sales growth</h1>
          <p class="subheader">It is often frustrating to attempt to plan meals that are designed for one. Despite this fact, we are seeing more and more recipe books and Internet websites that are dedicated to the act of cooking for one. </p>
          <p class="date">11/05/2018</p>
          <a href="#" class="btn-arrow-link-lg primary-link">Cta kampanja</a>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="article-header-photo-block">
          <img src="images/photo/article-header-photo.jpg" alt="" class="article-header-photo">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end. Article Header -->


<!-- begin. Article Body -->
<div class="article-body">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">

        {% include 'social-panel.twig' %}

        <!-- Content -->
        <p>
          It is often frustrating to attempt to plan meals that are designed for one.
          Despite this fact, we are seeing more and more recipe books and Internet websites
          that are dedicated to the act of cooking for one.
          Divorce and the death of spouses or <a href="#">grown children</a>
          leaving for college are all reasons that someone accustomed
          to cooking for more than one would suddenly need to learn how
          to adjust all the cooking practices utilized before into
          a streamlined plan of cooking that is more efficient for one person creating less waste.
        </p>
        <p>
          The mission, should you choose to accept it,
          is to make cooking for one a challenge rather than a trial.
          Use this opportunity to try new and exciting cuisines.
          Perhaps one of the greatest things about cooking for one
          is the fact that it isn’t quite as expensive as cooking for two.
          This means that you have a little more money in the <a href="#">grocery budget with</a>
          which to plan and prepare your meals.
          One thing you may want to keep in mind however is that when cooking for one,
          if you prepare foods that are freezable.
          It may save more time (and in the end money)
          if you cook the full 2-4 servings that most recipes call
          for and freeze the leftovers in single serving portions for a later point in time.
        </p>

        <p>[video]</p>

        <h2 class="heading1_4">Heading four</h2>

        <p>This leaves you with a freezer full of foods for those nights when the thought of cooking just seems beyond your capabilities. This also leaves you with doing the work once and enjoying the fruits of your efforts many times over. This is a great position to be in if you ask me. We are finding more and more recipes and cookbooks that are designed around the concept of cooking for one. No matter what situation placed you in the position of cooking for one, there is no reason that you shouldn’t enjoy great food that is exciting and pleasant simply because you are dining alone.</p>

        <bloquote>
          <q>If you do not want to invest heavily in cookbooks that relate to cooking for one, it is quite possible that your local public library will have a few from which you can find some excellent recipes tips and resources. While you are there be sure to check out their selection of exotic food cookbooks in order to spice things up a bit if you want.</q>
        </bloquote>

        <p>No matter what situation placed you in the position of cooking for one, there is no reason that you shouldn’t enjoy great food that is exciting and pleasant simply because you are dining alone.</p>

        <h3 class="heading1_6">Heading five lorem ipsum</h3>

        <p>There is no harm in enjoying a fabulous meal with a glass of wine and great music whether you are cooking for one or one hundred. Remember you are what you eat and if you relegate yourself to boring meals that lack excitement and spice that is what you will become. However if you decide to reach out and try new and exciting dishes with every meal you prepare when cooking for one, it will show in the way you embrace life in other areas as well. While we should not live to eat, we should also not limit ourselves to eating to live. Enjoy the foods you prepare whether the portions are large or small in size. If you do not want to invest heavily in cookbooks that relate to cooking for one, it is quite possible that your local public library will have a few from which you can find some excellent recipes tips and resources. While you are there be sure to check out their selection of exotic food cookbooks in order to spice things up a bit. You never know what treasures you may discover on the shelves or your local library. You may even find local resources on classes that center on the idea of cooking for one. If the library proves to be a bust as far as resources go, the Internet is full of recipes, tips, and hints for those who are cooking for one.</p>

        <!-- Photo -->
        <figure class="figure">
          <img src="https://via.placeholder.com/810x540" class="figure-img img-fluid round" alt="">
          <figcaption class="figure-badge"><span class="figure-badge-caption">Really short image caption comes here.</span></figcaption>
        </figure>

        <!-- Annotation -->
        <div class="annotation">
          <h4 class="heading1_8">Heading seven for list type e.g.: </h4>

          <ul class="list-dotted">
            <li>There is no harm in enjoying a fabulous meal with a glass of wine and great music whether you are cooking for one or one hundred. </li>
            <li>Remember you are what you eat.</li>
            <li>If you relegate yourself to boring meals that lack excitement and spice that is what you will become. </li>
            <li>Try new and exciting dishes with every meal you prepare when cooking for one.</li>
            <li> Enjoy the foods you prepare whether the portions are large or small in size. </li>
          </ul>
        </div>

        <div class="annotation-call-block">
          <a href="#" class="btn-arrow-link-lg primary-link">Call to action</a>
        </div>

        <p>[slider]</p>

      </div>
    </div>
  </div>
</div>
<!-- end. Article Section -->
