<!-- item -->
<div class="row box-shadow-light br15 ">
  <div class="col-md-6">
    <a href="#" class="img-wrap">
      <img class="br10 circle" src="https://via.placeholder.com/457x305" alt="">
    </a>
  </div>
  <div class="col-md-6">
    <div class="heading1_6 black mb15">
      Ideja za Argeto se je porodila čisto po naključju.
    </div>
    <div class="text-3 black">
      Delavci v tovarni jušnih kock Argo so se uprli, ko so se naveličali enega in istega kosila – piščančjega mesa iz juhe. Vodstvo se je tedaj odločilo, da bodo meso, iz katerega so kuhali juho, uporabili za pripravo paštete. Zato še danes pri proizvodnji paštet Argeta
      <b>najprej skuhamo juho in šele nato uporabimo meso</b>, kar je tudi
      <orangebold>skrivnost našega uspeha</orangebold>.
    </div>
  </div>
</div>

<div class="row box-shadow-light br15 ">
  <div class="col-md-6">
    <a href="#" class="img-wrap">
      <img class="br10 circle" src="https://via.placeholder.com/457x305" alt="">
    </a>
  </div>
  <div class="col-md-6">
    <div class="heading1_6 black mb15">
      Ideja za Argeto se je porodila čisto po naključju.
    </div>
    <div class="text-3 black">
      Delavci v tovarni jušnih kock Argo so se uprli, ko so se naveličali enega in istega kosila – piščančjega mesa iz juhe. Vodstvo se je tedaj odločilo, da bodo meso, iz katerega so kuhali juho, uporabili za pripravo paštete. Zato še danes pri proizvodnji paštet Argeta
      <b>najprej skuhamo juho in šele nato uporabimo meso</b>, kar je tudi
      <orangebold>skrivnost našega uspeha</orangebold>.
    </div>
  </div>
</div>