<!-- begin. Brez block -->
<div class="nutrient-labels js-nutrient-labels visible">
  <div class="brez-label">
    <div class="animated-image-wrapper">
      <svg class="animated-image">
        <use xlink:href="#badge-free-slo-circle-text"></use>
      </svg>
    </div>
    <svg class="static-image">
      <use xlink:href="#badge-free-slo-center-title"></use>
    </svg>
  </div>
  <div class="nutrients-item-wrapper">
    <div class="nutrients-item">
      <div class="icon-wrap">
        <svg>
          <use xlink:href="#notification"></use>
        </svg>
      </div>
      <strong>Brez umetnih barvil</strong>
    </div>
    <div class="nutrients-item">
      <div class="icon-wrap">
        <svg>
          <use xlink:href="#notification"></use>
        </svg>
      </div>
      <strong>Brez konzervansov</strong>
    </div>
    <div class="nutrients-item">
      <div class="icon-wrap">
        <svg>
          <use xlink:href="#notification"></use>
        </svg>
      </div>
      <strong>Brez umetnih ojačevalcev arome</strong>
    </div>
    <div class="nutrients-item">
      <div class="icon-wrap">
        <svg>
          <use xlink:href="#notification"></use>
        </svg>
      </div>
      <strong>Brez glutena</strong>
    </div>
    <div class="nutrients-item">
      <div class="icon-wrap">
        <svg>
          <use xlink:href="#notification"></use>
        </svg>
      </div>
      <strong>Primerno za vegane in vegetarijance</strong>
    </div>
  </div>
</div>
<!-- end. Brez block -->