<!-- begin. Brez block -->
<div class="nutrient-labels js-nutrient-labels visible">
  <div class="brez-label">
    <div class="animated-image-wrapper">
      <svg class="animated-image">
        <use xlink:href="#badge-free-slo-circle-text"></use>
      </svg>
    </div>
    <svg class="static-image">
      <use xlink:href="#badge-free-slo-center-title"></use>
    </svg>
  </div>
  <div class="nutrients-item-wrapper">
    <div class="nutrients-item">
      <div class="icon-wrap">
        <img src="images/svg/ic-free-artificial-colors.svg" width="64" height="64" alt="">
      </div>
      <strong>Brez umetnih barvil</strong>
    </div>
    <div class="nutrients-item">
      <div class="icon-wrap">
        <img src="images/svg/ic-free-preservatives.svg" width="64" height="64" alt="">
      </div>
      <strong>Brez konzervansov</strong>
    </div>
    <div class="nutrients-item">
      <div class="icon-wrap">
       <img src="images/svg/ic-free-flavor-enhancers.svg" width="64" height="64" alt="">
      </div>
      <strong>Brez umetnih ojačevalcev arome</strong>
    </div>
    <div class="nutrients-item">
      <div class="icon-wrap">
        <img src="images/svg/ic-free-gluten.svg" width="64" height="64" alt="">
      </div>
      <strong>Brez glutena</strong>
    </div>
    <div class="nutrients-item">
      <div class="icon-wrap">
        <img src="images/svg/ic-free-palm-oil.svg" width="64" height="64" alt="">
      </div>
      <strong>Brez palmovega olja</strong>
    </div>
  </div>
</div>
<!-- end. Brez block -->