<!-- begin. Call to Action Section -->
<div class="call-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-align-self-center">
        <div class="call{{class}}">
          <h3 class="call-title">{{title}}</h3>
          <a class="btn-arrow-link" href="{{link}}">{{linktitle}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end. Call to Action Section -->