<!-- begin. vision-mission-container -->
<div class="vision-mission-container active-area">
  <div class="row vision-mission-row">
    <div class="col-md-4">
      <a href="#" class="img-wrap">
        <img src="https://via.placeholder.com/457x305" alt="">
      </a>
      <h4 class="heading1_12">
        <a href="#" class="black">Vizija</a>
      </h4>
      <div class="text-3 black">Ponuditi najbolj brezskrbno doživetje majhnega obroka.</div>
    </div>

    <div class="col-md-4">
      <a href="#" class="img-wrap">
        <img src="https://via.placeholder.com/457x305" alt="">
      </a>
      <h4 class="heading1_12">
        <a href="#" class="black">Misija</a>
      </h4>
      <div href="#" class="text-3 black">Ustvarjati najboljše male obroke na najbolj iskren način.</div>
    </div>

  </div>
</div>
<!-- end. vision-mission-container -->
