<!-- begin. childrenbook-section -->
<div class="childrenbook-section">
  <div class="container">
    <div class="row flex--between">
      <div class="col-lg-6">
        <img src="images/lines/ArgetaJunior/img-junior-dogodivscine.png" alt="" class="childrenbook-img">
      </div>
      <div class="col-lg-6">
        <div class="childrenbook-content">
          <h3 class="childrenbook-title">Argetine e-knjige za najmlajše</h3>

          <p class="childrenbook-description">3 napete otroške knjige z interaktivnimi nalogami, ki spodbujajo razvoj vašega otroka.</p>

          <ul class="childrenbook-features">
            <li>Priznan razvojni psiholog</li>
            <li>Priznani pisatelji</li>
            <li>Igre in naloge</li>
          </ul>

          <a href="#" class="blue-btn">Izvedi več</a>
          <a href="#" class="blue-btn mobile-blue-btn">Beri E-knjige</a>
        </div>

        <img src="images/lines/ArgetaJunior/overlay-junior-sign-05-reversed.png" alt="" class="childrenbook-arrow-img">
      </div>
    </div>
  </div>
</div>
<!-- end. childrenbook-section -->