<!-- begin. Confidence Form Section -->
<div class="confidence-form">

  {% include '../components/section-title.twig' with {'title': 'Prepričaj se na lastne oči', 'subtitle': 'Zavedamo se, da so besede samo besede, zato te v duhu popolne transparentnosti z veseljem pričakujemo v naši proizvodnji, kjer se lahko o kakovosti Argetinih izdelkov prepričaš na lastne oči.', 'col': '8'} %}

  <div class="container text-4">
    <div class="row">
      <div class="col text-center">
        <ul class="form-steps-list text-5 list-inline">
          <li class="list-inline-item active">1.<span class="d-none d-md-inline"> Ogled</span></li>
          <li class="list-inline-item divider circle"></li>
          <li class="list-inline-item">2.<span class="d-none d-md-inline"> Kontaktna oseba</span></li>
          <li class="list-inline-item divider circle"></li>
          <li class="list-inline-item">3.<span class="d-none d-md-inline"> Zahvala</span></li>
        </ul>
      </div>
    </div>

    <form id="quality-form">

    <div class="row steps" id="quality-form-step-1">

      <div class="col-lg-3 d-none d-lg-block">
          <img class="img-rounded" src="images/photo/quality-modern-photo-3.jpg" alt="">
      </div>

      <div class="col-lg-3">
        <div class="form-group">
          <label for="location"><img src="images/icons/ic-location.svg">Lokacija</label>
          <select class="selectpicker" id="location" required data-style="btn-form">
            <option value="" selected disabled hidden>npr. Koper</option>
            <option value="1">Koper</option>
            <option value="2">Ljubljana</option>
            <option value="3">Maribor</option>
          </select>
        </div>
      </div>


      <div class="col-lg-3">
        <div class="form-group">
          <label for="date"><img src="images/icons/ic-calendar.svg">Izberi termin</label>
          <input type="text" id="date" required placeholder="npr. 8.1.2019" class="form-control">
        </div>
      </div>

      <div class="col-lg-3">
        <div class="form-group">
          <label for="number"><img src="images/icons/ic-person.svg">Število oseb</label>
          <input type="text" class="form-control" id="number" placeholder="5" required>
        </div>
      </div>

    </div>

    <div class="row" >
      <div class="col text-center">
        <button id="go-to-quality-form-step-2" class="orange-btn large-btn">Naprej <img src="images/icons/ic-arrow-big-right-white.svg"></button>
      </div>
    </div>

    <div class="row steps" id="quality-form-step-2" style="display:none;">

      <div class="col-lg-3">
        <div class="form-group">
          <label for="name"><img src="images/icons/ic-medal.svg">Kontaktna oseba</label>
          <input type="text" class="form-control form-control-margin-bottom" id="name" placeholder="Ime">
          <input type="text" class="form-control" id="surname" placeholder="Priimek">
        </div>
      </div>

      <div class="col-lg-3">
        <div class="form-group">
          <label for="email"><img src="images/icons/ic-at.svg">E-mail</label>
          <input type="text" class="form-control" id="email" placeholder="npr. mojca@gmail.com">
        </div>
      </div>

      <div class="col-lg-3">
        <div class="form-group">
          <label for="country_code"><img src="images/icons/ic-phone.svg">Tel. številka</label>
          <div class="form-group-inline">
            <select class="selectpicker" id="country_code" data-style="btn-form">
              <option data-content="<img class='img-select' src='./images/svg/ic-slovenia.svg'>">+386</option>
              <option data-content="<img class='img-select' src='./images/svg/ic-croatia.svg'>">+385</option>
              <option data-content="<img class='img-select' src='./images/svg/ic-germany.svg'>">+something?</option>
            </select>
            <input type="text" class="form-control w-100" id="phone" placeholder="Vnesi številko">
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="form-group-transparent">

          <div class="form-check">

                <label class="form-check-label text-5" for="quality-check">
                  <input class="form-check-input" type="checkbox" id="quality-check">
                  <span class="form-check-mark"></span>
                  Strinjam se s <strong>splošnimi pogoji</strong> in soglašam da se posredovani osebni podatki uporabljajo oz. obdelujejo v skladu s <strong>pravili zasebnosti</strong> za posredovanje e-sporočil, povezanih s poslovanjem Organizatorja kot so na primer akcije, novosti, recepti in splošna obvestila o dogodkih, predstavitvah ter drugih obvestil, kot tudi za njihovo uporabo za analize in statistične obdelave z namenom izboljšanja uporabniške izkušnje na naših digitalnih platformah, vodenja trženjskih raziskav in promocijskih aktivnosti, oglaševanja.
                </label>
              </div>
        </div>
      </div>
    </div>

    <div class="row" style="display:none;">
      <div class="col text-center">
        <button id="go-to-quality-form-step-3" class="orange-btn large-btn">Pošlji</button>
      </div>
    </div>

    </form>

    <div class="row" id="quality-form-step-confirmation" style="display:none;">
      <div class="col-12">
        <div class="confirmation font-color-white">
          <h1 class="heading1_5 text-center">Tvojo prijavo smo sprejeli.</h1>
          <p class="text-3 text-center">V najkrajšem možnem času ti bomo potrdili termin ogleda proizvodnje. Veselimo se tvojega obiska!</p>

          <div class="row">
            <div class="col-6 col-md-3 offset-md-3 heading1_11 text-uppercase">Izbran termin</div>
            <div class="col-6 text-4">27/03/2018</div>
            <div class="col-md-6 col-12 offset-md-3 divider"></div>
          </div>

          <div class="row">
            <div class="col-6 col-md-3 offset-md-3 heading1_11 text-uppercase">Število oseb</div>
            <div class="col-6 text-4">5</div>
            <div class="col-md-6 col-12 offset-md-3 divider"></div>
          </div>

          <div class="row">
            <div class="col-6 col-md-3 offset-md-3 heading1_11 text-uppercase">Lokacija</div>
            <div class="col-6 text-4">Industrijska cesta 21, 6130 Izola, Slovenija</div>
            <div class="col-md-6 col-12 offset-md-3 divider"></div>
          </div>

          <div class="row">
            <div class="col-6 col-md-3 offset-md-3 heading1_11 text-uppercase">KONTAKTNA OSEBA</div>
            <div class="col-6 text-4">Janez Novak</div>
            <div class="col-md-6 col-12 offset-md-3 divider"></div>
          </div>

          <div class="row">
            <div class="col-6 col-md-3 offset-md-3 heading1_11 text-uppercase">E-mail</div>
            <div class="col-6 text-4">janez.novak@gmail.com</div>
            <div class="col-md-6 col-12 offset-md-3 divider"></div>
          </div>

          <div class="row">
            <div class="col-6 col-md-3 offset-md-3 heading1_11 text-uppercase">Telefonska številka</div>
            <div class="col-6 text-4">+386 31 597 684</div>
          </div>

        </div>

      </div>
    </div>

  </div>
</div>
<!-- end. Confidence Form Section -->
