<!-- begin. description-product -->
<div class="description-section active-area right-side">
    <div class="container">
        <div class="row flex--between">
            <div class="col-lg-5">
                <div class="accordion-info-container">
                    <div class="accordion-item active-item" data-accordion-item="1">
                        <strong class="accordion-ttl js-accordion-opener">“BREZ” je bolje</strong>
                        <div class="hidden-box js-accordion-body">
                            <div class="accordion-image">
                                <img class="image-object-fit" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2Dot1dTlZDa_0079UEXpwC2bSBHc6suvOc7hva5mU4Om8Gez-" alt="">
                            </div>
                            <p class="ds-text">Pri ustvarjanju dobrot Argeta prisegamo le na najboljše. Vsi izdelki so popolnoma brez konzervansov, umetnih barvil in ojačevalcev okusa ter glutena.</p>
                            <a href="#" class="btn-arrow-link primary-link">Želim izvedeti več</a>
                        </div>
                    </div>
                    <div class="accordion-item" data-accordion-item="2">
                        <strong class="accordion-ttl js-accordion-opener">Kakovost, ki prepriča</strong>
                        <div class="hidden-box js-accordion-body">
                            <div class="accordion-image">
                                <img class="image-object-fit" src="https://www.croatiaweek.com/wp-content/uploads/2017/11/Argeta.jpg?x46277" alt="">
                            </div>
                            <p class="ds-text">Naša visokotehnološka proizvodnja je v koraku z najsodobnejšimi standardi kakovosti. Obišči jo brezplačno, veseli bomo tvojega obiska. Vabimo pa te tudi k ogledu 360-stopinjskega video sprehoda po proizvodnji.</p>
                            <a href="#" class="btn-arrow-link primary-link">Želim obiskati proizovdnjo</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 accordion-picture-container">
                <div class="accordion-picture js-accordion-picture active-picture" data-accordion-image="1">
                    <img class="image-object-fit" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2Dot1dTlZDa_0079UEXpwC2bSBHc6suvOc7hva5mU4Om8Gez-" alt="">
                </div>
                <div class="accordion-picture js-accordion-picture" data-accordion-image="2">
                    <img class="image-object-fit" src="https://www.croatiaweek.com/wp-content/uploads/2017/11/Argeta.jpg?x46277" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end. description-product -->