<!-- begin. Description Section with Accordion -->
<div class="description-section active-area">
  <div class="container">

    <!-- Description Header -->
    <div class="row">
      <div class="col">
        <h2 class="heading1_2 mb60 mb40-sm">Spoznaj zgodbo o visoki kakovosti</h2>
      </div>
    </div>

    <!-- Description Body -->
    <div class="row flex--between">

      <!-- Description Pictures -->
      <div class="col-lg-6 accordion-picture-container">

        <!-- Picture #1 -->
        <div class="accordion-picture js-accordion-picture active-picture" data-accordion-image="1">

          <!-- Brez Label -->
          <div class="brez-label">
            <div class="animated-image-wrapper">
              <svg class="animated-image">
                <use xlink:href="#badge-free-slo-circle-text"></use>
              </svg>
            </div>
            <svg class="static-image">
              <use xlink:href="#badge-free-slo-center-title"></use>
            </svg>
          </div>

          <img class="image-object-fit" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2Dot1dTlZDa_0079UEXpwC2bSBHc6suvOc7hva5mU4Om8Gez-" alt="">
        </div>

        <!-- Picture #2 -->
        <div class="accordion-picture js-accordion-picture" data-accordion-image="2">
          <img class="image-object-fit" src="https://www.croatiaweek.com/wp-content/uploads/2017/11/Argeta.jpg?x46277" alt="">
        </div>

        <!-- Picture #3 -->
        <div class="accordion-picture js-accordion-picture" data-accordion-image="3">
          <img class="image-object-fit" src="https://www.croatiaweek.com/wp-content/uploads/2017/11/Argeta.jpg?x46277" alt="">
        </div>
      </div>

      <!-- Description Content -->
      <div class="col-lg-5 offset-lg-1">
        <div class="accordion-info-container">

          <!-- Description Item #1 -->
          <div class="accordion-item active-item" data-accordion-item="1">
            <strong class="accordion-ttl js-accordion-opener">“BREZ” je bolje</strong>
            <div class="hidden-box js-accordion-body">
              <div class="accordion-image mb25 mb15-xs">
                <!--<div class="brez-label"> <div class="animated-image-wrapper"> <svg class="animated-image"> <use xlink:href="#badge-free-slo-circle-text"></use> </svg> </div> <svg class="static-image"> <use xlink:href="#badge-free-slo-center-title"></use> </svg> </div>-->
                <img class="image-object-fit" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2Dot1dTlZDa_0079UEXpwC2bSBHc6suvOc7hva5mU4Om8Gez-" alt="">
              </div>
              <p class="ds-text">Pri ustvarjanju dobrot Argeta prisegamo le na najboljše. Vsi izdelki so popolnoma brez konzervansov, umetnih barvil in ojačevalcev okusa ter glutena.</p>
              <a href="#" class="btn-arrow-link primary-link">Želim izvedeti več</a>
            </div>
          </div>

          <!-- Description Item #2 -->
          <div class="accordion-item" data-accordion-item="2">
            <strong class="accordion-ttl js-accordion-opener">Kakovost, ki prepriča</strong>
            <div class="hidden-box js-accordion-body">
              <div class="accordion-image mb25 mb15-xs">
                <img class="image-object-fit" src="https://www.croatiaweek.com/wp-content/uploads/2017/11/Argeta.jpg?x46277" alt="">
              </div>
              <p class="ds-text">Naša visokotehnološka proizvodnja je v koraku z najsodobnejšimi standardi kakovosti. Obišči jo brezplačno, veseli bomo tvojega obiska. Vabimo pa te tudi k ogledu 360-stopinjskega video sprehoda po proizvodnji.</p>
              <a href="#" class="btn-arrow-link primary-link">Želim obiskati proizovdnjo</a>
            </div>
          </div>

          <!-- Description Item #3 -->
          <div class="accordion-item js-accordion-body" data-accordion-item="3">
            <strong class="accordion-ttl js-accordion-opener">Spoštujemo svet okrog nas</strong>
            <div class="hidden-box js-accordion-body">
              <div class="accordion-image mb25 mb15-xs">
                <img class="image-object-fit" src="https://www.croatiaweek.com/wp-content/uploads/2017/11/Argeta.jpg?x46277" alt="">
              </div>
              <p class="ds-text">Naša visokotehnološka proizvodnja je v koraku z najsodobnejšimi standardi kakovosti. Obišči jo brezplačno, veseli bomo tvojega obiska. Vabimo pa te tudi k ogledu 360-stopinjskega video sprehoda po proizvodnji.</p>
              <a href="#" class="btn-arrow-link primary-link">Želim obiskati proizovdnjo</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- end. Description Section with Accordion -->
