<!-- begin. did-you-know-container -->
<section class="did-you-know-container active-area visible">

  <div class="row did-you-know-row">
    <div class="col-md-12">
      <h2 class="heading1_2 text-center pt135 pb65">Ali ste vedeli?</h2>
    </div>
  </div>
  <!-- heading -->

  <div class="row did-you-know-row">
    <div class="container">
      <div class="offset-md-1 col-md-10 mb125">
        <!-- owl-carousel -->
        <div class="card-carousel slick-carousel did-you-know-carousel" data-slick="data-slick">

          <!-- item -->
          <div class="citem did-you-know-citem">
            <div class="row">
              <div class="col-12 col-lg-5 citem-left">
                <a href="#" class="citem-left-image-wrap" style="background-image:url(https://via.placeholder.com/390x423);">
                  
                </a>
              </div>
              <div class="col-10 offset-1 offset-lg-1 col-lg-5 citem-right">
                <div class="heading1_6 citem-heading">
                  Ideja za Argeto se je porodila čisto po naključju.
                </div>
                <div class="text-3 black citem-text">
                  Delavci v tovarni jušnih kock Argo so se uprli, ko so se naveličali enega in istega kosila – piščančjega mesa iz juhe. Vodstvo se je tedaj odločilo, da bodo meso, iz katerega so kuhali juho, uporabili za pripravo paštete. Zato še danes pri proizvodnji paštet Argeta
                  <b>najprej skuhamo juho in šele nato uporabimo meso</b>, kar je tudi
                  <b class="orange">skrivnost našega uspeha</b>.
                </div>
              </div>
            </div>
          </div>

          <!-- item -->
          <div class="citem did-you-know-citem">
            <div class="row">
              <div class="col-12 col-lg-5 citem-left">
                <a href="#" class="citem-left-image-wrap" style="background-image:url(https://via.placeholder.com/390x423);">
                  
                </a>
              </div>
              <div class="col-10 offset-1 offset-lg-1 col-lg-5 citem-right">
                <div class="heading1_6 citem-heading">
                  Ideja za Argeto se je porodila čisto po naključju.
                </div>
                <div class="text-3 black citem-text">
                  Delavci v tovarni jušnih kock Argo so se uprli, ko so se naveličali enega in istega kosila – piščančjega mesa iz juhe. Vodstvo se je tedaj odločilo, da bodo meso, iz katerega so kuhali juho, uporabili za pripravo paštete. Zato še danes pri proizvodnji paštet Argeta
                  <b>najprej skuhamo juho in šele nato uporabimo meso</b>, kar je tudi
                  <b class="orange">skrivnost našega uspeha</b>.
                </div>
              </div>
            </div>
          </div>

          <!-- item -->
          <div class="citem did-you-know-citem">
            <div class="row">
              <div class="col-12 col-lg-5 citem-left">
                <a href="#" class="citem-left-image-wrap" style="background-image:url(https://via.placeholder.com/390x423);">
                  
                </a>
              </div>
              <div class="col-10 offset-1 offset-lg-1 col-lg-5 citem-right">
                <div class="heading1_6 citem-heading">
                  Ideja za Argeto se je porodila čisto po naključju.
                </div>
                <div class="text-3 black citem-text">
                  Delavci v tovarni jušnih kock Argo so se uprli, ko so se naveličali enega in istega kosila – piščančjega mesa iz juhe. Vodstvo se je tedaj odločilo, da bodo meso, iz katerega so kuhali juho, uporabili za pripravo paštete. Zato še danes pri proizvodnji paštet Argeta
                  <b>najprej skuhamo juho in šele nato uporabimo meso</b>, kar je tudi
                  <b class="orange">skrivnost našega uspeha</b>.
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {% include '../components/world-popularity.twig' %}
</section>
<!-- end. did-you-know-container -->