<!-- begin. Illustrated Properties -->
<div class="illustrated-properties">
  {% include '../components/section-title.twig' with {'title': 'Najboljša navznoter', 'subtitle': 'Pri Argeti vedno zagotavljamo najvišje standarde in z vsakim izdelkom dokazujemo, da lahko tudi majhen obrok ponudi najvišjo kakovost.', 'col': '6'} %}

  <div class="container">
    <!-- Illustrated Property #1 -->
    <div class="row ip-block">
      <div class="col-md-7">
        <div class="ip-photo-block">
          <img src="images/photo/quality-photo-1.jpg" alt="" class="ip-photo">
        </div>
      </div>
      <div class="col-md-5">
        <div class="ip-details">
          <h3 class="ip-header">Uporabljamo le:</h3>

          <ul class="list-dotted ip-list">
            <li>izbrane kose mesa, rib ali zelenjave ter</li>
            <li>100-odstono naravne začimbe in rastlinska olja.</li>
          </ul>

          <p class="ip-notes">Zato naši izdelki predstavljajo hranljiv obrok, v katerem lahko uživaš brez skrbi.</p>
        </div>
      </div>
    </div>

    <!-- Illustrated Property #2 -->
    <div class="row ip-block ip-block-left">
      <div class="col-md-5">
        <div class="ip-details">
          <h3 class="ip-subheader">Izjemno kakovost zagotavljamo:</h3>
          <ul class="list-dotted ip-list">
            <li>s sodobno in visokotehnološko proizvodnjo,</li>
            <li>s posebnim postopkom termične obdelave.</li>
          </ul>

          <p class="ip-notes">Tako dosežemo daljšo življenjsko dobo izdelka na varen način in brez umetnih aditivov.</p>
        </div>
      </div>
      <div class="col-md-7">
        <div class="ip-photo-block">
          <img src="images/photo/quality-photo-2.jpg" alt="" class="ip-photo">
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end. Illustrated Properties -->