<!-- begin. Ingredients Junior -->
<div class="ingredients-section">
  <div class="container">
    <div class="row flex--between">
      <div class="col-lg-6 nutrients">

        {% include 'brez-junior.twig' %}

        <div class="nutritional-value js-nutritional-value">
          <div class="row">
            <div class="col-md-7 key">
              <strong>Energijska vrednost</strong>
            </div>
            <div class="col-md-5 value">
              <strong>1037 kJ</strong>
              <span>(250 kcal)</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 key">
              <strong>Maščobe</strong>
            </div>
            <div class="col-md-5 value">
              <strong>21g</strong>
              <span>(250 kcal)</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 key">
              <strong>Ogljikovi hidrati</strong>
            </div>
            <div class="col-md-5 value">
              <strong>4,5 g</strong>
              <span>*od tega sladkorji: 1,8 g</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 key">
              <strong>Beljakovine</strong>
            </div>
            <div class="col-md-5 value">
              <strong>4,3 g</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 key">
              <strong>Sol</strong>
            </div>
            <div class="col-md-5 value">
              <strong>1,1 g</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 key">
              <strong>Alergeni</strong>
            </div>
            <div class="col-md-5 value">
              <span>ribe (tuna), soja, mleko, zelena</span>
            </div>
          </div>
        </div>
        <div class="open-info-btn">
          <a href="#" class="js-toggle-nutrients">hranilne vrednosti</a>
        </div>
      </div>
      <div class="col-lg-5 ingredients">
        <h2 class="heading1">Sestavine</h2>
        <p>Skrbno izbrane naravne sestavine - čičerika, črne olive, sezam in začimbe.</p>
        <ul class="flex--between">
          <li>
            <div class="picture">
              <img src="http://via.placeholder.com/64x64" alt="">
            </div>
            <strong>čičerika</strong>
          </li>
          <li>
            <div class="picture">
              <img src="http://via.placeholder.com/64x64" alt="">
            </div>
            <strong>črne olive</strong>
          </li>
          <li>
            <div class="picture">
              <img src="http://via.placeholder.com/64x64" alt="">
            </div>
            <strong>sezam</strong>
          </li>
          <li>
            <div class="picture">
              <img src="http://via.placeholder.com/64x64" alt="">
            </div>
            <strong>začimbe</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- end. Ingredients Junior -->