<!-- begin. Key Values -->
<div class="key-values">
  <div class="container">
    <div class="row key-values-row">
      <a href="#" class="custom-btn custom-btn-key-values"></a>
      <div class="col-12 col-sm-6 offset-md-1 col-md-4 offset-lg-1 col-lg-4">
        <h2 class="key-values-heading">Ključne vrednote</h2>

        <ul class="list-dotted key-values-list">
          <li>To be discussed</li>
          <li>To be discussed lorem ipsum dolo</li>
          <li>To be discussed lorem ipsum dolor amet pride dolg stavek ali samo naštevanje?</li>
          <li>To be discussed lorem ipsum dolo</li>
          <li>To be discussed lorem</li>
          <li>To be discussed</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 offset-md-1 col-md-4 offset-lg-2 col-lg-4 ">
        <h2 class="key-values-heading mt40-xs2">Cilji</h2>

        <ul class="list-dotted key-values-list">
          <li>To be discussed</li>
          <li>To be discussed lorem ipsum dolo</li>
          <li>To be discussed lorem ipsum dolor amet pride dolg stavek ali samo naštevanje?</li>
          <li>To be discussed lorem ipsum dolo</li>
        </ul>

      </div>
    </div>
  </div>
</div>
<!-- end. Key Values -->
