<!-- begin. Main Cards -->
<div class="container main-cards-container">
  <div class="row main-cards mb100 mb50-xs active-area">

    <!-- Item 1 -->
    <div class="col-sm-4">
      <div class="card-item">
        <div class="prod-name">
          <span>za vso</span>
          <strong class="orange">družino</strong>
        </div>
        <a href="#" class="product-card orange">
          <div class="product-picture">
            <img class="img-product-pate" src="./images/jar.png" width="217" alt="">

            <div class="floating_item_1 js-parallax-item d-sm-none d-md-block" data-paroller-factor="-0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
              <div class="floating_item_container">
                <img src="./images/lines/Argeta/overlay-basil-08.png" width="100" height="83" alt="">
              </div>
            </div>
            <div class="floating_item_2 js-parallax-item" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
              <div class="floating_item_container">
                <img src="./images/lines/Argeta/overlay-tomatoes-06.png" width="107" height="107" alt="">
              </div>
            </div>
          </div>
          <div class="product-card-info">
            <h4 class="heading1_6">Argeta</h4>
            <span class="grey-text">Bogata izbira dobrot.</span>

            <span class="btn-arrow-link primary-link">Odkrij okus</span>
          </div>
        </a>
      </div>
    </div>

    <!-- Item 2 -->
    <div class="col-sm-4">
      <div class="card-item">
        <div class="prod-name">
          <span>za</span>
          <strong class="yellow">najmlajše</strong>
        </div>
        <a href="#" class="product-card">
          <div class="product-picture">
            <img src="images/prod1.png" class="img-product-pate" alt="">

            <div class="floating_item_3 js-parallax-item d-sm-none d-md-block" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
              <div class="floating_item_container">
                <img src="./images/lines/ArgetaJunior/overlay-sun-sm.png" width="152" height="144" alt="">
              </div>
            </div>
            <div class="floating_item_4 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
              <div class="floating_item_container">
                <img src="./images/lines/ArgetaJunior/overlay-duck-finger-up.png" width="129" height="280" alt="">
              </div>
            </div>
          </div>
          <div class="product-card-info">
            <h4 class="heading1_6 black">Argeta Junior</h4>
            <span class="grey-text">Najljubši namazi otrok.</span>
            <span class="btn-arrow-link junior-arrow-link">Odkrij okus</span>
          </div>
        </a>
      </div>
    </div>

    <!-- Item 3 -->
    <div class="col-sm-4 mb30">
      <div class="card-item">
        <div class="prod-name">
          <span>za</span>
          <strong class="black">gurmane</strong>
        </div>
        <a href="#" class="product-card black">
          <div class="product-picture">
            <span class="badge-circle badge-exclusive">New</span>
            <img src="images/prod1.png" class="img-product-pate" alt="">

            <div class="floating_item_5 js-parallax-item d-sm-none d-md-block" data-paroller-factor="-0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
              <div class="floating_item_container">
                <img src="./images/lines/ArgetaExclusive/overlay-flowers-01-sm.png" width="106" height="100" alt="">
              </div>
            </div>
            <div class="floating_item_6 js-parallax-item" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
              <div class="floating_item_container">
                <img src="./images/lines/ArgetaExclusive/overlay-nuts-01.png" width="61" height="89" alt="">
              </div>
            </div>
          </div>
          <div class="product-card-info">
            <h4 class="heading1_6 black">Argeta Exclusive</h4>
            <span class="grey-text">Vrhunske kulinarične kreacije.</span>
            <span class="btn-arrow-link exclusive-arrow-link">Odkrij okus</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- end. Main Cards -->
