<!-- begin. Main Slider -->
<div class="main-slider-section">
  <div class="container">
    <div class="row flex--between main-slider js-main-slider">

      <!-- Text Slides -->
      <div class="col-lg-5">
        <div class="col-main-slider-text-slides">
          <div class="slide-text js-slide-text active-slide" data-slide-id="1">
            <h1 class="heading1">Argeta je
              <strong class="link-heading orange">svet zase</strong>.
            </h1>
            <p>
              So namazi
              <a href="#" class="orange link">Argeta</a>,
              <a href="#" class="yellow link">Argeta Junior</a>
              in
              <a href="#" class="black link">Argeta Exclusive</a>
              tudi tvoji najljubši?
            </p>
            <a href="#" class="btn-arrow-link primary-link">Odkrij svet okusov</a>
          </div>
          <div class="slide-text js-slide-text" data-slide-id="2">
            <h1 class="heading1">
              Argeta je
              <strong class="link-heading orange">svet</strong>
              dobrega
              <strong class="link-heading orange">navdiha</strong>.
            </h1>
            <p>
              Predaj se slastnim
              <strong class="link black">receptom</strong>, nepozabnim
              <strong class="link black">doživetjim</strong>
              in top
              <strong class="link black">zabavi</strong>.
            </p>
            <a href="#" class="btn-arrow-link primary-link">Odkrij svet navdiha</a>
          </div>
          <div class="slide-text js-slide-text " data-slide-id="3">
            <h1 class="heading1">Argeta je
              <strong class="link-heading orange">svet kakovosti</strong>.
            </h1>
            <p>Že desetletja prisegamo na
              <strong class="link black">zaupanje</strong>, najvišjo
              <strong class="link black">kakovost</strong>
              in
              <strong class="link black">transparentnost</strong>.
            </p>
            <a href="#" class="btn-arrow-link primary-link">Odkrij svet kakovosti</a>
          </div>
        </div>
      </div>

      <!-- Photo Slides -->
      <div class="col-lg-6 col-main-slider-image-slides">
        <div class="slider-container">
          <div class="orange-pattern"></div>
          <div class="mob-switcher">
            <span class="js-mobile-slide-switcher active-slide"></span>
            <span class="js-mobile-slide-switcher"></span>
            <span class="js-mobile-slide-switcher"></span>
          </div>
          <div class="slider">
            <div class="brez-label">
              <div class="animated-image-wrapper">
                <svg class="animated-image">
                  <use xlink:href="#badge-free-slo-circle-text"></use>
                </svg>
              </div>
              <svg class="static-image">
                <use xlink:href="#badge-free-slo-center-title"></use>
              </svg>
            </div>
            <div class="slide-item first js-slide-item active-slide" data-slide-id="1">
              <div class="slide-button-circle">
                <span class="slide-button-circle-holder">
                  <span class="slide-switcher js-slide-switcher">Svet okusov</span>
                </span>
              </div>
              <div class="slider-item-content">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2Dot1dTlZDa_0079UEXpwC2bSBHc6suvOc7hva5mU4Om8Gez-" alt="">
                <svg viewbox="0 0 530 530" width="520" height="520" xml:space="preserve" class="circle-loader" xmlns="http://www.w3.org/2000/svg">
                  <circle class="static-circle" cx="265" cy="265" r="262" stroke="#000000" fill="none" stroke-width="5" stroke-linecap="round"></circle>
                  <circle class="circle-loader-path" cx="265" cy="265" r="262" stroke="#F0AB00" fill="none" stroke-width="5" stroke-linecap="round"></circle>
                </svg>
              </div>
            </div>
            <div class="slide-item second js-slide-item" data-slide-id="2">
              <div class="slide-button-circle">
                <span class="slide-button-circle-holder">
                  <span class="slide-switcher js-slide-switcher">Svet navdiha</span>
                </span>
              </div>
              <div class="slider-item-content">
                <div class="js-video-block slider-video" data-video-id="nGVmr8hscec"></div>
                {#<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2Dot1dTlZDa_0079UEXpwC2bSBHc6suvOc7hva5mU4Om8Gez-" alt="">#}
                <svg viewbox="0 0 530 530" width="520" height="520" xml:space="preserve" class="circle-loader" xmlns="http://www.w3.org/2000/svg">
                  <circle class="static-circle" cx="265" cy="265" r="262" stroke="#000000" fill="none" stroke-width="5" stroke-linecap="round"></circle>
                  <circle class="circle-loader-path" cx="265" cy="265" r="262" stroke="#F0AB00" fill="none" stroke-width="5" stroke-linecap="round"></circle>
                </svg>
              </div>
            </div>
            <div class="slide-item third js-slide-item" data-slide-id="3">
              <div class="slide-button-circle">
                <span class="slide-button-circle-holder">
                  <span class="slide-switcher js-slide-switcher">Svet kakovosti</span>
                </span>
              </div>
              <div class="slider-item-content">
                <img src="https://magicskillet.com/wp-content/uploads/2017/08/easy-homemade-pork-liver-pate-recipe.jpg" alt="">
                <svg viewbox="0 0 530 530" width="520" height="520" xml:space="preserve" class="circle-loader" xmlns="http://www.w3.org/2000/svg">
                  <circle class="static-circle" cx="265" cy="265" r="262" stroke="#000000" fill="none" stroke-width="5" stroke-linecap="round"></circle>
                  <circle class="circle-loader-path" cx="265" cy="265" r="262" stroke="#F0AB00" fill="none" stroke-width="5" stroke-linecap="round"></circle>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end. Main Slider -->