<!-- begin. Main Slider Exclusive -->
<div class="main-slider-exclusive">

  <!-- Signature Image -->
  <div class="signature-img">
    <img src="images/lines/ArgetaExclusive/overlay-signature-luka-kosir.svg" alt="">
  </div>

  <!-- Slider -->
  <div class="js-main-slider mb60">
    <div class="slider-container">
      <div class="mob-switcher">
        <span class="js-mobile-slide-switcher active-slide"></span>
        <span class="js-mobile-slide-switcher"></span>
        <span class="js-mobile-slide-switcher"></span>
      </div>
      <div class="slider">

        <!-- Brez Label -->
        <div class="brez-label">
          <div class="animated-image-wrapper">
            <svg class="animated-image">
              <use xlink:href="#badge-free-slo-circle-text"></use>
            </svg>
          </div>
          <svg class="static-image">
            <use xlink:href="#badge-free-slo-center-title"></use>
          </svg>
        </div>

        <!-- Slide Item -->
        <div class="slide-item first js-slide-item active-slide">
          <div class="slide-button-circle">
            <span class="slide-button-circle-holder">
              <span class="slide-switcher js-slide-switcher">2015</span>
            </span>
          </div>
          <div class="slider-item-content">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2Dot1dTlZDa_0079UEXpwC2bSBHc6suvOc7hva5mU4Om8Gez-" alt="">
            <svg viewBox="0 0 530 530" width="520" height="520" xml:space="preserve" class="circle-loader" xmlns="http://www.w3.org/2000/svg">
              <circle class="static-circle" cx="265" cy="265" r="262" stroke="#000000" fill="none" stroke-width="5" stroke-linecap="round"></circle>
              <circle class="circle-loader-path" cx="265" cy="265" r="262" stroke="#F0AB00" fill="none" stroke-width="5" stroke-linecap="round"></circle>
            </svg>
          </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item second js-slide-item">
          <div class="slide-button-circle">
            <span class="slide-button-circle-holder">
              <span class="slide-switcher js-slide-switcher">2016</span>
            </span>
          </div>
          <div class="slider-item-content">
            <div class="js-video-block slider-video" data-video-id="nGVmr8hscec"></div>
            {#<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2Dot1dTlZDa_0079UEXpwC2bSBHc6suvOc7hva5mU4Om8Gez-" alt="">#}
            <svg viewBox="0 0 530 530" width="520" height="520" xml:space="preserve" class="circle-loader" xmlns="http://www.w3.org/2000/svg">
              <circle class="static-circle" cx="265" cy="265" r="262" stroke="#000000" fill="none" stroke-width="5" stroke-linecap="round"></circle>
              <circle class="circle-loader-path" cx="265" cy="265" r="262" stroke="#F0AB00" fill="none" stroke-width="5" stroke-linecap="round"></circle>
            </svg>
          </div>
        </div>

        <!-- Slide Item -->
        <div class="slide-item third js-slide-item">
          <div class="slide-button-circle">
            <span class="slide-button-circle-holder">
              <span class="slide-switcher js-slide-switcher">2017</span>
            </span>
          </div>
          <div class="slider-item-content">
            <img src="https://magicskillet.com/wp-content/uploads/2017/08/easy-homemade-pork-liver-pate-recipe.jpg" alt="">
            <svg viewBox="0 0 530 530" width="520" height="520" xml:space="preserve" class="circle-loader" xmlns="http://www.w3.org/2000/svg">
              <circle class="static-circle" cx="265" cy="265" r="262" stroke="#000000" fill="none" stroke-width="5" stroke-linecap="round"></circle>
              <circle class="circle-loader-path" cx="265" cy="265" r="262" stroke="#F0AB00" fill="none" stroke-width="5" stroke-linecap="round"></circle>
            </svg>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

{% include '../components/scroll-down.twig' %}
<!-- end. Main Slider Exclusive -->