<!-- begin. Mobile Slider -->
<div id="main-slider-mobile-background" class="main-slider-mobile-background">
  <img class="background-item image-object-fit active" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2Dot1dTlZDa_0079UEXpwC2bSBHc6suvOc7hva5mU4Om8Gez-" alt="">
  <img class="background-item image-object-fit" src="https://via.placeholder.com/900x700" alt="">
  <img class="background-item image-object-fit" src="https://magicskillet.com/wp-content/uploads/2017/08/easy-homemade-pork-liver-pate-recipe.jpg" alt="">
</div>
<!-- end. Mobile Slider -->
