<!-- begin. News Container -->
<div class="container">
  <div class="news-container active-area">
    <h2 class="heading1_2">Vstopi v svet dobrega navdiha</h2>

    <!-- Bubble Button -->
    <a href="#" class="btn-bubble"><span class="btn-bubble-caption">Svet navdiha</span></a>

    <!-- News List -->
    <div class="row news-row">

      <!-- Item 1 -->
      <div class="col-sm-4">
        <a href="#" class="img-wrap">
          <img src="https://via.placeholder.com/361" alt="">
        </a>

        <!-- Tags -->
        <div class="tags-block">
          <span class="btn-tag">Recepti</span>
        </div>

        <h4 class="heading1_7">
          <a href="#">Argetin skandinavec</a>
        </h4>
        <a href="#" class="btn-arrow-link secondary-link">Preberi več</a>
      </div>

      <!-- Item 2 -->
      <div class="col-sm-3">
        <a href="#" class="img-wrap">
          <img src="https://via.placeholder.com/263" alt="">
        </a>

        <!-- Tags -->
        <div class="tags-block">
          <span class="btn-tag">Zabava</span>
        </div>

        <h4 class="heading1_7">
          <a href="#">Kaj početi na deževen dan?</a>
        </h4>
        <a href="#" class="btn-arrow-link secondary-link">Preberi več</a>
      </div>

      <!-- Item 3 -->
      <div class="col-sm-3">
        <a href="#" class="img-wrap">
          <img src="https://via.placeholder.com/263" alt="">
        </a>

        <!-- Tags -->
        <div class="tags-block">
          <span class="btn-tag">Recepti</span>
        </div>

        <h4 class="heading1_7">
          <a href="#">10 nasvetov za sproščanje v napetem urniku</a>
        </h4>
        <a href="#" class="btn-arrow-link secondary-link">Preberi več</a>
      </div>
    </div>
  </div>
</div>
<!-- end. News Container -->
