<!-- begin. P.R. Latest -->
<div class="pr-latest">
    <div class="container">
      <div class="row">
        <div class="col-11 offset-1">
          <div class="pr-latest-header">
            <h1 class="heading1">Press realeases</h1>
          </div>
        </div>
      </div>

      <div class="row">

        <!-- Featured -->
        <div class="col-lg-4 offset-lg-1">
          <div class="pr-featured">
            <a href="#" class="photo">
              <img src="https://via.placeholder.com/361" alt="">
            </a>
            <p class="date">11/05/2018</p>
            <a href="#" class="link-details heading1_7">Strong profitability growth and expected sales growth</a>
          </div>
        </div>

        <!-- News List -->
        <div class="col-lg-5">
          <div class="pr-news">

            <!-- News Item 1 -->
            <div class="pr-news-item">
              <a href="#" class="photo">
                <img src="https://via.placeholder.com/125" alt="">
              </a>
              <div class="pr-news-item-details">
                <p class="date">11/05/2018</p>
                <a href="#" class="link-details heading1_9">Changes in the membership of the Management Board of Argeta company</a>
              </div>
            </div>

            <!-- News Item 2 -->
            <div class="pr-news-item">
              <a href="#" class="photo">
                <img src="https://via.placeholder.com/125" alt="">
              </a>
              <div class="pr-news-item-details">
                <p class="date">11/05/2018</p>
                <a href="#" class="link-details heading1_9">Notice of the held session of the Management Board</a>
              </div>
            </div>

            <!-- News Item 3 -->
            <div class="pr-news-item">
              <a href="#" class="photo">
                <img src="https://via.placeholder.com/125" alt="">
              </a>
              <div class="pr-news-item-details">
                <p class="date">11/05/2018</p>
                <a href="#" class="link-details heading1_9">Changes in the membership of the Management Board of Argeta company</a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end. P.R. Latest -->


  <!-- begin. P.R. Articles -->
  <div class="pr-articles">
    <div class="container">

      <!-- First Row -->
      <div class="row">

        <!-- Item 1 -->
        <div class="col-lg-3 offset-lg-1">
          <div class="pr-articles-item">
            <a href="#" class="photo">
              <img src="https://via.placeholder.com/263" alt="">
            </a>
            <p class="date">11/05/2018</p>
            <a href="#" class="link-details heading1_7">How to Nourish Your Creativity Every Day</a>
          </div>
        </div>


        <!-- Item 2 -->
        <div class="col-lg-3">
          <div class="pr-articles-item">
            <a href="#" class="photo">
              <img src="https://via.placeholder.com/263" alt="">
            </a>
            <p class="date">11/05/2018</p>
            <a href="#" class="link-details heading1_7">Changes in the membership of the Management Board of Argeta company</a>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col-lg-3">
          <div class="pr-articles-item">
            <a href="#" class="photo">
              <img src="https://via.placeholder.com/263" alt="">
            </a>
            <p class="date">11/05/2018</p>
            <a href="#" class="link-details heading1_7">It’s Time to Stop Ignoring Tech Policy at the somewhere</a>
          </div>
        </div>

      </div>

      <!-- Second Row -->
      <div class="row">
        <!-- Item 4 -->
        <div class="col-lg-3 offset-lg-1">
          <div class="pr-articles-item">
            <a href="#" class="photo">
              <img src="https://via.placeholder.com/263" alt="">
            </a>
            <p class="date">11/05/2018</p>
            <a href="#" class="link-details heading1_7">Changes in the membership of the Management Board</a>
          </div>
        </div>

        <!-- Item 5 -->
        <div class="col-lg-3">
          <div class="pr-articles-item">
            <a href="#" class="photo">
              <img src="https://via.placeholder.com/263" alt="">
            </a>
            <p class="date">11/05/2018</p>
            <a href="#" class="link-details heading1_7">Management Board of Atlantic Grupa</a>
          </div>
        </div>

        <!-- Item 6 -->
        <div class="col-lg-3">
          <div class="pr-articles-item">
            <a href="#" class="photo">
              <img src="https://via.placeholder.com/263" alt="">
            </a>
            <p class="date">11/05/2018</p>
            <a href="#" class="link-details heading1_7">Changes in the membership of the Board of Argeta</a>
          </div>
        </div>

      </div>

      <!-- Load More -->
      <div class="row">
        <div class="col text-center">
          <div class="load-more-block">
            <a href="#" class="orange-btn">Load more</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end. P.R. Articles -->


  <!-- begin. P.R. Media Kit -->
  <div class="pr-media-kit">
    <div class="container">

      <!-- Media Kit Header -->
      <div class="row">
        <div class="col text-center">
          <div class="pr-media-kit-header">
            <h3 class="heading1_2">Media kit</h3>
          </div>
        </div>
      </div>

      <!-- Media Kit Content -->
      <div class="row">
        <div class="col-md-4 offset-md-1">
          <h4 class="heading1_8">Brand kit</h4>
          <a href="#" class="media-kit-link"><img src="https://via.placeholder.com/361x109" alt=""></a>
          <a href="#" class="btn-arrow-link primary-link">Prenesi</a>
        </div>
        <div class="col-md-2">
          <div class="media-kit-line"></div>
        </div>
        <div class="col-md-4">
          <h4 class="heading1_8">Product renders</h4>
          <a href="#" class="media-kit-link"><img src="https://via.placeholder.com/361x109" alt=""></a>
          <a href="#" class="btn-arrow-link primary-link">Prenesi</a>
        </div>
      </div>

    </div>
  </div>
  <!-- end. P.R. Media Kit -->


  <!-- begin. P.R. Reports -->
  <div class="pr-reports">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 ">

          <!-- Reports Header -->
          <div class="pr-reports-header">
            <h3 class="heading1_4">Poročila</h3>
          </div>

          <!-- Report 1 -->
          <div class="pr-reports-block">
            <p class="date">11/05/2018</p>
            <h4 class="heading1_8"><a href="#" class="link-details">Changes in the membership of the Management Board of Argeta company</a></h4>
            <a href="#" class="btn-arrow-link primary-link">Prenesi</a>
          </div>

          <!-- Report 2 -->
          <div class="pr-reports-block">
            <p class="date">11/05/2018</p>
            <h4 class="heading1_8"><a href="#" class="link-details">Notice of the held session of the Management Board</a></h4>
            <a href="#" class="btn-arrow-link primary-link">Prenesi</a>
          </div>

          <!-- Report 3 -->
          <div class="pr-reports-block">
            <p class="date">11/05/2018</p>
            <h4 class="heading1_8"><a href="#" class="link-details">Changes in the membership of the Management Board of Argeta company</a></h4>
            <a href="#" class="btn-arrow-link primary-link">Prenesi</a>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!-- end. P.R. Reports -->