<!-- begin. product-row-section -->
<a href="#" class="product-btn js-product-btn">Vsi Okusi</a>

<!-- product-row-section - content -->
<div class="product-row-section js-product-row">
  <a href="#" class="close-btn js-close-btn">close</a>

  <div class="product-switcher ">

    <!-- Tabs Filter -->
    <div class="tabs-switcher">
      <ul class="flex--middle js-tab-switcher">
        <li>
          <a href="#tab01" class="active all-products-filter">
            <span class="row-product-title">Vsi okusi</span>
          </a>
        </li>
        <li>
          <a href="#tab02">
            <img class="tabs-icon" src="./images/svg/ic-vegetable.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#tab03">
            <img class="tabs-icon" src="./images/svg/ic-chicken.svg" alt="">
          </a>
        </li>
        <li>
          <a href="#tab04">
            <img class="tabs-icon" src="./images/svg/ic-tuna.svg" alt="">
          </a>
        </li>
      </ul>
    </div>

    <!-- Tabs Content -->
    <div class="tabs-container">

      <!-- Tab #1 -->
      <div class="tab js-tab active" id="tab01">
        <div class="product-row-overflow flex--align-end owl-carousel">
          <div class="row-product-item">
            <a href="#" class="btn-row-product pink">
              <span class="row-product-image">
                <img src="https://via.placeholder.com/78x104" alt="">
              </span>
              <span class="row-product-title">Humus natur</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product active brown">
              <span class="row-product-image">
                <img src="https://via.placeholder.com/78x104" alt="">
              </span>
              <span class="row-product-title">Rdeča paprika</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product pink">
              <span class="row-product-image">
                <img src="https://via.placeholder.com/78x104" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product green">
              <span class="row-product-image">
                <img src="https://via.placeholder.com/78x104" alt="">
              </span>
              <span class="row-product-title">ikant paprika</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product brown">
              <span class="row-product-image">
                <img src="https://via.placeholder.com/78x104" alt="">
              </span>
              <span class="row-product-title">Rdeča pesa in hren</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product pink">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product brown">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product pink">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product green">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product brown">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product pink">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product brown">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product pink">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product green">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product brown">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product pink">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product brown">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
        </div>
      </div>

      <!-- Tab #2 -->
      <div class="tab js-tab" id="tab02">
        <div class="product-row-overflow flex--align-end owl-carousel">
          <div class="row-product-item">
            <a href="#" class="btn-row-product pink">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product green">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product active brown">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
        </div>
      </div>

      <!-- Tab #3 -->
      <div class="tab js-tab" id="tab03">
        <div class="product-row-overflow flex--align-end owl-carousel">
          <div class="row-product-item">
            <a href="#" class="btn-row-product active brown">
              <span class="row-product-image">
                <img src="https://via.placeholder.com/78x104" alt="">
              </span>
              <span class="row-product-title">Rdeča paprika</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product active brown">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
        </div>
      </div>

      <!-- Tab #4 -->
      <div class="tab js-tab" id="tab04">
        <div class="product-row-overflow flex--align-end owl-carousel">
          <div class="row-product-item">
            <a href="#" class="btn-row-product pink">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product green">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product active brown">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
          <div class="row-product-item">
            <a href="#" class="btn-row-product green">
              <span class="row-product-image">
                <img src="images/prod1.png" alt="">
              </span>
              <span class="row-product-title">Črne olive</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end. product-row-section -->