<!-- begin. Promo Section -->
<div class="promo-section">

  <div class="promo-subscription">
    {% include '../components/subscription-popup.twig' with {'photo': 'http://via.placeholder.com/716x343', 'title': '<strong>Pridruži se</strong> 10.000 ljubiteljem Argetinih e-novic!'} %}
  </div>

  <!-- Promo Section Container -->
  <div class="container">
    <div class="row">

      <!-- Blob content -->
      <div class="col-lg-6">
        <div class="promo-info">

          <!-- Breadcrumbs -->
          <ul class="breadcrumbs">
            <li>
              <a href="#">Aktualno</a>
            </li>
          </ul>

          <!-- Promo Content -->
          <h3 class="heading1_2 promo-title">{{title|default('Tukaj pride naslov kampanje')}}</h3>
          <p>{{subtitle|default('In kratek opis h kampanji lorem, ki okusu daje igrivo svežino, prestižnim konjakom ter mešanico začimb ingverja, pimenta, koriandra in muškata, ki prefinjeno zaokrožajo drzno celoto paštete.')}}</p>
          <a href="#" class="white-btn">{{button|default('CTA kampanja')}}</a>

        </div>
      </div>
    </div>

    <div class="row">

      <!-- Picture -->
      <div class="col-lg-10 offset-lg-2">
        <div class="promo-image-block">
          <img class="promo-image" src="https://via.placeholder.com/1095x620" alt="">
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end. promo-section -->