<!-- begin. promo-section - Exclusive -->
<div class="promo-section">
  <div class="row flex--justify-end promo-image-wrap">
    <div class="col-lg-12 promo-image-container js-promo-image-container">
      <img class="promo-image " src="http://via.placeholder.com/1295x620" alt="">
    </div>
  </div>
  <div class="promo-info">
    <ul class="breadcrumbs flex mb40 mb20-sm">
      <li><a href="#">Izdelki</a></li>
      <li><a href="#">Argeta</a></li>
    </ul>
    <h3 class="heading3_3">LUKA KOŠIR TE VABI NA VR DOŽIVETJE</h3>
    <p>In kratek opis h kampanji lorem, ki okusu daje igrivo svežino, prestižnim konjakom ter mešanico začimb ingverja, pimenta, koriandra in muškata, ki prefinjeno zaokrožajo drzno celoto paštete.</p>
    <a href="#" class="orange-btn">Poglej VR video</a>
  </div>
</div>
<!-- end. promo-section - Exclusive -->
