<!-- begin. Quality Standards Section -->
<div class="quality-standards">

    <div class="container">
      <div class="row">
        <div class="col-md-6 d-none d-md-block">
          <div class="qs-photo-block">
            <img class="qs-photo img-fluid" src="images/photo/quality-modern-photo-1.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="qs-content">
            <h2 class="heading1_4">Najsodobnejša, visokotehnološka proizvodnja</h2>

            <img class="d-md-none qs-photo img-fluid" src="images/photo/quality-modern-photo-1.jpg" alt="">

            <p class="qs-details">
              Naša proizvodnja je <strong>najsodobnejša</strong> in <strong>visokotehnološka</strong>,
              saj pod strogim nadzorom od prvih surovin do zapiranja embalaže ustvarjamo
              le <strong>najbolj izvrstne izdelke</strong>, na kar smo zelo ponosni.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 order-2 order-md-1">
          <div class="qs-content">
            <h2 class="heading1_4 d-none d-md-block">Nadzor kakovosti</h2>

            <p class="qs-details">
              Naši <strong>vrhunski strokovnjaki</strong> najprej natančno preverijo kakovost vseh surovin in embalaže,
              nato pa s pomočjo <strong>sodobnih nadzornih instrumentov</strong> in <strong>laboratorijskih raziskav</strong>
              spremljajo proizvodnji postopek vse do zapiranja in steriliziranja paštet.
              Zadnje analize opravimo v času <strong>10-dnevne karantene,</strong>
              preden izdelek odpotuje na <strong>prodajne police</strong>.
            </p>
          </div>
        </div>
        <div class="col-md-6 order-1 order-md-2">
          <div class="row">
            <div class="col-12 d-md-none">
              <h2 class="heading1_4">Nadzor kakovosti</h2>
            </div>

            <div class="col-4">
              <div class="iso-icon-block">
                <img class="iso-icon" src="./images/svg/certificate-iso-9001.svg" alt="">
              </div>
              <p class="iso-label">ISO 9001:2000</p>
            </div>
            <div class="col-4">
              <div class="iso-icon-block">
                <img class="iso-icon" src="./images/svg/certificate-iso-14001.svg" alt="">
              </div>
              <p class="iso-label">ISO 14001</p>
            </div>
            <div class="col-4">
              <div class="iso-icon-block">
                <img class="iso-icon" src="./images/svg/certificate-haccp.svg" alt="">
              </div>
              <p class="iso-label">HAACP</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="iso-icon-block">
                <img class="iso-icon" src="./images/svg/certificate-halal.svg" alt="">
              </div>
              <p class="iso-label">Halal</p>
            </div>
            <div class="col-4">
              <div class="iso-icon-block">
                <img class="iso-icon" src="./images/svg/certificate-msc.svg" alt="">
              </div>
              <p class="iso-label">MSC</p>

            </div>
            <div class="col-4">
              <div class="iso-icon-block">
                <img class="iso-icon" src="./images/svg/certificate- iso-22000.svg" alt="">
              </div>
              <p class="iso-label">FSSC 22000</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 d-none d-md-block">
          <div class="qs-photo-block">
            <img class="qs-photo img-fluid" src="images/photo/quality-modern-photo-2.jpg" alt="">
          </div>
        </div>

        <div class="col-md-6">
          <div class="qs-content">
            <h2 class="heading1_4">Termična obdelava</h2>

            <img class="d-md-none qs-photo img-fluid" src="images/photo/quality-modern-photo-2.jpg" alt="">

            <p class="qs-details">
              Sterilnost in trajnost izdelkov zagotavljamo s <strong>termično obdelavo</strong>.
              Gre za <strong>popolnoma neoporečen</strong> tehnološki proces,
              ki je plod dolgoletnih raziskav in izkušenj ter omogoča,
              da so vsi naši izdelki <strong>brez konzervansov</strong>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- begin. Quality Standards Section -->
