<!-- begin. Quality Features -->
<div class="quality-features">

  {% include '../components/section-title.twig' with {'title': 'Najboljša tudi navzven', 'subtitle': 'Za najboljši izdelek ni dovolj, da je odličen samo po svoji vsebini, zato skrbimo tudi za napredno pakiranje.', 'col': '6'} %}

  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <div class="qf-details">
          <div class="qf-icon-panel">
            <img class="qf-icon" src="images/icons/ic-aluminium-free2.svg" alt="">
          </div>
          <h4 class="qf-title">Aluminij</h4>
          <p class="qf-description">Vse naše dozice so narejene iz recikliranega aluminija, ki ga je mogoče v celoti ponovno uporabiti v neskončno ciklih.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="qf-details">
          <div class="qf-icon-panel">
            <img class="qf-icon" src="images/icons/ic-life-time.svg" alt="">
          </div>
          <h4 class="qf-title">Daljša življenjska doba</h4>
          <p class="qf-description">Recikliran aluminj omogoča tudi daljšo življenjsko dobo izdelka.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="qf-details">
          <div class="qf-icon-panel">
            <img class="qf-icon" src="images/icons/ic-protection.svg" alt="">
          </div>
          <h4 class="qf-title">Varovanje pred zunanjimi vplivi</h4>
          <p class="qf-description">Recikliran aluminj izdelek dobro varuje pred zunanjimi vplivi.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end. Quality Features -->