<!-- begin. Read More -->
<div class="pr-articles read-more-section">
    <div class="container">

      <div class="row">
        <div class="col-3">
          <h4 class="caption">Prebiraj naprej</h4>
        </div>

        <!-- Item 1 -->
        <div class="col-lg-3">
          <div class="pr-articles-item">
            <a href="#" class="photo">
              <img src="https://via.placeholder.com/263" alt="">
            </a>
            <p class="date">11/05/2018</p>
            <a href="#" class="link-details heading1_7">Changes in the membership of the Management Board</a>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="col-lg-3">
          <div class="pr-articles-item">
            <a href="#" class="photo">
              <img src="https://via.placeholder.com/263" alt="">
            </a>
            <p class="date">11/05/2018</p>
            <a href="#" class="link-details heading1_7"> Management Board of Atlantic Grupa</a>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="col-lg-3">
          <div class="pr-articles-item">
            <a href="#" class="photo">
              <img src="https://via.placeholder.com/263" alt="">
            </a>
            <p class="date">11/05/2018</p>
            <a href="#" class="link-details heading1_7">Changes in the membership of the Board of Argeta</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end. Read More -->
