<!-- begin. recipe-section -->
<div class="recipe-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6">
        <div class="recipe-block">
          <h2 class="heading1_2 mb45">Poišči pravi recept!</h2>
          <div class="row flex--between mb30">
            <div class="col-sm-5">
              <strong class="mt20 mt0-xs">Uporabil/-a bom:</strong>
            </div>
            <div class="col-sm-7 flex--middle">
              <div class="prod-img">
                <img src="images/prod1.png" alt="">
              </div>
              <a href="#" class="prod-btn js-product-btn"></a>
            </div>
          </div>
          <div class="row flex--between mb15">
            <div class="col-sm-5">
              <strong>Pripravljam za:</strong>
            </div>
            <div class="col-sm-7">
              <ul class="flex--wrap event-category">
                <li>vso družino</li>
                <li>najmlajše</li>
                <li class="active">gurmane</li>
                <li>ne vem še</li>
              </ul>
            </div>
          </div>
          <a href="#" class="orange-btn">Odkrij recepte</a>
        </div>
      </div>
    </div>
  </div>

  <div class="recipe-section-bg"></div>
</div>
<!-- end. recipe-section -->