<!-- begin. Section Title -->
<div class="section-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section-header-title">{{title}}</h2>
      </div>
      <div class="col-lg-{{col}} col-align-self-center">
        <p class="section-header-subtitle">{{subtitle}}</p>
      </div>
    </div>
  </div>
</div>
<!-- end. Section Title -->