<!-- begin. Social Horizontal Panel -->
<div class="social-panel-horizontal">
  <ul>
    <li><a class="social-panel-link" href="#"><img class="social-panel-icon" src="images/icons/ic-facebook.svg" alt=""></a></li>
    <li><a class="social-panel-link" href="#"><img class="social-panel-icon" src="images/icons/ic-instagram.svg" alt=""></a></li>
    <li><a class="social-panel-link" href="#"><img class="social-panel-icon" src="images/icons/ic-twitter.svg" alt=""></a></li>
  </ul>
</div>
<!-- end. Social Horizontal Panel -->