<!-- begin. Social Panel -->
<div class="social-panel">
  <ul>
    <li><a class="social-panel-link" href="#"><img class="social-panel-icon" src="images/icons/ic-facebook-grey.svg" alt=""></a></li>
    <li><a class="social-panel-link" href="#"><img class="social-panel-icon" src="images/icons/ic-instagram-grey.svg" alt=""></a></li>
    <li><a class="social-panel-link" href="#"><img class="social-panel-icon" src="images/icons/ic-twitter-grey.svg" alt=""></a></li>
  </ul>
</div>
<!-- end. Social Panel -->