<!-- begin. Subscription Popup Component -->
<div class="subscription-section subscription-popup active-area {{class}}">

  <!-- Mobile: Initial Layout -->
  <div class="subscription-panel subscription-initial">

    <div class="container">
      <div class="row">

        <!-- Media -->
        <div class="col">
          <div class="media-box">
            <div class="confirmation-label">
              <p class="text-subscription-initial">{{title|default('Pridruži se 10.000 ljubiteljem Argetinih e-novic!')}}</p>
              <a href="#" class="btn-subscription-initial">Prijavi se</a>
            </div>
            <div class="media-box-block">
              <img class="media-box-photo" src="{{photo|default('images/subcription.jpg')}}" alt="">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Primary Layout -->
  <div class="subscription-panel subscription-primary">
    <a href="#" class="btn-hide btn-modal-hide"></a>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="subscription-cover"></div>
        </div>

        <div class="col-lg-5 offset-lg-1">
          <div class="subscription-content">
            <h3 class="subscription-header">{{title|default('Pridruži se 10.000 ljubiteljem Argetinih e-novic!')}}</h3>
            <p class="subscription-subtext">{{subtitle|default('Ostani na tekočem z dobrimi zgodbami, kulinaričnimi nasveti in novostmi.')}}</p>

            <!-- Form -->
            <div class="subscribe-form">
              <form action="#">
                <fieldset>
                  <div class="subscribe-row">
                    <input type="email" placeholder="Email" class="subscription-input">
                    <input type="button" value="Prijavi se" class="subscription-submit">
                  </div>
                  <div class="agreement">

                    <input type="checkbox" id="accept" class="agreement-checkbox">

                    <label for="accept" class="agreement-label">
                      Soglašam da se posredovani osebni podatki uporabljajo oz.
                      Obdelujejo v skladu s
                      <strong><a href="#" data-toggle="modal" data-target="#legalNotice">pravili zasebnosti</a></strong>
                      za posredovanje e-sporočil,
                      povezanih s poslovanjem Organizatorja kot so na primer akcije,
                      novosti, recepti in splošna obvestila o dogodkih,
                      predstavitvah ter drugih obvestil,
                      kot tudi za njihovo uporabo za analize in statistične obdelave
                      z namenom izboljšanja uporabniške izkušnje na naših digitalnih platformah,
                      vodenja trženjskih raziskav in promocijskih aktivnosti, oglaševanja.
                    </label>

                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>

        <!-- Media -->
        <div class="col-lg-6">
          <div class="media-box-block">
            <img class="media-box-photo" src="{{photo|default('images/subcription.jpg')}}" alt="">
          </div>
        </div>
      </div>


    </div>
  </div>


  <!-- Secondary Layout -->
  <div class="subscription-panel subscription-secondary">
    <a href="#" class="btn-hide btn-modal-hide"></a>
    <a href="#" class="btn-hide btn-modal-reset"></a>

    <div class="subscription-content">

      <div class="container">

        <div class="row">

          <!-- Form Description -->
          <div class="col-lg-3">
            <h3 class="subscription-header">Dobrodošel/-a v družini ljubiteljev Argete!</h3>
            <p class="subscription-subtext">Tukaj lahko izbereš, kategorije novice, ki jih želiš prejemati.</p>

            <a href="#" class="btn-black btn-secondary btn-send btnSubsSelectProduct">Pošlji</a>
          </div>

          <!-- Product Checkboxes-->

          <!-- Checkbox: Argeta -->
          <div class="col-lg-3">
            <div class="product-card-panel">
              <label for="subscriptionProductArgeta" class="product-card btn-product-card">
                <span class="product-picture">
                  <img src="images/prod1.png" alt="">
                </span>
                <span class="product-card-info">
                  <span class="product-card-title">Argeta</span>
                  <span class="grey-text"> Ostani na tekočem z ugodnostmi in svežimi idejami za nora doživetja!</span>
                  <input type="checkbox" id="subscriptionProductArgeta" class="product-card-checkbox">
                </span>
              </label>
            </div>
          </div>

          <!-- Checkbox: Argeta Junior -->
          <div class="col-lg-3">
            <div class="product-card-panel">
              <label for="subscriptionProductJunior" class="product-card btn-product-card">
                <span class="product-picture">
                  <img src="images/prod1.png" alt="">
                </span>
                <span class="product-card-info">
                  <span class="product-card-title">Argeta Junior</span>
                  <span class="grey-text">Vedno polno navdiha za igrive recepte in nepozabne otroške dogodivščine!</span>
                  <input type="checkbox" id="subscriptionProductJunior" class="product-card-checkbox">
                </span>
              </label>
            </div>
          </div>

          <!-- Checkbox: Argeta Exclusive -->
          <div class="col-lg-3">
            <div class="product-card-panel">
              <label for="subscriptionProductExclusive" class="product-card btn-product-card">
                <span class="product-picture">
                  <img src="images/prod1.png" alt="">
                </span>
                <span class="product-card-info">
                  <span class="product-card-title">Argeta Exclusive</span>
                  <span class="grey-text">Tvoj reden gurmanski navdih za eksluzivna doživetja, kulinarične podvige in nove okuse!</span>
                  <input type="checkbox" id="subscriptionProductExclusive" class="product-card-checkbox">
                </span>
              </label>
            </div>
          </div>

        </div>

        <div class="col">
          <div class="row">
            <div class="send-panel">
              <a href="#" class="btn-black btn-secondary btnSubsSelectProduct">Send</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <!-- Success Layout -->
  <div class="subscription-panel subscription-success">

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="subscription-cover"></div>
        </div>

        <div class="col-lg-5 offset-lg-1">
          <div class="subscription-success-photo">
            <img src="images/subcription.jpg" alt="">
          </div>
          <div class="subscription-content">
            <h3 class="subscription-header">Confirmation that your selection was sent</h3>
            <p class="subscription-subtext">Here we say that we will keep you updated via email and maybe something else lorem ipsum.</p>
            <div class="subscribe-form">
              <a href="#" class="white-btn">Call to action</a>
            </div>
          </div>
        </div>

        <!-- Media -->
        <div class="col-lg-6">
          <div class="media-box">
            <div class="confirmation-label">Confirmation that your selection was sent</div>
            <div class="media-box-block">
              <img class="media-box-photo" src="{{photo|default('images/subcription.jpg')}}" alt="">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="background-wrapper"></div>
<!-- end. Subscription Popup Component -->