<!-- begin. Subscription Component - Junior -->
<div class="subscription-section active-area">

  <!-- Video -->
  <div class="media-box">
    <div class="js-video-block" data-video-id="up1O-OEbxjs"></div>
  </div>

  <div class="promo-label-subscription js-promo-label">
    <p class="white">
      <strong>Pridruži se</strong>
      10.000 ljubiteljem Argetinih e-novic!
    </p>
    <a href="#" class="white">Prijavi se</a>
  </div>

  <div class="row subscription-row">
    <div class="col-lg-10 subscription-field">

      <div class="subscription-content">
        <h3 class="subscription-header">Prijavi se na Junior e-novice!</h3>
        <p>Nikoli ne ostani brez navdiha za igrive recepte in nepozabne otroške dogodivščine.</p>

        <div class="subscribe-form">
          <form action="/" method="post">
            <fieldset>
              <div class="subscribe-row">
                <input type="text" placeholder="Email" class="subscription-input">
                <input type="submit" value="Prijavi se" class="subscription-submit">
              </div>
              <div class="agreement">
                <label for="accept" class="agreement-label">
                  Soglašam da se posredovani osebni podatki uporabljajo oz.
                  Obdelujejo v skladu s
                  <strong><a href="#" data-toggle="modal" data-target="#legalNotice">pravili zasebnosti</a></strong>
                  za posredovanje e-sporočil,
                  povezanih s poslovanjem Organizatorja kot so na primer akcije,
                  novosti, recepti in splošna obvestila o dogodkih,
                  predstavitvah ter drugih obvestil,
                  kot tudi za njihovo uporabo za analize in statistične obdelave
                  z namenom izboljšanja uporabniške izkušnje na naših digitalnih platformah,
                  vodenja trženjskih raziskav in promocijskih aktivnosti, oglaševanja.
                  <input type="checkbox" id="accept" class="agreement-checkbox">
                </label>

              </div>
            </fieldset>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>
<!-- end. Subscription Component - Junior -->