<!-- begin. Tabs -->
<div class="tabs-section">
  <h2 class="heading1_2">Odkrij okuse</h2>
  <div class="tabs-switcher">
    <ul class="flex js-tab-switcher">
      <li>
        <a href="#tab01" class="active">
          <img src="./images/svg/ic-vegetable.svg" width="70" height="70" alt="">
          <!--<svg><use xlink:href="#ic-vegetable"></use></svg>-->
          <strong>Zelenjavni namazi</strong>
        </a>
      </li>
      <li>
        <a href="#tab02">
          <img src="./images/svg/ic-chicken.svg" width="70" height="70" alt="">
          <!--<svg><use xlink:href="#ic-chicken"></use></svg>-->
          <strong>Mesne paštete</strong>
        </a>
      </li>
      <li>
        <a href="#tab03">
          <img src="./images/svg/ic-tuna.svg" width="70" height="70" alt="">
          <!-- <svg><use xlink:href="#ic-tuna"></use></svg> -->
          <strong>Ribje paštete</strong>
        </a>
      </li>
    </ul>
  </div>
  <div class="tabs-container">
    <div class="tab js-tab active" id="tab01">
      <div class="text-container">
        <p>Kdo pravi, da zelenjava ni zabavna? Vznemirljive kombinacije zelenjavnih namazov Argeta ponujajo nešteto možnosti za slastna doživetja doma, v službi ali na poti.</p>
      </div>
      <div class="row mb100 mb50-xs card-container">
        <!-- card-container -->
        <div class="col-lg-4 card-item">
          <a href="#" class="product-card orange">
            <div class="product-picture">
              <img src="./images/jar.png" class="img-product-jar" alt="">
              <div class="floating_item_1 js-parallax-item" data-paroller-factor="-0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="http://pngimg.com/uploads/tomato/tomato_PNG12528.png" width="111" height="111" alt=""></div>
              </div>
              <div class="floating_item_2 js-parallax-item" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="http://purepng.com/public/uploads/large/purepng.com-salad-leafvegetables-salad-salad-leaf-leaf-lettuce-941524727356d9flc.png" width="107" height="107" alt=""></div>
              </div>
            </div>
            <div class="product-card-info">
              <h4 class="heading1_7 black">Argeta Rdeča<br>paprika</h4>
              <span class="arrow-link orange">Odkrij okus
                <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                  <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                    <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                  </g>
                </svg>
                <!-- arrow right end -->
              </span>
            </div>
          </a>
        </div>
        <!-- end card-container -->

        <!-- card-container -->
        <div class="col-lg-4 card-item">
          <a href="#" class="product-card">
            <div class="product-picture">
              <img src="./images/jar.png" class="img-product-jar" alt="">
              <div class="floating_item_3 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/100x70" alt=""></div>
              </div>
              <div class="floating_item_4 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/129x280" alt=""></div>
              </div>
            </div>
            <div class="product-card-info">
              <h4 class="heading1_7 black">Argeta Paprika<br>pikant</h4>
              <span class="arrow-link orange">Odkrij okus
                <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                  <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                    <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                  </g>
                </svg>
                <!-- arrow right end -->
              </span>
            </div>
          </a>
        </div>
        <!-- end card-container -->

        <!-- end card-container -->
        <div class="col-lg-4 card-item">
          <a href="#" class="product-card black">
            <div class="product-picture">
              <img src="./images/jar.png" class="img-product-jar" alt="">
              <div class="floating_item_5 js-parallax-item" data-paroller-factor="-0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/118x120" alt=""></div>
              </div>
              <div class="floating_item_6 js-parallax-item" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/81x118" alt=""></div>
              </div>
            </div>
            <div class="product-card-info">
              <h4 class="heading1_7 black">Argeta Rdeča pesa<br>in hren</h4>
              <span class="arrow-link orange">Odkrij okus
                <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                  <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                    <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                  </g>
                </svg>
                <!-- arrow right end -->
              </span>
            </div>
          </a>
        </div>
        <!-- end card-container -->

        <div class="col-lg-4 card-item">
          <a href="#" class="product-card">
            <div class="product-picture">
              <img src="./images/jar.png" class="img-product-jar" alt="">
              <div class="floating_item_3 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/100x70" alt=""></div>
              </div>
              <div class="floating_item_4 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/129x280" alt=""></div>
              </div>
            </div>
            <div class="product-card-info">
              <h4 class="heading1_7 black">Argeta Humus natur</h4>
              <span class="arrow-link orange">Odkrij okus
                <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                  <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                    <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                  </g>
                </svg>
                <!-- arrow right end -->
              </span>
            </div>
          </a>
        </div>
        <div class="col-lg-4 card-item">
          <a href="#" class="product-card black">
            <div class="product-picture">
              <img src="./images/jar.png" class="img-product-jar" alt="">
              <div class="floating_item_5 js-parallax-item" data-paroller-factor="-0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/118x120" alt=""></div>
              </div>
              <div class="floating_item_6 js-parallax-item" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/81x118" alt=""></div>
              </div>
            </div>
            <div class="product-card-info">
              <h4 class="heading1_7 black">Argeta Črne olive</h4>
              <span class="arrow-link orange">Odkrij okus
                <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                  <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                    <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                  </g>
                </svg>
                <!-- arrow right end -->
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="tab js-tab" id="tab02">
      <div class="text-container">
        <p>Vznemirljive kombinacije zelenjavnih namazov Argeta ponujajo nešteto možnosti za slastna doživetja doma, v službi ali na poti.</p>
      </div>
      <div class="row mb100 mb50-xs card-container">
        <div class="col-lg-4 card-item">
          <a href="#" class="product-card">
            <div class="product-picture">
              <img src="./images/pate.png" class="img-product-pate" alt="">
              <div class="floating_item_3 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/100x70" alt=""></div>
              </div>
              <div class="floating_item_4 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/129x280" alt=""></div>
              </div>
            </div>
            <div class="product-card-info">
              <h4 class="heading1_7 black">Argeta Humus natur</h4>
              <span class="arrow-link orange">Odkrij okus
                <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                  <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                    <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                  </g>
                </svg>
                <!-- arrow right end -->
              </span>
            </div>
          </a>
        </div>
        <div class="col-lg-4 card-item">
          <a href="#" class="product-card black">
            <div class="product-picture">
              <img src="./images/pate.png" class="img-product-pate" alt="">
              <div class="floating_item_5 js-parallax-item" data-paroller-factor="-0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/118x120" alt=""></div>
              </div>
              <div class="floating_item_6 js-parallax-item" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/81x118" alt=""></div>
              </div>
            </div>
            <div class="product-card-info">
              <h4 class="heading1_7 black">Argeta Črne olive</h4>
              <span class="arrow-link orange">Odkrij okus
                <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                  <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                    <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                  </g>
                </svg>
                <!-- arrow right end -->
              </span>
            </div>
          </a>
        </div>
        <div class="col-lg-4 card-item">
          <a href="#" class="product-card">
            <div class="product-picture">
              <img src="./images/pate.png" class="img-product-pate" alt="">
              <div class="floating_item_3 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/100x70" alt=""></div>
              </div>
              <div class="floating_item_4 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/129x280" alt=""></div>
              </div>
            </div>
            <div class="product-card-info">
              <h4 class="heading1_7 black">Argeta Humus natur</h4>
              <span class="arrow-link orange">Odkrij okus
                <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                  <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                    <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                  </g>
                </svg>
                <!-- arrow right end -->
              </span>
            </div>
          </a>
        </div>
        <div class="col-lg-4 card-item">
          <a href="#" class="product-card black">
            <div class="product-picture">
              <img src="./images/pate.png" class="img-product-pate" alt="">
              <div class="floating_item_5 js-parallax-item" data-paroller-factor="-0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/118x120" alt=""></div>
              </div>
              <div class="floating_item_6 js-parallax-item" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/81x118" alt=""></div>
              </div>
            </div>
            <div class="product-card-info">
              <h4 class="heading1_7 black">Argeta Črne olive</h4>
              <span class="arrow-link orange">Odkrij okus
                <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                  <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                    <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                  </g>
                </svg>
                <!-- arrow right end -->
              </span>
            </div>
          </a>
        </div>
        <div class="col-lg-4 card-item">
          <a href="#" class="product-card">
            <div class="product-picture">
              <img src="./images/pate.png" class="img-product-pate" alt="">
              <div class="floating_item_3 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/100x70" alt=""></div>
              </div>
              <div class="floating_item_4 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/129x280" alt=""></div>
              </div>
            </div>
            <div class="product-card-info">
              <h4 class="heading1_7 black">Argeta Humus natur</h4>
              <span class="arrow-link orange">Odkrij okus
                <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                  <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                    <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                  </g>
                </svg>
                <!-- arrow right end -->
              </span>
            </div>
          </a>
        </div>
        <div class="col-lg-4 card-item">
          <a href="#" class="product-card black">
            <div class="product-picture">
              <img src="./images/pate.png" class="img-product-pate" alt="">
              <div class="floating_item_5 js-parallax-item" data-paroller-factor="-0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/118x120" alt=""></div>
              </div>
              <div class="floating_item_6 js-parallax-item" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/81x118" alt=""></div>
              </div>
            </div>
            <div class="product-card-info">
              <h4 class="heading1_7 black">Argeta Črne olive</h4>
              <span class="arrow-link orange">Odkrij okus
                <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                  <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                    <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                  </g>
                </svg>
                <!-- arrow right end -->
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="tab js-tab" id="tab03">
      <div class="text-container">
        <p>Argeta ponujajo nešteto možnosti za slastna doživetja doma, v službi ali na poti.</p>
      </div>
      <div class="row mb100 mb50-xs card-container">
        <div class="col-lg-4 card-item">
          <a href="#" class="product-card">
            <div class="product-picture">
              <img src="./images/pate.png" class="img-product-pate" alt="">
              <div class="floating_item_3 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/100x70" alt=""></div>
              </div>
              <div class="floating_item_4 js-parallax-item" data-paroller-factor="-0.07" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/129x280" alt=""></div>
              </div>
            </div>
            <div class="product-card-info">
              <h4 class="heading1_7 black">Argeta Humus natur</h4>
              <span class="arrow-link orange">Odkrij okus
                <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                  <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                    <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                  </g>
                </svg>
                <!-- arrow right end -->
              </span>
            </div>
          </a>
        </div>
        <div class="col-lg-4 card-item">
          <a href="#" class="product-card black">
            <div class="product-picture">
              <img src="./images/pate.png" class="img-product-pate" alt="">
              <div class="floating_item_5 js-parallax-item" data-paroller-factor="-0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/118x120" alt=""></div>
              </div>
              <div class="floating_item_6 js-parallax-item" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
                <div class="floating_item_container"><img src="https://via.placeholder.com/81x118" alt=""></div>
              </div>
            </div>
            <div class="product-card-info">
              <h4 class="heading1_7 black">Argeta Črne olive</h4>
              <span class="arrow-link orange">Odkrij okus
                <svg class="arrow-right" width="24px" height="24px" viewbox="0 0 24 24">
                  <g id="ic-arrow-big-right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect id="bounding-box" fill-rule="nonzero" x="0" y="0" width="24" height="14"></rect>
                    <polygon class="path-arrow-big" fill-rule="nonzero" points="24 11.239747 23.980469 11.239747 23.993164 11.227051 17.766602 5 16.139648 6.625977 20.753052 11.239747 0 11.239747 0 13.539551 20.758301 13.539551 16.116211 18.181641 17.743164 19.807618 23.993164 13.557618 23.975098 13.539551 24 13.539551"></polygon>
                  </g>
                </svg>
                <!-- arrow right end -->
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end. Tabs -->
