<!-- begin. Time Line -->
<div class="timeline-section timeline-section-quality-sustainbility">
  <div class="container">
    <div class="row timeline-top-section">
      <div class="col-lg-6 mb40-sm">
        <h2 class="heading1_2">Življenjski cikel Argete</h2>
        <p>S klikom na ikono odkrijte, katere ukrepe smo že sprejeli za zmanjševanje vpliva na okolje.</p>
      </div>
      <div class="col-lg-6">
        <div class="timeline-picture js-timeline-pictures">
          <img class="active" src="https://mymodernmet.com/wp/wp-content/uploads/2018/03/chicken-portrait-book-monti-tranchellini-14.jpg" alt="">
          <img src="https://www.ouruniverseforkids.com/wp-content/uploads/2017/02/Nicolaus-Copernicus-257x300.jpg" alt="">
          <img src="https://www.ouruniverseforkids.com/wp-content/uploads/2017/02/Johannes-Kepler-257x300.jpg" alt="">
          <img src="https://www.biography.com/.image/ar_8:10%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_620/MTE1ODA0OTcxNjM2Nzg2NzAx/vasco-da-gama-9305736-1-402.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row timeline-slider js-timeline-slider">
      <div class="timeline-item js-timeline-item">
        <div class="bullet">bullet</div>
        <div class="item-text">
          <h6 class="heading1_8">Vzreja/ribolov in procesiranje sestavin</h6>
          <p class="item-desc">Skrbimo za živali - spremljamo vzrejo živali, zahtevamo humano ravnanje, zdravo krmo in kontrolirano okolje vzreje.</p>
        </div>
      </div>
      <div class="timeline-item js-timeline-item">
        <div class="bullet">bullet</div>
        <div class="item-text">
          <h6 class="heading1_8">Proizvodnja embalaže</h6>
          <p class="item-desc">Skrbimo za živali - spremljamo vzrejo živali, zahtevamo humano ravnanje, zdravo krmo in kontrolirano okolje vzreje.</p>
        </div>
      </div>
      <div class="timeline-item js-timeline-item">
        <div class="bullet">bullet</div>
        <div class="item-text">
          <h6 class="heading1_8">Proizvodnja paštete v tovarnah v Izoli in Sarajevu</h6>
          <p class="item-desc">Skrbimo za živali - spremljamo vzrejo živali, zahtevamo humano ravnanje, zdravo krmo in kontrolirano okolje vzreje.</p>
        </div>
      </div>
      <div class="timeline-item js-timeline-item">
        <div class="bullet">bullet</div>
        <div class="item-text">
          <h6 class="heading1_8">Distribucija do trgovin</h6>
          <p class="item-desc">Skrbimo za živali - spremljamo vzrejo živali, zahtevamo humano ravnanje, zdravo krmo in kontrolirano okolje vzreje.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end. Time Line -->