<!-- begin. Time Line -->
<div class="timeline-section">
  <div class="container">
    <div class="row flex--middle timeline-top-section">
      <div class="col-lg-6 mb40-sm">
        <h2 class="heading1_2">Argetin časovni stroj</h2>
        <a href="#" class="btn-arrow-link primary-link">Odpotuj skozi čas</a>
      </div>
      <div class="col-lg-6">
        <div class="timeline-picture js-timeline-pictures">
          <img class="active" src="https://ttalents.com/wp-content/uploads/2015/06/Schermafbeelding-2015-06-10-om-11.56.43-249x300.png" alt="">
          <img src="https://www.ouruniverseforkids.com/wp-content/uploads/2017/02/Nicolaus-Copernicus-257x300.jpg" alt="">
          <img src="https://www.ouruniverseforkids.com/wp-content/uploads/2017/02/Johannes-Kepler-257x300.jpg" alt="">
          <img src="https://www.biography.com/.image/ar_8:10%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_620/MTE1ODA0OTcxNjM2Nzg2NzAx/vasco-da-gama-9305736-1-402.jpg" alt="">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/25/Franklin-Benjamin-LOC.jpg/200px-Franklin-Benjamin-LOC.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row timeline-slider js-timeline-slider">
      <div class="timeline-item js-timeline-item">
        <div class="year">1957</div>
        <div class="bullet">bullet</div>
        <div class="item-text">
          <h6 class="heading1_8">Najprej so bile jušne kocke</h6>
        </div>
      </div>
      <div class="timeline-item js-timeline-item">
        <div class="year">1963</div>
        <div class="bullet">bullet</div>
        <div class="item-text">
          <h6 class="heading1_8">Pašteta je rojena</h6>
        </div>
      </div>
      <div class="timeline-item js-timeline-item">
        <div class="year">1977</div>
        <div class="bullet">bullet</div>
        <div class="item-text">
          <h6 class="heading1_8">Pašteta dobi ime Argeta</h6>
        </div>
      </div>
      <div class="timeline-item js-timeline-item">
        <div class="year">1993</div>
        <div class="bullet">bullet</div>
        <div class="item-text">
          <h6 class="heading1_8">Argeta prvič prestopi meje</h6>
        </div>
      </div>
      <div class="timeline-item js-timeline-item">
        <div class="year">2005</div>
        <div class="bullet">bullet</div>
        <div class="item-text">
          <h6 class="heading1_8">Pašteta dobi ime Argeta</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end. Time Line -->