<!-- begin. top-section Junior -->
<div class="top-section mb120 mb160-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 hero-content">
        <div class="top-section__left-side">
          <ul class="breadcrumbs flex mb40">
            <li>
              <a href="#">Izdelki</a>
            </li>
            <li>
              <a href="#" class="active">Argeta</a>
            </li>
          </ul>
          <h1 class="heading1">Le najboljše za vso družino.</h1>
          <p>Namazi Argeta s svojimi okusi navdušijo tudi najbolj izbirčne, z naravnimi sestavinami in brez škodljivih dodatkov pa tudi najbolj zahtevne.</p>
          <div class="category flex">
            <div class="category__item">
              <div class="icon-wb">
                <img width="64" height="64" src="./images/icons/ic-dip.svg" alt="">
              </div>
              <span>pomakanje</span>
            </div>
            <div class="category__item">
              <div class="icon">
                <img width="64" height="64" src="./images/icons/ic-spread.svg" alt="">
              </div>
              <span>mazanje</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="top-section__right-side">
          <img class="top-section__main-image" src="https://via.placeholder.com/745" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="floating_item_9 js-parallax-item" data-paroller-factor="-0.1" data-paroller-type="foreground" data-paroller-direction="vertical">
    <div class="floating_item_container"><img src="https://via.placeholder.com/354x240" alt=""></div>
  </div>
  <div class="floating_item_10 js-parallax-item" data-paroller-factor="0.06" data-paroller-type="foreground" data-paroller-direction="vertical">
    <div class="floating_item_container"><img src="https://via.placeholder.com/263x572" alt=""></div>
  </div>
</div>
<!-- end. top-section Junior -->
