<!-- begin. Top Section Product -->
<div class="ts-product-picture">

  <!-- Dimension Saver -->
  <div class="invisible dimension-saver-item"><img src="https://via.placeholder.com/512x512" alt=""></div>

  <!-- Layer 4 -->
  <div class="product-picture-item"><img class="layer" src="https://via.placeholder.com/512x512" alt=""></div>

  <!-- Layer 3 -->
  <div class="product-picture-item"><img class="layer" src="https://via.placeholder.com/512x512" alt=""></div>

  <!-- Layer 2 -->
  <div class="product-picture-item"><img class="layer" src="https://via.placeholder.com/512x512" alt=""></div>

  <!-- Layer 1 -->
  <div class="product-picture-item"><img class="layer" src="https://via.placeholder.com/512x512" alt=""></div>

  <!-- Product -->
  <div class="product-picture-item"><img class="layer" src="https://via.placeholder.com/512x512" alt=""></div>
</div>

{% include '../components/scroll-down.twig' %}
<!-- end. Top Section Product -->