<!-- begin. Top Section -->
<div class="top-section">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 header-text-left hero-content">
        <div class="hero-image" style="/*background-image:  url(images/industrial.jpg);*/"></div>
        <div class="top-section__left-side">
          <h1 class="heading1">{{heading}}</h1>
          <p>{{subheading}}</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 header-text-right">
        <div class="ingredients-section">
          <div class="nutrients">
            {% include '../components/brez.twig' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end. Top Section -->
