<!-- begin. Top Section -->
<div class="top-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 header-text-left">
                <div class="hero-image" style="/*background-image:  url(images/industrial.jpg);*/"></div>
                <div class="header-play-button-wrapper">
                    <div class="header-play-button"></div>
                    <div class="header-play-button-text">Poglej video</div>
                </div>
                <!-- header-play-button-wrapper -->
                <div class="ic-scroll-down"></div>
            </div>
            <div class="col-12 offset-lg-1 col-lg-5 header-text-right">
                <h1 class="heading1">Predstavitev Argete</h1>
                <div class="text-1">
                    <p>
                        Že
                        <b>več kot 50 let</b>
                        imamo pri Argeti naše kupce v mislih in srcu pri vsem, kar počnemo. Ponuditi želimo
                        <b>najboljši obrok na najbolj iskren način</b>, zato ves čas izboljšujemo naše recepture in postopke priprave.
                    </p>
                    <p>
                        Smo
                        <b>največji proizvajalec paštet</b>
                        na svetu, Argetina uradno zaščitena
                        <b class="orange">oranžna barva</b>
                        pa se ponaša že na več kot 30 trgih po celem svetu.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end. Top Section -->