<!-- begin. Top Section -->
<div class="top-section mb115 mb160-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 hero-content">
        <div class="top-section__left-side">

          <!-- Badge Breez -->
          <div class="badge-breez-block">
            <img class="badge-breez" src="images/badge/slo/badge-free-slo-white.svg" alt="">
          </div>

          <!-- Breadcrumbs -->
          <ul class="breadcrumbs flex mb25">
            <li><a href="#">Izdelki</a></li>
            <li><a href="#" class="active">{{product}}</a></li>
          </ul>

          <!-- Top Title -->
          <h1 class="heading1">{{heading}}</h1>
          <p>{{subheading}}</p>
        </div>

        <!-- Categories -->
        <div class="category flex">
          <div class="category__item category__image-item js-open-image">
            <div class="icon"><img class="icon-image" src="https://via.placeholder.com/65x65" alt=""></div>
            <img class="image-object-fit" src="images/planet-1-black-photo.png" alt="">
            <span>Pomakanje</span>
          </div>
          <div class="category__item category__image-item js-open-image">
            <div class="icon"><img class="icon-image" src="https://via.placeholder.com/65x65" alt=""></div>
            <img class="image-object-fit" src="images/planet-1-black-photo.png" alt="">
            <span>Mazanje</span>
          </div>
          <div class="category__item category__image-item js-open-image">
            <div class="icon"><img class="icon-image" src="https://via.placeholder.com/65x65" alt=""></div>
            <img class="image-object-fit" src="images/planet-1-black-photo.png" alt="">
            <span>Uporaba</span>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        {% include 'top-section-product.twig' %}
      </div>
    </div>
  </div>
</div>
<!-- end. Top Section -->