<!-- begin. Top Section -->
<div class="top-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 hero-content">
                <div class="top-section__left-side">
                    <h1 class="heading1">{{heading}}</h1>
                    <p>{{subheading}}</p>
                    <a href="#" class="btn-arrow-link">Call to Action</a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="top-section__right-side">
                    <img class="top-section__main-image" src="https://via.placeholder.com/745" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end. Top Section -->