<!-- begin. vision-mission -->
<div class="vision-mission-container active-area">
  <div class="container">
    <div class="row vision-mission-row">
      <div class="col-12 col-md-6 col-xl-5">
        <h4 class="vision-mission-heading-top">
          <a href="#">Vizija</a>
        </h4>
        <a href="#" class="img-wrap">
          <img class="br10" src="https://via.placeholder.com/457x305" alt="">
        </a>
        <div class="vision-mission-heading-copy">
          <a href="#">Vizija</a>
        </div>
        <div class="vision-mission-text">Ponuditi najbolj brezskrbno doživetje majhnega obroka.</div>
      </div>
      <div class="col-12 col-md-6 offset-xl-1 col-xl-5">
        <h4 class="vision-mission-heading-top">
          <a href="#">Misija</a>
        </h4>
        <a href="#" class="img-wrap">
          <img class="br10" src="https://via.placeholder.com/457x305" alt="">
        </a>
        <div class="vision-mission-heading-copy">
          <a href="#">Misija</a>
        </div>
        <div href="#" class="vision-mission-text">Ustvarjati najboljše male obroke na najbolj iskren način.</div>
      </div>

    </div>
  </div>
</div>
<!-- end. vision-mission -->
