<!-- begin. World Popularity -->
<div class="world-popularity">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 offset-lg-1">
          <div class="world-popularity-content">
            <h3 class="heading1_4 world-popularity-title">Argeta je <strong class="highlighted">številka 1</strong> v Evropi</h3>
            <p class="text-1 world-popularity-text">in priljubljena v <b>več kot 30 državah</b> po celem svetu.</p>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="world-popularity-photo">
            <img src="images/Ic-flags.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end. World Popularity -->
