.link {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: $ubuntu-bold;
}

.link-heading {
  font-family: $ubuntu-bold;
}

.arrow-link {
  .appended-arrow-right {
    display: inline-block;
    vertical-align: baseline;
    width: 24px;
    height: 15px;
    position: relative;
  }

  position: relative;

  >span,
  >svg {
    display: inline-block;
    vertical-align: middle;
  }

  .arrow-right {
    width: 24px;
    height: auto;
    transform: translate(0px, -4px);
  }

  &.blue {
    .path-arrow-big {
      fill: $blue;
    }
  }

  &.grey {
    .path-arrow-big {
      fill: $grey;
    }
  }

  &.light-grey {
    .path-arrow-big {
      fill: $light-grey;
    }
  }

  &.black {
    .path-arrow-big {
      fill: $black-true;
    }
  }

  &.yellow {
    .path-arrow-big {
      fill: $yellow;
    }
  }

  &.white {
    .path-arrow-big {
      fill: $white;
    }
  }

  &.orange {
    .path-arrow-big {
      fill: $orange;
    }
  }
}



orange {
  display: inline;
  color: $orange;
}

orangebold {
  display: inline;
  color: $orange;
  font-weight: bold;
}

.orange {
  color: $orange !important;
}

.bg-orange {
  background-color: $orange !important;
}

.yellow {
  color: $yellow !important;
}

.bg-yellow {
  background-color: $yellow !important;
}

.black {
  color: $black !important;
}

.black-true {
  color: $black-true !important;
}

.light-grey {
  color: $light-grey !important;
}

.bg-light-grey {
  background-color: $light-grey !important;
}

.dark-grey {
  color: $dark-grey !important;
}

.bg-dark-grey {
  background-color: $dark-grey !important;
}

.bg-black {
  background-color: $black !important;
}

.bg-black-true {
  background-color: $black-true !important;
}

.blue {
  color: $blue !important;
}

.bg-blue {
  background-color: $blue !important;
}

.light-blue {
  color: $light-blue;
}

.bg-light-blue {
  background-color: $light-blue;
}



.white {
  color: $white !important;
}

.bg-white {
  background-color: $white !important;
}

.background-linear-orange-1 {
  background: linear-gradient(160.26deg, #FFD367 0%, #F0AB00 100%);
}

.box-shadow-light {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
}


.text-container {
  max-width: 750px;
  margin: 0 auto 73px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.overflow-row {
  @include sm-down {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;

    .card-item {
      min-width: 286px;
      padding: 0 8px;
    }
  }
}

.product-btn {
  color: $white;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  font: 14px/22px $ubuntu-bold;

  position: fixed;
  right: 0;
  bottom: 60px;

  padding: 15px 36px 11px 24px;

  border-radius: 100px 0 0 100px;

  background: #3B1E16;
  z-index: $zindex-dropdown - 1;

  &:hover {
    color: $white;
  }

  &:after {
    width: 8px;
    height: 8px;
    border-left: 2px solid $white;
    border-bottom: 2px solid $white;
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -6px;
    content: '';
  }
}

.fixed {
  position: fixed;
}

.fixed-fs {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}