html, body {
  overflow-x: hidden;
}

body {
  width: 100%;
  background-color: $white;
  font: 18px/29px $ubuntu-light;
  color: $black;
  overflow-x: hidden;

  & > svg {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  strong {
    font-family: $ubuntu-bold;
    font-weight: normal;
  }
  &.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
  }
}
.wrapper {
  &:after {
    clear: both;
    display: block;
    content: '';
  }
}
[class*='flex'] {
  display: flex;
}

a {
  text-decoration: none;
}

a {
  border:0;
  outline:none;
}

a>img {
  border:0;
  outline: none;
}

.flex {
  &--middle {
    align-items: center;
  }
  &--align-start {
    align-items: flex-start;
  }
  &--align-end {
    align-items: flex-end;
  }
  &--between {
    justify-content: space-between;
  }
  &--around {
    justify-content: space-around;
  }
  &--justify-end {
    justify-content: flex-end;
  }
  &--center {
    justify-content: center;
  }
  &--wrap {
    flex-wrap: wrap;
  }
}
.page {
  overflow: hidden;
}
main {
  p {
    margin: 0 0 15px;
  }
}
.content {
  padding: 0 15px;
}
.md-hidden {
  @include md-down {
    display: none !important;
  }
}
.sm-hidden {
  @include sm-down {
    display: none !important;
  }
}
.xs-hidden {
  @include xs-down {
    display: none !important;
  }
}
.xs-visible {
  display: none;
  @include xs-down {
    display: inline-block !important;
  }
}
.image-object-fit {
  object-fit: cover;
  font-family: 'object-fit: cover;';
  width: 100%;
  height: 100%;
}
picture {
  display: block;
  img {
    width: 100%;
    display: block;
  }
}
.bg-1 {
  background: url("../images/planet-hero-bck.svg") 100% 0 no-repeat;
}
.blured {
  filter: blur(5px);
}
.glow {
  box-shadow: 0 2px 60px -10px rgba(233,112,0,0.4);
}
.argeta-junior {
  background: linear-gradient(180deg, #FFFFFF 0%, #F0FAFF 37.99%, #ECF9FF 100%);
}
.argeta-exclusive {
  background: linear-gradient(160.26deg, #070707 0%, #000000 100%);
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);
  color: $white;
}
.img-mask {
  mask: url('../images/planet-1-hero-slider.svg') no-repeat;
  mask-size: cover;
}

.img-wrap {
  display: inline-block;
  width:100%;
  img, svg {
    width:100%;
    height:auto;
    vertical-align: bottom;
  }

}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.none {
  display: none!important;
}

.hidden {
  visibility: hidden!important;
}
