.popup {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: -999;
    transform:translateX(175%);
    transition:all 0.3s ease 0s;
    &.active {
      display: block;
      background-color:rgba(255,255,255,0.95);
      overflow-x:hidden;
      overflow-y:auto;
      transform:translateX(0%);
      z-index: 999;;
    }
  }

  .popup-active,
.overflow-hidden {
  overflow: hidden!important;
}

.popup-active {
  .header-menu {
    opacity:0;
  }
}
