<!-- begin. Popup Menu Component -->
<nav class="popup-menu" id="popupmenu">

  <!-- Popup Menu - Header -->
  <div class="pm-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <a href="/pages.html" class="logo"></a>
        </div>
        <div class="col-sm-6 sm-hide">
          <div class="pm-item-header">
            <a href="#" class="btn-pm-hide"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Popup Menu - Primary level -->
  <div class="pm-content">
    <div class="container">
      <div class="row">
        <div class="col col-sm-5">

          <!-- level 1. Izdelki -->
          <h3 class="pm-item accordion-header active">
            <a href="#" class="pm-target">Izdelki</a>
          </h3>

          <div class="pm-item-content accordion-content active">
            <!-- Primary Submenu -->
            <h3 class="pm-submenu-item accordion-header active">
              <a href="#" class="pm-submenu-target">Argeta <span class="sm">Za vso družino</span></a>
            </h3>

            <div class="pm-details accordion-content active">
              <!-- Details -->
              <h3 class="pm-details-header">Za vso <strong>družino</strong></h3>

              <h3 class="pm-details-item accordion-header">
                <a href="#" class="pm-details-target">Zelenjavni namazi</a>
              </h3>

              <!-- Details Submenu -->
              <div class="pm-details-submenu accordion-content active">

                <h3 class="pm-details-submenu-item">
                  <a href="#" class="pm-details-submenu-target">Rdeča pesa in hren</a>
                </h3>
                <h3 class="pm-details-submenu-item">
                  <a href="#" class="pm-details-submenu-target">Pikant paprika</a>
                </h3>
                <h3 class="pm-details-submenu-item">
                  <a href="#" class="pm-details-submenu-target">Rdeča paprika</a>
                </h3>
                <h3 class="pm-details-submenu-item accordion-header active">
                  <a href="#" class="pm-details-submenu-target">Humus</a>
                </h3>

                <!-- Product -->
                <div class="pm-product accordion-content active">
                  <div class="pm-product-photo">
                    <a href="#"><img src="images/prod1.png" alt="" class="img-fluid"></a>
                  </div>
                  <p class="pm-product-dsc">Mesni, ribji in zelenjavni namazi za vso družino.</p>
                </div>

                <h3 class="pm-details-submenu-item accordion-header">
                  <a href="#" class="pm-details-submenu-target">Črne olive</a>
                </h3>

                <!-- Product -->
                <div class="pm-product accordion-content">
                  <div class="pm-product-photo">
                    <a href="#"><img src="images/prod1.png" alt="" class="img-fluid"></a>
                  </div>
                  <p class="pm-product-dsc">Mesni, ribji in zelenjavni namazi za vso družino.</p>
                </div>
              </div>

              <h3 class="pm-details-item accordion-header">
                <a href="#" class="pm-details-target">Mesne paštete</a>
              </h3>

              <!-- Details Submenu -->
              <div class="pm-details-submenu accordion-content">
                <h3 class="pm-details-submenu-item">
                  <a href="#" class="pm-details-submenu-target">Rdeča pesa in hren</a>
                </h3>
                <h3 class="pm-details-submenu-item">
                  <a href="#" class="pm-details-submenu-target">Pikant paprika</a>
                </h3>
                <h3 class="pm-details-submenu-item">
                  <a href="#" class="pm-details-submenu-target">Rdeča paprika</a>
                </h3>
                <h3 class="pm-details-submenu-item">
                  <a href="#" class="pm-details-submenu-target">Humus</a>
                </h3>
                <h3 class="pm-details-submenu-item accordion-header">
                  <a href="#" class="pm-details-submenu-target">Črne olive</a>
                </h3>

                <!-- Product -->
                <div class="pm-product accordion-content">
                  <div class="pm-product-photo">
                    <a href="#"><img src="images/prod1.png" alt="" class="img-fluid"></a>
                  </div>
                  <p class="pm-product-dsc">Mesni, ribji in zelenjavni namazi za vso družino.</p>
                </div>
              </div>

              <h3 class="pm-details-item">
                <a href="#" class="pm-details-target">Ribje paštete</a>
              </h3>
            </div>

            <h3 class="pm-submenu-item accordion-header">
              <a href="#" class="pm-submenu-target">Argeta Junior <span class="sm">Za najmlajše</span></a>
            </h3>

            <div class="pm-details accordion-content">
              <!-- Details -->
              <h3 class="pm-details-header">Za <strong>najmlajše</strong></h3>
              <!-- Details Submenu -->
              <h3 class="pm-details-submenu-item">
                <a href="#" class="pm-details-submenu-target">Rdeča pesa in hren</a>
              </h3>
              <h3 class="pm-details-submenu-item">
                <a href="#" class="pm-details-submenu-target">Pikant paprika</a>
              </h3>
              <h3 class="pm-details-submenu-item">
                <a href="#" class="pm-details-submenu-target">Rdeča paprika</a>
              </h3>
              <h3 class="pm-details-submenu-item">
                <a href="#" class="pm-details-submenu-target">Humus</a>
              </h3>

              <h3 class="pm-details-submenu-item accordion-header">
                <a href="#" class="pm-details-submenu-target">Črne olive</a>
              </h3>
              <div class="pm-product accordion-content">
                <div class="pm-product-photo">
                  <a href="#"><img src="images/prod1.png" alt="" class="img-fluid"></a>
                </div>
                <p class="pm-product-dsc">Nežni in kremasti namazi za najmlajše.</p>
              </div>
            </div>

            <h3 class="pm-submenu-item accordion-header">
              <a href="#" class="pm-submenu-target">Argeta Exclusive <span class="sm">Za gurmane</span></a>
            </h3>

            <div class="pm-details accordion-content">
              <!-- Details -->
              <h3 class="pm-details-header">Za <strong>gurmane</strong></h3>

              <!-- Details Submenu -->
              <h3 class="pm-details-submenu-item accordion-header">
                <a href="#" class="pm-details-submenu-target">A la chef Luka Košir</a>
              </h3>
              <div class="pm-product accordion-content">
                <div class="pm-product-photo">
                  <a href="#"><img src="images/prod1.png" alt="" class="img-fluid"></a>
                </div>
                <p class="pm-product-dsc">Vrhunske kulinarične kreacije za gurmane.</p>
              </div>

              <h3 class="pm-details-submenu-item">
                <a href="#" class="pm-details-submenu-target">Jelenova z rožmarinom</a>
              </h3>
              <h3 class="pm-details-submenu-item">
                <a href="#" class="pm-details-submenu-target">Goveja s tartufi</a>
              </h3>
            </div>
          </div>

          <!-- level 1. Navdih -->
          <h3 class="pm-item pm-item-short accordion-header">
            <a href="#" class="pm-target">Navdih</a>
          </h3>

          <div class="pm-details accordion-content">
            <!-- Details -->
            <h3 class="pm-details-header">Svet <strong>navdiha</strong></h3>

            <!-- Details Submenu -->
            <h3 class="pm-details-submenu-item accordion-header active">
              <a href="#" class="pm-details-submenu-target">Zabava</a>
            </h3>
            <div class="pm-product accordion-content active">
              <div class="pm-product-photo">
                <a href="#"><img src="images/prod1.png" alt="" class="img-fluid"></a>
              </div>
              <p class="pm-product-dsc">Poiščite svoj navdih za zabavo, doživetje ali okusen recept.</p>
            </div>

            <h3 class="pm-details-submenu-item">
              <a href="#" class="pm-details-submenu-target">Recepti</a>
            </h3>
            <h3 class="pm-details-submenu-item">
              <a href="#" class="pm-details-submenu-target">Doživetja</a>
            </h3>
          </div>

          <!-- level 1. Kakovost -->
          <h3 class="pm-item pm-item-short accordion-header">
            <a href="#" class="pm-target">Kakovost</a>
          </h3>

          <div class="pm-details accordion-content">
            <!-- Details -->
            <h3 class="pm-details-header">Svet <strong>kakovosti</strong></h3>

            <!-- Details Submenu -->
            <h3 class="pm-details-submenu-item accordion-header active">
              <a href="#" class="pm-details-submenu-target">Free FROM</a>
            </h3>
            <div class="pm-product accordion-content active">
              <div class="pm-product-photo">
                <a href="#"><img src="images/prod1.png" alt="" class="img-fluid"></a>
              </div>
              <p class="pm-product-dsc">Spoznajte Argetin svet pristne kakovosti.</p>
            </div>

            <h3 class="pm-details-submenu-item">
              <a href="#" class="pm-details-submenu-target">Sodobna proizvodnja</a>
            </h3>
            <h3 class="pm-details-submenu-item">
              <a href="#" class="pm-details-submenu-target">Sustianbility</a>
            </h3>
          </div>


          <!-- level 1. O nas -->
          <h3 class="pm-item pm-item-short accordion-header">
            <a href="#" class="pm-target">O nas</a>
          </h3>

          <div class="pm-details accordion-content">
            <!-- Details -->
            <h3 class="pm-details-header">Argetin <strong>svet</strong></h3>

            <!-- Details Submenu -->
            <h3 class="pm-details-submenu-item accordion-header active">
              <a href="#" class="pm-details-submenu-target"> O Argeti</a>
            </h3>
            <div class="pm-product accordion-content active">
              <div class="pm-product-photo">
                <a href="#"><img src="images/prod1.png" alt="" class="img-fluid"></a>
              </div>
              <p class="pm-product-dsc">Vse o vodilni evropski znamki paštet in namazov.</p>
            </div>

            <h3 class="pm-details-submenu-item">
              <a href="#" class="pm-details-submenu-target">Zgodovina Argete</a>
            </h3>
            <h3 class="pm-details-submenu-item">
              <a href="#" class="pm-details-submenu-target">Prisotnost</a>
            </h3>
            <h3 class="pm-details-submenu-item">
              <a href="#" class="pm-details-submenu-target"> Za medije</a>
            </h3>
            <h3 class="pm-details-submenu-item">
              <a href="#" class="pm-details-submenu-target">Kontakt</a>
            </h3>
          </div>

          <!-- level 1. Aktualno -->
          <h3 class="pm-item">
            <a href="#" class="pm-target">Aktualno</a>
          </h3>

          <!-- level 1. Aktualno -->
          <div class="pm-item sm">
            <a href="#" class="buy-btn pm-button">Kje kupiti</a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- Popup Menu - Footer -->
  <div class="pm-item pm-item-footer sm">
    <a href="#" class="btn-pm-hide"></a>
  </div>

  <!-- White background and Shape-->
  <div class="popup-menu-cover">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="popup-menu-shape"></div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- end. Popup Menu Component -->