<!-- begin. Header Navigation -->
<nav class="header-nav">
  <!-- Top Menu -->
  <ul class="top-menu">

    <li>
      <ul class="header-menu">
        <li><a href="/product.html">Izdelki</a></li>
        <li><a href="#">Navdih</a></li>
        <li><a href="#">Kakovost</a></li>
      </ul>
    </li>

    <li>
      <div class="notification-block">
        <a href="#" class="notification">
          <span class="number-block"><span class="number">3</span></span>
          <span class="notification-icon"></span>
        </a>
      </div>
    </li>

    <li>
      <a href="#" class="buy-btn xs-hidden buy-btn-header">Kje kupiti</a>
    </li>

    <li>
      <!-- Toggle Button -->
      <div class="btn-menu-panel">
        <a href="#" id="btnMenuToggle" class="btn-pm-show">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </li>
  </ul>
</nav>
<!-- end. Header Navigation -->